<?php
  //Verifica se usuário faz rede
  if($this->rede==1 || $this->director==1){ 
?>
<h1 class="title"><?php echo $this->tr->_("clientes"); ?></h1>
<div class="card">
  <section class="group">
    <?php if ($this->contract == 2 || $this->director==1) { ?>
    <h2 class="subtitle"><?php if(!empty($this->usernameRede)){ echo "<strong>[ ".$this->tr->_("Nível")." ".$this->level." ]</strong> - ".$this->usernameRede;}else{ echo $this->tr->_("Seus clientes"); } ?></h2>
    <div id="total">
      <h3 class="card__subtitle"><?php echo $this->tr->_("Total"); ?></h3>
      <h6 class="value"><?php if(!empty($this->totalDirects)){ echo $this->totalDirects; }else{ echo '0'; }?></h6>
    </div>
    <?php 
    //Se for diretor aparece a quantidade de agentes
    if($this->director==1){
    ?>
    <div id="total">
      <h3 class="card__subtitle"><?php echo $this->tr->_("Agentes"); ?></h3>
      <h6 class="value"><?php if(!empty($this->agents)){ echo $this->agents; }else{ echo '0'; }?></h6>
    </div>
    <?php } ?>
  </section>
  <section class="group" id="details">
    <h2 class="subtitle"><?php echo $this->tr->_("Detalhes"); ?></h2>
    <div class="table-striped-container">
      <table>
        <thead>
          <tr>
            <th><?php echo $this->tr->_("data"); ?></th>
            <th><?php echo $this->tr->_("Usuário"); ?></th>
            <th><?php echo $this->tr->_("Nome"); ?></th>
            <th><?php echo $this->tr->_("email"); ?></th>
            <th><?php echo $this->tr->_("telefone"); ?></th>
            <?php 
            //Se for diretor aparece a quantidade de agentes
            if($this->rede==1){
            ?>
            <th><?php echo $this->tr->_("Valor investido"); ?></th>
            <?php 
            }
            ?>
            <?php 
            //Se for diretor aparece a quantidade de agentes
            if($this->director==1){
            ?>
            <th><?php echo $this->tr->_("Agente"); ?></th>
            <?php } ?>
          </tr>
        </thead>
        <tbody>
        <?php
    		  foreach ($this->paginator as $item)
    		  {
    			  
    			$registered		= $item["usr_reg_date"];
    			$registered		= explode(" ", $registered);
    			$registered		= explode("-", $registered[0]);
    			$registered		= $registered[2]."/".$registered[1]."/".$registered[0];
    			  
    		?>
          <tr>
            <td><?php echo $registered; ?></td>
            <td><a href="<?php echo LINK_OFFICE; ?>/customers?username=<?php echo $item["usr_login_id"]; ?>"><?php echo $item["usr_login_id"]; ?></a></td>
            <td><?php echo $item["usr_name"]; ?></td>
            <td><?php echo $item["usr_email"]; ?></td>
            <td><?php echo $item["usr_phone"]; ?></td>
            <?php 
            //Se for diretor aparece a quantidade de agentes
            if($this->rede==1){
            ?>
            <td><?="USDT " . number_format($item["sum"], 2, ',', '.'); ?></td>
            <?php } ?>
            <?php 
            //Se for diretor aparece a quantidade de agentes
            if($this->director==1){
            ?>
            <td><?php if($item["usr_rede"]==1){echo "Sim";}else{ echo "Não"; } ?></td>
            <?php } ?>
          </tr>
          <?php } ?>
        </tbody>
      </table>
      <?php 
                $paginator = str_replace('Primeiro', $this->tr->_("Primeiro"),$this->paginator);
                $paginator = str_replace('Anterior', $this->tr->_("Anterior"),$paginator);
                $paginator = str_replace('Próximo', $this->tr->_("Próximo"),$paginator);
                $paginator = str_replace('Último', $this->tr->_("Último"),$paginator);
              
              ?>
              <p><?php echo $paginator; ?></p>
    </div>
  </section>
  <section class="group">
  </section>
  <?php }else{ ?>
    <p><?php echo $this->tr->_("Aguardando assinatura do contrato de agente"); ?>. <a href="/documentation"><?php echo $this->tr->_("Clique aqui para assinar"); ?></a></p>
  <?php } ?>
</div>
<?php } ?>