@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#5f5f5f;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main {
	padding:0;
	margin:0;
	background:#e1e0d5;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	padding:0 0 0 40px;
	float:left;
	width:auto;
}
h1 {
	margin:0;
	padding:24px 0;
	color:#fff;
	font:bold 40px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}
h1 span {
	color:#4799dc;
}
h1 small {
	display:block;
	margin:-4px 0;
	padding:0 0 0 134px;
	font:normal 15px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:normal 24px Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:8px 0;
	color:#323a3f;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
p.spec {
	color:#959595;
}
a {
	color:#56acc2;
	text-decoration:underline;
}
.strong{
	font-weight: bold;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.content, .fbg {
	background:url(images/bg.gif) repeat-y center;
}
.content{
	min-height:600px;
}
.header {
	background-color:#2e3242;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:970px;
}
.hbg {
	background:#4f525b url(images/image.jpg) no-repeat center top;
	height:231px;
}
.menu_nav {
	margin:0;
	padding:12px 0 0;
	float:right;
}
.menu_nav ul {
	list-style:none;
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:0 0 0 14px;
	color:#fff;
	text-decoration:none;
	background:#f00 url(images/menu_l.gif) no-repeat left top;
}
.menu_nav ul li a span {
	display:block;
	margin:0;
	padding:0 14px 0 0;
	background:#f00 url(images/menu_r.gif) no-repeat right top;
}
.menu_nav ul li a span span {
	display:block;
	margin:0;
	padding:8px 8px 26px;
	background:#f00 url(images/menu.gif) repeat-x top;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	background:#f00 url(images/menu_al.gif) no-repeat left top;
}
.menu_nav ul li.active a span, .menu_nav ul li a:hover span {
	background:#f00 url(images/menu_ar.gif) no-repeat right top;
}
.menu_nav ul li.active a span span, .menu_nav ul li a:hover span span {
	background:#f00 url(images/menu_a.gif) repeat-x top;
}
.content_resize {
	margin:0 auto;
	padding:8px 0 0;
	width:970px;
	background:url(images/content_bg.jpg) no-repeat center top;
}
.content .mainbar {
	margin: 0;
	padding: 0;
	float: left;
	width: 970px;
	background: repeat-x bottom;
}
.content .mainbar img {
	padding:4px;
	border:1px solid #b7b7b7;
	background-color:#fff;
}
.content .mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.content .mainbar .article {
	margin:0;
	padding:16px 0 24px 40px;
}
.content .sidebar {
	padding:0;
	float:right;
	width:300px;
}
.content .sidebar .gadget {
	margin:0;
	padding:16px 16px 24px 40px;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0 4px 12px;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0 8px 12px;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#5f5f5f;
	text-decoration:none;
	margin-left:-12px;
	padding-left:12px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#4799dc;
	font-weight:bold;
	background:no-repeat left center;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg_resize {
	margin:0 auto;
	padding:16px 40px 24px;
	width:890px;
	background:url(images/fbg_bg.gif) no-repeat center top;
}
.fbg img {
	border:1px solid #d6d6d6;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 46px 0 0;
	width:296px;
}
.fbg .c2 {
	padding:0 16px;
	width:180px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:320px;
}
.fbg .c1 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
	background-color:#2d2f3d;
}
.footer_resize {
	margin:0 auto;
	padding:32px 40px 24px;
	width:890px;
	background:url(images/footer_bg.gif) repeat-x top;
	color:#fff;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
	color:#fff;
}
.footer a {
	color:#fff;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
