*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input[type="submit"]{
      -webkit-appearance: none !important;
}
@font-face {
  font-family: 'NexaBold';
  src: url('NexaBold.eot?#iefix') format('embedded-opentype'),  url('NexaBold.otf')  format('opentype'),
	     url('NexaBold.woff') format('woff'), url('NexaBold.ttf')  format('truetype'), url('NexaBold.svg#NexaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

input,
button {
    outline: none;
    border: none;
}

body{
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.background {
    height: 100%;
    height: 100vh;
    background-size: cover;
    overflow: auto;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.bg1{
    background-image: url("../images/bg_login.jpg");
}
.bg2{
    background-image: url("../images/04.jpg");
}
.bg3{
    background-image: url("../images/02.jpg");
}
.bg4{
    background-image: url("../images/03.jpg");
}
.cont {
    position: relative;
    width: 100%;
    height: 80vh;
    float: left;
    margin-top: 10vh;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
}
.cont2 {
    position: relative;
    width: 100%;
    min-height: 100%;
    float: left;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
}
.cont2 .box_login{
    margin-top: 23px;
}
.login {
    width: 450px;
    display: inline-block;
    text-align: left;
}
.login h3{
    color: #090c0e;
    font-size: 30px;
    margin-bottom: 5px;
}
.login p.title{
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    color: #090c0e;
    font-size: 25px;
    margin-bottom: 5px;
    border-bottom: 1px solid #999;
    font-weight: 600;
}
.login p.title2{
    width: 100%;
    font-weight: 600;
    text-align: center;
    padding-bottom: 15px;
    color: #090c0e;
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 5px;
    border-bottom: 1px solid #999;
}
.login p.text{
    margin-top: 15px;
    font-size: 14px;
}
.login p.title span{
    color: #777;
}
.login p.title2 span{
    color: #777777;
}
.form_register{
    position: relative;
    margin-top: 12px;
}
.login .pass {
    width: 100%;
    float: left;
    color: #c51b26;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 600;
}
.login .pass a {
    color: #404040;
    text-decoration: none;
}

.login .pass a:hover {
    text-decoration: underline;
}
.logfield{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding-bottom: 5px;
    background: none;
    border-bottom: 1px solid #000000;
}
.cont2 .logfield{
    padding-bottom: 0;
 }
.g-recaptcha{
    margin-top: 10px;
}
.recaptcha2{
    position: relative;
    margin-top: 15px;
    display: inline-block;
}
.logo {
    height: 35px;
    margin-top: 20px;
    display: inline-block;
}

.box_login {
    float: left;
    width: 100%;
    margin-top: 50px;
}


.login ::-webkit-input-placeholder {
    color: #6c7176;
    font-size: 13px;
    line-height: auto;
}

.login :-moz-placeholder {
    color: #6c7176;
    font-size: 13px;
    line-height: auto;
}

.login ::-moz-placeholder {
    color: #6c7176;
    font-size: 13px;
    line-height: auto;
}

.login :-ms-input-placeholder {
    color: #6c7176;
    font-size: 13px;
    line-height: auto;
}
.bt_login{
    width: 195px;
    height: 45px;
    color: #ffffff;
    font-size: 13px;
    margin-top: 10px;
    background-color: #404040;
    border-radius: 2px;
    cursor: pointer;
}
.bt_login:hover{
    background-color: #c6313b;
}
.bt_login2{
    width: 301px;
    height: 45px;
    color: #ffffff;
    font-size: 13px;
    margin-top: 10px;
    background-color: #404040;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 30px;
}
.bt_login2:hover{
    background-color: #c6313b;
}
.bt_ok{
    float: right;
    width: 100px;
    height: 45px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    margin-top: 10px;
    background-color: #404040;
    border-radius: 2px;
    cursor: pointer;
    line-height: 40px;
}
.bt_ok:hover{
    background-color: #c6313b;
}
.center{
    text-align: center;
}
.sponsor{
    width: 100%;
    height: 45px;
    color: #ffffff;
    font-size: 13px;
    margin-top: 10px;
    background-color: #bb0e1a;
    border-radius: 2px;
    cursor: pointer;
    line-height: 40px;
}
.sponsor:hover{
    background-color: #c6313b;
}
.sponsor a{
    text-decoration: none;
    color: #ffffff;
}
label{
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    margin-top: 20px;
    width: 112px;
    float: left;
}
select{
    color: #6c7176;
    border-width: 0;
    border-bottom: 1px solid #000;
}
.border{
    margin-top: 4px;
    width: 318px;
}
input[type="checkbox"]{
    float: left;
    margin-top: 20px;
}
.conditions{
    width: auto;
    font-weight: 600;
    font-size: 13px;
    margin-top: 17px;
    margin-left: 10px;
}
.conditions a{
    text-decoration: none;
    color: #777777;
}
.conditions a:hover{
    text-decoration: underline;
}
@media (max-height: 560px) {
    .logo{
        width: 200px;
    }
    .cont {
        position: relative;
        width: 100%;
        height: auto;
        min-height: 100%;
        float: left;
        margin-top: 0vh;
    }
    .login{
        padding-bottom: 12px;
    }
    .login h3{
        margin-bottom: 0;
    }
    .box_login{
        margin-top: 0;
    }
}
@media (max-height: 320px) {
    .bt_login {
        float: right;
        margin-top: -62px;
    }
    .login{
        padding-bottom: 0;
    }
    .bt_login{
        width: 155px;
    }
}
@media (max-height: 320px) {
    .bt_login {
        float: right;
        margin-top: -62px;
    }
    .login{
        padding-bottom: 0;
    }
    .bt_login{
        width: 155px;
    }
}
@media (min-width: 1900px) {
    .marg_logo{
        margin-top: 11vh;
    }
}
@media (max-width: 450px) {
    .login{
        width: 380px;
    }
    label{
        margin-left: 31px;
    }
    input[type="checkbox"] {
        margin-left: 31px;
    }
}