* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  font-family:"Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif !important;
  background: url("images/bg-full.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8em;
  height: 100%;
}

p{
	margin: 0 0 10px;
}

h2{
    font-size: 30px;
	margin: 5px 0;

}

h3{
    margin:0 0 2px 0;
	font-size: 20px !important;
}

@media(max-width:400px){
h3{
    margin:0 0 2px 0;
	font-size: 18px !important;
}
}

h6{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !important;
	font-weight:bold;
	font-size:13px;
}

.main{
	min-height: 100%;
	background-color:#FFF;
}

* html .main {
	height: 100%; /* hack para IE6 que trata height como min-height */
}

.table-margin {
    margin: 10px 15px;
}

.table-responsive{
	font-size:14px !important;

}

.no-padding{
  padding: 0;
}

.logo{
  padding: 0;
}

.logo img{
  margin: 0.9em 0;
  padding: 0;
  height: 3.2em;
}

.loading{
    width: 48px;
    height: 48px;
    margin-left: -24px; /* metade da largura */
    margin-top: -24px; /* metade da altura */
    position: absolute;
    top: 50%;
    left: 50%;
}

.realtime-data{
  padding-top: 1em;
}

.profile-data{
  padding-top: 0.8em;
}

.text-white{
  color: white;
}

.text-black{
  color: #000;
}

.text-red{
  color: #0266b2;
}

.text-green{
  color: green;
}

.text-blue{
  color: blue;
}

.text-lightblue{
  color: lightblue;
}

.text-yellow{
  color: yellow;
}

.nav>li>a{
  padding: 10px 0;
}

.navbar-inverse{
  background-color: rgba(0,0,0,0.7);
  border-color: rgba(0,0,0,0.7);
}

.text-upper{
  text-transform: uppercase;
}

.smaller{
  font-size: 0.8em;
}

.bold{
	font-weight:bold;
}

.navbar-right h6{
  text-transform: uppercase;
}

.navbar-right h6.text-red{
  text-transform: uppercase;
  color: red;
}

.navbar-right .glyphicon{
  font-size: 2em;
  color: white;
}

.navbar-right .dropdown-menu .glyphicon{
  font-size: 1em;
  color: black;
}

.main-menu-padding-3{
  padding-top:3em;
}

.main-menu-padding-2{
  padding-top:2em;
}

.page-title{
  margin-left: -3em;
}

.title{
  height: 1.2em;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left:0;
}

.title p{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.square-fixed{
  height: 6em;
  width: 6em;
  text-align: center;
  color: white;
  overflow: hidden;
  padding: 1px;
}

.square-fixed [class^="icon-"] {
  font-size: 6em;
}

.square-fixed .bshadow0{
   
}

.square{
  height: 7em;
  text-align: center;
  color: white;
  overflow: hidden;
  padding: 1px;
  border-radius:10px 20px;
}

.square [class^="icon-"] {
  font-size: 8em;
}

.square .pbs{
  margin-top: -0.5em;
}

.square-internal{
  height: 3em;
  width: 3em;
  text-align: center;
  overflow: hidden;
  padding: 0;
}

.square-internal [class^="icon-"] {
  font-size: 3em;
}

.breadcrumb{
  width: 100%;
  height: 5em;
  padding: 0 5em;
  margin: 0;
}

.breadcrumb p{
  line-height: 5em;
  vertical-align: middle;
}

.breadcrumb a{
  color: white;
}

.breadcrumb .search-form{
  margin-left: 0.6em;
}

.breadcrumb .search-form input{
  padding-left: 0.8em;
}

.breadcrumb input[type="text"]{
  line-height: 5em;
  vertical-align: middle;
  background-color: #969695;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
  width: 100%;
}

.breadcrumb glyphicon{
  color: gray;
}

.form-control-feedback{
  line-height: 5em;
}

.breadcrumb input::-webkit-input-placeholder {
  color: white;
  text-transform: uppercase;
}
.breadcrumb input:-moz-placeholder {
  color: white;
  text-transform: uppercase;
}

.mini-breadcrumb{
  width: 100%;
  height: 3em;
  padding: 0 1em;
}

.mini-breadcrumb p{
  line-height: 3em;
  vertical-align: middle;
}

.retangle{
  margin: 10px 0 0 0;
  padding: 0.1em 1em;
    border-left: 1px solid;
    border-color: #999;
}

.retangle p{
	margin: 0;
}

.table thead th{
  text-align: center;
  color: #FFFFFF;
  background-color: #969695;
}

.table tbody{
  text-align: center;
}

.table.align-left tbody td{
  text-align: left;
}

.table-borderless tbody tr td{
  border: none;
}

.table-dark-strip tbody tr:nth-child(odd) {
   background-color: #F2F2F2;
}

.table-dark-strip tbody tr:nth-child(even) {
   background-color: #f9f9f9;
}

[class^="icon-"]{
  color: white;
}

[class^="icon-"] span{
  display: table-cell;
}

.btn-gold {
    color: #D1B061;
    background-color: #fff;
    border-color: #D1B061;
}

.btn-default-gray {
    color: #969695;
    background-color: #FFF;
    border-color: #969695;
}

.btn-gray {
    color: #fff;
    background-color: #999;
    border-color: #999;
}

.select-gold{
  border-color: #D1B061;
}

.options{
  width: 100%;
  height: 3em;
  padding: 0 1em;
  background-color: #EDEDED;
  margin-bottom: 0.2em;
}

.options p{
  color: #969695;
  line-height: 3em;
  vertical-align: middle;
}

.options:hover{
  background-color: #969695;
}

.options p:hover{
  color: white;
}

.jOrgChart {
  width: 100%;
}

.jOrgChart table {
  width: 100%;
}

.jOrgChart .node [class^="icon-icon-"] {
  font-size:2em;
}

.table [class^="icon-icon-"] {
  font-size:2em;
}

.wrapper{
  position: relative;
  min-height: 100%;
  padding-bottom: 3em;
}

.color_gray{
  background-color: #404040;
}

.color_lightgray{
  background-color: #a8d3d4;
}

.color_lightlightgray{
  background-color: #EDEDED;
}

.color_red{
  background-color: #0266b2;
}

.color_darkred{
  background-color: #305589;
}

.color_darkdarkred{
  background-color: #305589;
}

.color_brown{
  background-color: #6192c6;
}

.color_darkbrown{
  background-color: #305589;
}

.color_pink{
  background-color: #189ad0;
}

.color_yellow{
  background-color: #189ad0;
}

.color_black{
  background-color: #132f5e;
}

.color_darkblack{
  background-color: #000;
}

.color_white{
  background-color: white;
}

.color_green{
  background-color: green;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 4.5em;
}

.footer p{
	text-align:center;
	margin: 18px 0;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

input[type="submit"] {
    /*margin-right: 20px;*/
	margin:5px 0;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 0 #036;
    border: 1px solid #0365c0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #0266b2;
    font-size: 16px;
    padding: 5px 20px;
    font-weight: bold;
    /*float: left;*/
}

.clear{
	margin-top:10px;
}

.btn {
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 0 #036;
    border: 1px solid #0365c0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #0266b2;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
    float: left;
}

.col-no-padding {
  padding: 0;
}

.btn-prev,
.btn-next {
    position: absolute;
    top: 10%;
    z-index: 1000;
}

.btn-prev img,
.btn-next img{
    width: 80px;
    height: 80px;
}

.btn-prev {    
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    left: 0px;
}

.btn-next {
    right: 0px;
}

.navbar-nav .col-xs-7{
	width: 122px;
	padding: 0;
}

.imgaccount{
	height: 3.5em;	
}

@media (max-width: 767px){
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
  .page-title {
    padding-left: 5em;
  }
  .slide-height{
    height: 0;
  }
}

@media(min-width:768px){
  .slide-height{
    height: 290px;
  }
}

@media(min-width:992px){
  .slide-height{
    height: 98px;
  }
}

@media(min-width:1200px){}

/* Copyright 2008 Google Inc. All Rights Reserved. */

.google-visualization-orgchart-node {
  text-align: center;
  vertical-align: middle;
  font-family: inherit !important;
  cursor: default;
  border: 0 !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px !important;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px !important;
  background:none !important;
}

.google-visualization-orgchart-node a{
	color:#333333 !important;
}
.google-visualization-orgchart-lineleft {
  border-left: 2px solid #333333 !important;
}

.google-visualization-orgchart-lineright {
  border-right: 2px solid #333333 !important;
}

.google-visualization-orgchart-linebottom {
  border-bottom: 2px solid #333333 !important;
}

#chart_div table {
	border-collapse: separate !important;
    width: auto;
    margin: 0 auto !important;
}

#uplevel{
    margin-bottom:10px;
}
