* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  background: url("images/bg-full.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8em;
}

.logo img{
  height: 5em;
}

.realtime-data{
  padding-top: 1em;
}

.profile-data{
  padding-top: 0.4em;
}

.text-white{
  color: white;
}

.text-red{
  color: red;
}

.text-green{
  color: green;
}

.text-blue{
  color: blue;
}

.text-lightblue{
  color: lightblue;
}

.text-yellow{
  color: yellow;
}

.nav>li>a{
  padding: 10px 0;
}

.navbar-inverse{
  background-color: rgba(0,0,0,0.7);
  border-color: rgba(0,0,0,0.7);
}

.text-upper{
  text-transform: uppercase;
}

.smaller{
  font-size: 0.8em;
}

.navbar-right h6{
  text-transform: uppercase;
}

.navbar-right h6.text-red{
  text-transform: uppercase;
  color: red;
}

.navbar-right .glyphicon{
  font-size: 2em;
  color: white;
}

.navbar-right .dropdown-menu .glyphicon{
  font-size: 1em;
  color: black;
}

.main-menu-padding-3{
  padding-top:3em;
}

.main-menu-padding-2{
  padding-top:2em;
}

.title{
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left:0;
}

.title p{
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.square-fixed{
  height: 6em;
  width: 6em;
  text-align: center;
  color: black;
  overflow: hidden;
  padding: 1px;
}

.square-fixed [class^="icon-"] {
  font-size: 6em;
}

.square-fixed .bshadow0{
   
}

.square{
  height: 7em;
  text-align: center;
  color: black;
  overflow: hidden;
  padding: 1px;
}

.square [class^="icon-"] {
  font-size: 8em;
}

.square-internal{
  height: 3em;
  width: 3em;
  text-align: center;
  overflow: hidden;
  padding: 0;
}

.square-internal [class^="icon-"] {
  font-size: 3em;
}

.breadcrumb{
  width: 100%;
  height: 5em;
  padding: 0 5em;
  margin: 0;
}

.breadcrumb p{
  line-height: 5em;
  vertical-align: middle;
}

.breadcrumb input[type="text"]{
  line-height: 5em;
  vertical-align: middle;
  background-color: #969695;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
  width: 100%;
}

.breadcrumb glyphicon{
  color: gray;
}

.form-control-feedback{
  line-height: 5em;
}

.breadcrumb input::-webkit-input-placeholder {
  color: white;
  text-transform: uppercase;
}
.breadcrumb input:-moz-placeholder {
  color: white;
  text-transform: uppercase;
}

.mini-breadcrumb{
  width: 100%;
  height: 3em;
  padding: 0 5em;
}

.mini-breadcrumb p{
  line-height: 3em;
  vertical-align: middle;
}

.retangle{
  margin: 10px 0 0 0;
}

.table thead th{
  text-align: center;
  background-color: #D1B061;
}

.table tbody{
  text-align: center;
}

.table.align-left tbody td{
  text-align: left;
}

.table-borderless tbody tr td{
  border: none;
}

.table-dark-strip tbody tr:nth-child(odd) {
   background-color: #F2F2F2;
}

.table-dark-strip tbody tr:nth-child(even) {
   background-color: #f9f9f9;
}

[class^="icon-"] span{
  display: table-cell;
}

.btn-gold {
    color: #D1B061;
    background-color: #fff;
    border-color: #D1B061;
}

.btn-gray {
    color: #fff;
    background-color: #999;
    border-color: #999;
}

.select-gold{
  border-color: #D1B061;
}

.options{
  width: 100%;
  height: 3em;
  padding: 0 1em;
  background-color: #EDEDED;
  margin-bottom: 0.2em;
}

.options p{
  color: #969695;
  line-height: 3em;
  vertical-align: middle;
}

.options:hover{
  background-color: #969695;
}

.options p:hover{
  color: white;
}

.footer{
  background-color: #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  left:0;
  height: 3em;
}

.jOrgChart {
  width: 100%;
}

.jOrgChart table {
  width: 100%;
}

.jOrgChart .node [class^="icon-icon-"] {
  font-size:2em;
}

.table [class^="icon-icon-"] {
  font-size:2em;
}

.wrapper{
  position: relative;
  min-height: 100%;
  padding-bottom: 3em;
}

.color_gray{
  background-color: #969695;
}

.color_lightgray{
  background-color: #b0b1af;
}

.color_lightlightgray{
  background-color: #EDEDED;
}

.color_red{
  background-color: #f70000;
}

.color_darkred{
  background-color: #d90000;
}

.color_darkdarkred{
  background-color: #b90000;
}

.color_brown{
  background-color: #bb3a32;
}

.color_darkbrown{
  background-color: #4b0d13;
}

.color_pink{
  background-color: #f31734;
}

.color_yellow{
  background-color: #ff8a56;
}

.color_black{
  background-color: #210001;
}

.color_white{
  background-color: white;
}

.color_green{
  background-color: green;
}

@media (max-width: 767px){
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    background-color: white;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
  
  .fixed{
    width: 24em;
  }
}

@media(min-width:768px){
  .fixed{
    width: 42em;
  }
}

@media(min-width:992px){
  .fixed{
    width: 72em;
  }
}

@media(min-width:1200px){
  .fixed{
    width: 72em;
  }
}