
input, select, textarea { font-family:Arial, Helvetica, sans-serif; color:#595959; font-size:18px; margin:0; padding:0;}

article { width:100%; padding:15px 0 0;}
hgroup { margin-right:20px;}

.form { margin:0; padding:0;}
.form fieldset { border:none; padding: 10px 0 0; margin:0;}
.form .last { margin:0 !important;}

.form h4 { font-size:25px; color:#d93131; line-height:33px; margin-bottom:15px;}
.form h4 span { display:block; float:left; width:13px; padding:0 10px; height:33px; background:url(../images/h4_span.png) no-repeat center; color:#4e4e4e; font-size:19px; font-weight:bold; margin-right:15px; text-shadow:1px 1px 0 #f0f0f0;}

.form .row { margin-bottom:20px;}

.form label { color:#595959; font-size:16px; display:block; float:left; padding-bottom:9px; width:100%; font-weight: normal !important; }
.form label em { color:#e33636; font-weight:bold; margin-left:3px; }
.form label a { color:#d93131;}
.form label .tooltip { display:block; float:right; margin-right:5px; width:17px; height:17px; background:url(../images/tooltip.png) no-repeat;}
.form .inner_labels label { padding:7px 15px 7px 0; width:auto;}

.form input[type="text"], .form input[type="password"], .form select, .form textarea { background:#f5f5f5; box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.1) inset; border:1px solid #c5c5c5; border-radius:0; -moz-border-radius:3px; -webkit-border-radius:3px;}
.form input[type="text"], .form input[type="password"] { width:290px; padding: 1px 10px; height:37px; line-height:33px;}
.form select { padding: 6px 5px; width: 290px; height:37px; line-height:33px;}
.form textarea { padding: 5px 10px; width: 100%; height:95px; line-height:19px; width:580px; font-size:15px;}
.form input[type="checkbox"], .form .row input[type="radio"] { display:block; float:left; margin: 10px 7px 10px 0; }
.form input.hasDatepicker { float:left; width: 137px; margin-right:-27px;}
.form img.ui-datepicker-trigger { float:left; margin-top:9px; !important}

.form input[type="text"]:focus, .form .row input[type="password"]:focus, .form .row select:focus, .form .row textarea:focus, .form .row input[type="text"]:hover, .form .row input[type="password"]:hover, .form .row select:hover, .form .row textarea:hover {  border:1px solid #c5c5c5; box-shadow: 0 0 5px rgba(0,0,0,.21), 0 2px 2px rgba(0,0,0,.1) inset; -moz-box-shadow: 0 0 5px rgba(0,0,0,.21), 0 2px 2px rgba(0,0,0,.1) inset; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.21), 0 2px 2px rgba(0,0,0,.1) inset;}
.form input.error, .form select.error, .form textarea.error { border:1px solid #eb9393; box-shadow: 0 0 5px #f7c4c4; -moz-box-shadow: 0 0 5px #f7c4c4; -webkit-box-shadow: 0 0 5px #f7c4c4; background-color:#fce4e4; }

.form input[type="submit"] { margin-right:20px; cursor:pointer; color:#fff; text-shadow:1px 1px 0 #6d1111; border:1px solid #036; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; background:#0266b2; font-size:16px; padding:5px 20px; font-weight:bold; float:left;}
.form input[type="submit"]:hover { background: #06C;}

.form span.labelx { color:#595959; float:left; line-height:33px; margin:0 10px 0 0;}
.form p.hint { margin:5px 0 0; color:#b0b0b0; font-size:11px;}

.form .item { width:294px; float:left; margin-right:16px;}
.form .item span.label { width:100%; line-height:normal; margin-bottom:10px;}

.form .ui-slider { margin-top:42px; background:url(../images/slider.png) repeat-x; border:none; height:9px; margin-right:4px; }
.form .ui-slider .ui-slider-handle { margin-top:-1px; background: url("../images/slider_handle.png") no-repeat; border: 0 none; cursor: pointer; height: 19px; width: 19px;  }
.form .ui-slider .ui-slider-range { background: url("../images/slider_range.png") repeat-x; border:1px solid #bbb; height:7px; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;}