.container-video {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.01;
    -webkit-animation: load 1.5s 0.8s ease-out forwards;
    animation: load 1.5s 0.8s ease-out forwards;
}

.container-video #video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%) scale(1.05);
    transform: translate(-50%, -50%) scale(1.05);
}

@-webkit-keyframes load {
    100% {
        opacity: 1;
    }
}

@keyframes load {
    100% {
        opacity: 1;
    }
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 72px;
    padding: 0 20px;
    display: table;
    background-color: transparent;
    -webkit-background: linear-gradient(90deg, #fff, #fff, rgba(255, 255, 255, 0.6));
    -moz-background: linear-gradient(90deg, #fff, #fff, rgba(255, 255, 255, 0.6));
    -o-background: linear-gradient(90deg, #fff, #fff, rgba(255, 255, 255, 0.6));
    -ms-background: linear-gradient(90deg, #fff, #fff, rgba(255, 255, 255, 0.6));
    background: linear-gradient(90deg, #fff, #fff, rgba(255, 255, 255, 0.6));
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
}

.price {
    float: left;
    width: 100%;
    background: #000000;
}

.price p {
    float: right;
    color: #ffffff;
    font-size: 10px;
    margin: 0;
    line-height: 24px;
    margin-right: 75px;
}

.price p:nth-of-type(2) {
    margin-right: 20px;
}

.logo img {
    height: 35px;
    float: left;
    margin: 21.5px 0 21.5px 52px;
}

.navbar-login-buttons {
    width: 185px;
    position: relative;
    float: right;
    margin-right: 52px;
}

.navbar-login-buttons .navbar-btn-signup {
    display: inline-block;
    padding: 3px 16px;
    vertical-align: middle;
    margin: 25px 0;
    cursor: pointer;
    border: 1px solid;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #0c0c0c;
    color: #ffffff;
    border-color: #0c0c0c;
    float: left;
}

.navbar-login-buttons .navbar-btn-login {
    display: inline-block;
    padding: 3px 16px;
    vertical-align: middle;
    margin: 25px 0;
    cursor: pointer;
    border: 1px solid;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #0c0c0c;
    border-color: #0c0c0c;
    float: right;
}

#content {
    height: 100%;
    overflow: auto;
    min-height: 100%;
    float: left;
    /*
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    
    -webkit-justify-content: center;
    justify-content: center;
    */
}

#intro {
    width: 515px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -55px;
    margin-right: -250px;
    background: rgba(255, 255, 255, 0.9);
    padding: 23px;
}

#intro h1 {
    font-family: Arial;
    font-size: 40px;
    letter-spacing: 4px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.4em;
    color: #404040;
}

#intro p {
    line-height: 2em;
    letter-spacing: 2px;
    text-align: center;
    color: #0c0c0c;
}

#intro .btn-install {
    display: block;
    text-transform: uppercase;
    padding: 17px;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
    letter-spacing: 2px;
    background-color: #0c0c0c;
    color: #ffffff;
    border: 1px solid #0c0c0c;
}

#intro .btn-learn {
    display: block;
    text-transform: uppercase;
    padding: 17px;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
    letter-spacing: 2px;
    color: #0c0c0c;
    border: 1px solid #0c0c0c;
}

#login-modal {
    width: 600px;
    height: 395px;
    overflow: hidden;
    background: #f5f5f5;
    padding: 36px 60px 60px 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#login-modal h3 {
    font-size: 34px;
    letter-spacing: 4px;
    margin: 0 0 18px 0;
    font-weight: 900;
    line-height: 1.4em;
}

.facebook {
    background-color: #3B5998;
    border-color: #3B5998;
    color: #fff;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;
    position: relative;
}

.facebook .facebook-icon {
    width: 42px;
    padding-left: 18px;
    display: table-cell;
    vertical-align: middle;
}

.facebook .facebook-log {
    padding-left: 32px;
    text-align: left;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
}

.facebook .facebook-log p {
    margin: 0;
    padding: 20px 0;
    font-weight: 600;
    letter-spacing: 1.5px;
}

#login-modal .or {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.form-login {
    width: 100%;
}

textarea:focus,
input:focus {
    outline: none;
}

.form-login .input-user {
    width: 100%;
    height: 50px;
    padding-left: 16px;
    position: relative;
    background-color: #ffffff;
    border: 0;
    margin-top: 10px;
}

.form-login .btn-login {
    width: 100%;
    height: 50px;
    padding-left: 16px;
    position: relative;
    background-color: #8d8c8c;
    color: #ffffff;
    border: 0;
    margin-top: 10px;
    letter-spacing: 2px;
}

.forgot-pass,
.create-acc {
    text-align: center;
}

.forgot-pass {
    margin-top: 10px !important;
}

#forgot-pass-modal {
    width: 600px;
    height: 300px;
    overflow: hidden;
    background: #f5f5f5;
    padding: 36px 60px 60px 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#forgot-pass-modal h3 {
    font-size: 34px;
    letter-spacing: 4px;
    margin: 0 0 18px 0;
    font-weight: 900;
    line-height: 1.4em;
}

#sign-modal h3 {
    font-size: 34px;
    letter-spacing: 4px;
    margin: 0 0 18px 0;
    font-weight: 900;
    line-height: 1.4em;
}

#sign-modal {
    width: 600px;
    height: 522px;
    overflow: auto;
    background: #f5f5f5;
    padding: 36px 60px 60px 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#sign-modal .or {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

footer {
    width: 100%;
    height: 60px;
    background: #ffffff;
    bottom: 0;
    position: absolute;
    padding-top: 18px;
}

footer .bit_logo {
    height: 25px;
    float: left;
}
footer .logo_footer {
    height: 25px;
    float: right;
}

.text_footer{
    display: inline-block;
}
.content_footer {
    width: 1192px;
    margin: 0 auto;
    text-align: center;
}
@media screen and (max-width: 1200px) {
    .content_footer {
        width: 360px;
    }
    
    footer {
        text-align: center;
        height: 118px;
        float: left;
        position: relative;
        padding-top: 0px;
    }
    footer .it_footer {
        display: inline-block;
        margin: auto;
        float: none;
        margin-top: 12px;
    }
    .text_footer{
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
    #login-modal,
    #forgot-pass-modal,
    #sign-modal {
        width: 300px;
    }
    #forgot-pass-modal {
        height: 311px;
    }
    .facebook .facebook-log p {
        padding: 13px 0;
    }
    #login-modal,
    #forgot-pass-modal,
    #sign-modal {
        padding: 17px 23px 60px 23px;
    }
}

@media screen and (max-width: 1285px) {
}
@media screen and (max-width: 550px) {
    .content_footer{
        padding-bottom: 10px
    }
    #intro {
        width: 300px;
        margin-right: -150px;
        margin-top: -55px;
        text-align: center;
    }
    .logo img {
        height: 40px;
        float: none;
        position: relative;
        left: 50%;
        margin: 13px 0 0 -75px;
    }
    .navbar-login-buttons {
        float: none;
        margin: 0 auto;
    }
    .price {
        padding: 5px 30%;
    }
    .price p {
        width: 100%;
        float: left;
        text-align: center;
        line-height: 16px;
    }
}