    <?php if ($this->pageCount): ?>
    <!-- First page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->first)); ?>">
        Primeiro
      </a> |
    <?php else: ?>
      <span class="disabled">Primeiro</span> |
    <?php endif; ?>
     
    <!-- Previous page link -->
    <?php if (isset($this->previous)): ?>
      <a href="<?php echo $this->url(array('page' => $this->previous)); ?>">
        &lt; Anterior
      </a> |
    <?php else: ?>
      <span class="disabled">&lt; Anterior</span> |
    <?php endif; ?>
     
    <!-- Next page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->next)); ?>">
        Próximo &gt;
      </a> |
    <?php else: ?>
      <span class="disabled">Próximo &gt;</span> |
    <?php endif; ?>
     
    <!-- Last page link -->
    <?php if (isset($this->next)): ?>
      <a href="<?php echo $this->url(array('page' => $this->last)); ?>">
        Último
      </a>
    <?php else: ?>
      <span class="disabled">Último</span>
    <?php endif; ?>
     
    </div>
    <?php endif; ?>