@charset "utf-8";

@import url('reset.css');

#downline
{
	width					: 1080px;
	height					: 850px;
	position					: relative;
	margin					: 0 auto;
	
}


#downline #rede
{
	width					: 100%;
	height					: 365px;
	position					: absolute;
	left						: 0px;
	top						: 200px;
	border					: 1px solid #f2f2f2;
	margin-top: 15px;
}







#downline #rede a
{
	text-align				:center;
}

#downline #rede a:hover
{
	/*-webkit-transform	: rotate(360deg);
	transition				: all 0.5s ease;*/
	text-align				:center;

}


#downline #rede .rede_topo /* NÍVEL TOP */
{
	width					: 47px;
	height					: 47px;
	position					: absolute;
	top						: 0px;
	left						: 506.5px;
	z-index					:10;


}


#downline #rede .rede_1a /* NÍVEL 01 - A */
{
	width					: 47px;
	height					: 47px;
	position					: absolute;
	top						: 74px;
	left						: 258px;
	z-index					:10;
	

}

#downline #rede .rede_1b /* NÍVEL 01 - B */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 74px;
	right					:  258px;
	z-index					:10;
	

}

#downline #rede .rede_2a /* NÍVEL 02 - A */
{
	width					: 47px;
	height					: 47px;
	position					: absolute;
	top						: 148px;
	left						: 154px;
	z-index					: 10;
	text-align				:center;

}

#downline #rede .rede_2b /* NÍVEL 02 - B */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						:148px;
	left					: 371px;
	z-index:10;

}

#downline #rede .rede_2c /* NÍVEL 02 - C */
{
	width					: 47px;
	height				: 47px;
	position				: absolute;
	top						:  148px;
	right					: 370px;
	z-index				: 10;

}

#downline #rede .rede_2d /* NÍVEL 02 - D */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 148px;
	right					: 153px;
	z-index				: 10;

}

#downline #rede .rede_3a /* NÍVEL 03 - A */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top					: 222px;
	left					: 103px;
	z-index				: 10;

	
}

#downline #rede .rede_3b /* NÍVEL 03 - B */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top					: 222px;
	left					: 204px;
	z-index				: 10;

}

#downline #rede .rede_3c /* NÍVEL 03 - C */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 222px;
	left					: 319px;
	z-index				: 10;

}

#downline #rede .rede_3d /* NÍVEL 03 - D */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 222px;
	left					: 421px;
	z-index				: 10;

	
}



#downline #rede .rede_3e /* NÍVEL 03 - E */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top					:  222px;
	right					: 419px;
	z-index				: 10;

}

#downline #rede .rede_3f /* NÍVEL 03 - F */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top					:  222px;
	right					: 317px;
	z-index				: 10;

}

#downline #rede .rede_3g /* NÍVEL 03 - G */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top					:  222px;
	right					: 202px;
	z-index				: 10;

}

#downline #rede .rede_3h /* NÍVEL 03 - H */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top					:  222px;
	right					: 100px;
	z-index				: 10;

}


#downline #rede .rede_4a /* NÍVEL 04 - A */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	left					: 77px;
	z-index				: 10;

}

#downline #rede .rede_4b /* NÍVEL 04 - B */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	left					: 130px;
	z-index				: 10;

	
}

#downline #rede .rede_4c /* NÍVEL 04 - C */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	left					: 178px;
	z-index				: 10;

}

#downline #rede .rede_4d /* NÍVEL 04 - D */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	left					: 230px;
	z-index				: 10;

}

#downline #rede .rede_4e /* NÍVEL 04 - E */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	left					: 294px;
	z-index				: 10;

}

#downline #rede .rede_4f /* NÍVEL 04 - F */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	left					: 344px;
	z-index				: 10;

}

#downline #rede .rede_4g /* NÍVEL 04 - G */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	left					:   396px;
	z-index				: 10;

}

#downline #rede .rede_4h /* NÍVEL 04 - H */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	left					: 447px;
	z-index				: 10;

}




#downline #rede .rede_4i /* NÍVEL 04 - I */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	right					: 444px;
	z-index				: 10;

}

#downline #rede .rede_4j /* NÍVEL 04 - J */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	right					: 392px;
	z-index				: 10;

}

#downline #rede .rede_4k /* NÍVEL 04 - K */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	right					: 339px;
	z-index				: 10;

}

#downline #rede .rede_4l /* NÍVEL 04 - L */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	right					: 286px;
	z-index				: 10;

}

#downline #rede .rede_4m /* NÍVEL 04 - M */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	right					: 229px;
	z-index				: 10;

}

#downline #rede .rede_4n /* NÍVEL 04 - N */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	right					: 173px;
	z-index				: 10;

}

#downline #rede .rede_4o /* NÍVEL 04 - O */
{
	width					: 47px;
	height					: 47px;
	position				: absolute;
	top						: 296px;
	right					: 127px;
	z-index				: 10;

}

#downline #rede .rede_4p /* NÍVEL 04 - P */
{
	width					: 47px;
	height					: 47px;
	position					: absolute;
	top						: 296px;
	right						: 72px;
	z-index					: 10;

}



#downline .loading
{
	/*width					: 134px;
	height					: 134px;*/
	background			: url(/public/images/loading-icon.gif) no-repeat;
	/*background-size: 134px;*/
	position				    : absolute;
	top						: 350px;
	left					: 480px;
	z-index: 999999;
}

#downline .bt_top
{
	width					: 200px;
	height					: 53px;
	background				: url(/public/images/bt_top.png) no-repeat;
	position				: absolute;
	top						: 157px;
	left					: 50px;
}


#downline .bt_up_level
{
	width					: 200px;
	height					: 53px;
	background				: url(/public/images/bt_up_level.png) no-repeat;
	position				: absolute;
	top						: 157px;
	left					: 250px;
}

#downline .bt_bottom_left
{
	width					: 200px;
	height					: 53px;
	background				: url(/public/images/bt_bottom_left.png) no-repeat;
	position				: absolute;
	top						: 157px;
	left					: 450px;
}

#downline .bt_bottom_right
{
	width					: 200px;
	height					: 53px;
	background				: url(/public/images/bt_bottom_right.png) no-repeat;
	position				: absolute;
	top						: 157px;
	left					: 647px;
}

#downline .bt_top:hover, .bt_up_level:hover, .bt_bottom_left:hover, .bt_bottom_right:hover
{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}


#downline #rede .linha_1a  /* ok aquiles*/
{
	width: 260px;
	height: 19px;
	left: 280px;
	position: absolute;
	top: 51px;
	right: 280px;
	border: 4px solid #4eb0e7;
	border-bottom: 0px;
	border-right: 0px;
}

#downline #rede .linha_1b /* ok aquiles*/
{
	width: 260px;
	height: 19px;
	position: absolute;
	top: 51px;
	right: 280px;
	border: 4px solid #4eb0e7;
	border-bottom: 0px;
	border-left: 0px;
}

#downline #rede .linha_2a /* ok aquiles*/
{
	width					: 221px;
	height					: 19px;
	border: 4px solid #4eb0e7;
	border-bottom: 0px;
	/*background				: url(/public/images/linha_hor.png) no-repeat;*/
	position				: absolute;
	top						: 126px;
	left					: 175px;
	
}



#downline #rede .linha_2b /* ok aquiles*/
{
	width					: 10px;
	height					: 50px;
	background				: url(/public/images/linha_vert.png) no-repeat;
	position				: absolute;
	top						: 65px;
	left					: 276px;
	z-index: 7;
	display:				none;
}



#downline #rede .linha_2c
{
	width					: 221px;
	height					: 19px;
	border: 4px solid #4eb0e7;
	border-bottom: 0px;
	/*background				: url(/public/images/linha_hor.png) no-repeat;*/
	position				: absolute;
	top						: 126px;
	right					: 175px;
	
}

#downline #rede .linha_2d
{
	width					: 10px;
	height					: 50px;
	background				: url(/public/images/linha_vert.png) no-repeat;
	position				: absolute;
	top						: 65px;
	right					: 276px;
	display:				none;
}

#downline #rede .linha_3a
{
	width					: 106px;
	height					: 19px;
	border: 4px solid #4eb0e7;
	border-bottom: 0px;
	/*background				: url(/public/images/linha_hor.png) no-repeat;*/
	position				: absolute;
	top						: 200px;
	left					:  124px;
	
}

#downline #rede .linha_3b
{
	width					: 10px;
	height					: 50px;
	background		 	: url(/public/images/linha_vert.png) no-repeat;
	/*background			: url(/public/images/linha_3b.png) no-repeat;*/
	position				: absolute;
	top						: 114px;
	left					: 166px;
	display:				none;
	}

#downline #rede .linha_3c
{
	width				: 106px;
	height					: 19px;
	border: 4px solid #4eb0e7;
	border-bottom: 0px;
	/*background			: url(/public/images/linha_hor.png) no-repeat;*/
	position				    : absolute;
	top						: 200px;
	left					    : 340px;
}

#downline #rede .linha_3d
{
	width					: 10px;
	height					: 50px;
	background		 	: url(/public/images/linha_vert.png) no-repeat;
	position				    : absolute;
	top						: 114px;
	left					    : 396px;
	display:				none;
}


#downline #rede .linha_3e
{
	width					: 106px;
	height					: 19px;
	border: 4px solid #4eb0e7;
	border-bottom: 0px;
	/*background			: url(/public/images/linha_hor.png) no-repeat;*/
	position				    : absolute;
	top						: 200px;
	right					    : 339px;
	
}

#downline #rede .linha_3f
{
	width					: 10px;
	height					: 50px;
	background			: url(/public/images/linha_vert.png) no-repeat;
	position				    : absolute;
	top						: 114px;
	right					    : 396px;
	display:				none;
	
}

#downline #rede .linha_3g
{
	width					: 106px;
	height					: 19px;
	border: 4px solid #4eb0e7;
	border-bottom: 0px;
	/*background				: url(/public/images/linha_hor.png) no-repeat;*/
	position				: absolute;
	top						: 200px;
	right					: 123px;
}

#downline #rede .linha_3h
{
	width					: 10px;
	height					: 50px;
	background		 	: url(/public/images/linha_vert.png) no-repeat;
	position				    : absolute;
	top						: 114px;
	right					    : 165px;
	display:				none;
}





#downline #rede .linha_4a
{
	width				: 60px;
	height				: 19px;
	border: 3px solid #4eb0e7;
	border-bottom: 0px;
	/*background		: url(/public/images/linha_hor.png) no-repeat;*/
	position				: absolute;
	top					: 273px;
	left					: 97px;
	
}

#downline #rede .linha_4b
{
	width					: 10px;
	height					: 50px;
	background			: url(/public/images/linha_vert.png) no-repeat;
	position					: absolute;
	top						: 168px;
	left						: 112px;
	display:				none;
	
}

#downline #rede .linha_4c
{
	width					: 60px;
	height					: 19px;
	border: 3px solid #4eb0e7;
	border-bottom: 0px;
	/*background				: url(/public/images/linha_hor.png) no-repeat;*/
	position				: absolute;
	top					: 273px;
	left					: 197px;
	
}

#downline #rede .linha_4d
{
	width					: 10px;
	height					: 50px;
	background				: url(/public/images/linha_vert.png) no-repeat;
	position				: absolute;
	top						: 168px;
	left					: 223px;
	display:none;
}

#downline #rede .linha_4e
{
	width					: 60px;
	height					: 19px;
	border: 3px solid #4eb0e7;
	border-bottom: 0px;
	/*background				: url(/public/images/linha_hor.png) no-repeat;*/
	position				: absolute;
	top					: 273px;
	left					: 312px;
}

#downline #rede .linha_4f
{
	width					: 10px;
	height					: 50px;
	background				: url(/public/images/linha_vert.png) no-repeat;
	position				: absolute;
	top						: 168px;
	left					: 343px;
	display:				none;
}

#downline #rede .linha_4g
{
	width					: 60px;
	height					: 19px;
	border: 3px solid #4eb0e7;
	border-bottom: 0px;
	/*background				: url(/public/images/linha_hor.png) no-repeat;*/
	position				: absolute;
	top					: 273px;
	left					: 414px;
}

#downline #rede .linha_4h
{
	width					: 10px;
	height					: 50px;
	background				: url(/public/images/linha_vert.png) no-repeat;
	position				: absolute;
	top						: 168px;
	left					: 454px;
	display:				none;
}


#downline #rede .linha_4i
{
	width					: 60px;
	height					: 19px;
	border: 3px solid #4eb0e7;
	border-bottom: 0px;
	/*background				: url(/public/images/linha_hor.png) no-repeat; */
	position				: absolute;
	top					: 273px;
	right					: 413px;
	}

#downline #rede .linha_4j
{
	width					: 10px;
	height					: 50px;
	background				: url(/public/images/linha_vert.png) no-repeat;
	position				: absolute;
	top						: 168px;
	right					: 454px;
	border					: 1px solid blue;
	display: none;
}

#downline #rede .linha_4k
{
	width					: 60px;
	height					: 19px;
	border: 3px solid #4eb0e7;
	border-bottom: 0px;
	/*background				: url(/public/images/linha_hor.png) no-repeat;*/
	position				: absolute;
	top					: 273px;
	right					: 307px;
}

#downline #rede .linha_4l
{
	width					: 10px;
	height					: 50px;
	background				: url(/public/images/linha_vert.png) no-repeat;
	position				: absolute;
	top						: 168px;
	right					: 343px;
	display: none;
}

#downline #rede .linha_4m
{
	width: 60px;
	height: 19px;
	border: 3px solid #4eb0e7;
	border-bottom: 0px;
	/* background: url(/public/images/linha_hor.png) no-repeat; */
	position: absolute;
	top		: 273px;
	right: 195px;
}

#downline #rede .linha_4n
{
	width					: 10px;
	height					: 50px;
	background				: url(/public/images/linha_vert.png) no-repeat;
	position				: absolute;
	top						: 168px;
	right					: 223px;
	display:none;
}

#downline #rede .linha_4o
{
	width: 60px;
	height: 19px;
	border: 3px solid #4eb0e7;
	border-bottom: 0px;
	/* background: url(/public/images/linha_hor.png) no-repeat; */
	position: absolute;
	top: 273px;
	right: 94px;
}

#downline #rede .linha_4p
{
	width				: 10px;
	height				: 50px;
	background		: url(/public/images/linha_vert.png) no-repeat;
	position				: absolute;
	top					: 168px;
	right					: 112px;
	display:				none;
}

 /* ./fim arvore */



#downline #searchbar
{
	width					: 420px;
	height					: 50px;
	position				: absolute;
	top						: 130px;
}

#downline #searchbar .search
{
	width					: 67px;
	height					: 18px;
	position				: absolute;
	top						: 5px;
	left					: 0px;
	font-size				: 14px;
}

#downline #searchbar .text_search
{
	width					: 240px;
	height					: 18px;
	text-height				: 18px;
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #000000;
	outline					: none;
	position				: absolute;
	top						: 0px;
	left					: 0px;
	padding					: 2px;
}

#downline #searchbar .bt_search
{
	width					: 30px;
	height					: 30px;
	background				: url(/public/images/bt_search.png) no-repeat;
	position				: absolute;
	top						: 0px;
	left					: 250px;
}

#downline #searchbar .error
{
	text-height				: 15px;
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	border					: none;
	color					: #900;
	position				: absolute;
	top						: 55px;
	left					: 0px;
	padding					: 6px;
}

#downline #lateral_down .pesqs
{
	text-height				: 15px;
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	border					: none;
	color					: #096;
	position				: absolute;
	top						: 55px;
	left					: 0px;
	padding					: 6px;
	display					: none;
}

#downline #lateral_down .nivel
{
	width					: 138px;
	height					: 18px;
	background				: url(/public/images/tit_nivel.png) no-repeat;
	position				: absolute;
	top						: 100px;
	left					: 0px;
}

#downline #lateral_down .resultado
{
	width					: 173px;
	height					: 18px;
	background				: url(/public/images/tit_resultado.png) no-repeat;
	position				: absolute;
	top						: 100px;
	left					: 0px;
	display					: none;
}

#downline #lateral_down #content_listag
{
	width					: 340px;
	height					: 352px;
	position				: absolute;
	right					: 0px;
	top						: 125px;
	overflow-y				: scroll;
}

#downline #lateral_down #content_listag .link
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #6d6d6d;
	text-decoration     	: none;
}

#downline #lateral_down #content_listag a:link
{
	text-decoration     	: none;
}

#downline #lateral_down #content_listag a:visited
{
	text-decoration     	: none;
}

#downline #lateral_down #content_listag a:hover
{
	text-decoration			: underline;
}

#downline #content_info
{
	width					: 970px;
	height					: 105px;
	position				: absolute;
	top						: 520px;
	padding					: 5px;
}

#downline #content_info .tituser
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 18px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	top						: 5px;
}

#downline #content_info .titcadt
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	top						: 30px;
}

#downline #content_info .valcadt
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 100px;
	top						: 30px;
}

#downline #content_info .titdata
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 420px;
	top						: 70px;
}

#downline #content_info .valdata
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 560px;
	top						: 70px;
}

#downline #content_info .titativ
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	top						: 50px;
}

#downline #content_info .valativ
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #090;
	text-decoration     	: none;
	position				: absolute;
	left					: 100px;
	top						: 50px;
}

#downline #content_info .valinat
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #C00;
	text-decoration     	: none;
	position				: absolute;
	left					: 100px;
	top						: 50px;
}

#downline #content_info .titqualify
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	top						: 70px;
}

#downline #content_info .valqual
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #090;
	text-decoration     	: none;
	position				: absolute;
	left					: 100px;
	top						: 70px;
}

#downline #content_info .valdesq
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #C00;
	text-decoration     	: none;
	position				: absolute;
	left					: 100px;
	top						: 70px;
}

#downline #content_info .perpesq
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 720px;
	top						: 30px;
}

#downline #content_info .titpesq
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 720px;
	top						: 50px;
}

#downline #content_info .titpesq:link
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 720px;
	top						: 50px;
}

#downline #content_info a:link
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #6d6d6d;
	text-decoration			: underline;
}

#downline #content_info .valpesq
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 780px;
	top						: 50px;
}

#downline #content_info .titpdir
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 720px;
	top						: 70px;
}

#downline #content_info .valpdir
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 780px;
	top						: 70px;
}

#downline #content_info .titvlgesq
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 420px;
	top						: 30px;
}

#downline #content_info .valvlgesq
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 560px;
	top						: 30px;
}

#downline #content_info .titvlgdir
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 420px;
	top						: 50px;
}

#downline #content_info .valvlgdir
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 560px;
	top						: 50px;
}

#downline #content_info .titpatr
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	top						: 90px;
}

#downline #content_info .valpatr
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 80px;
	top						: 90px;
}

#downline #content_info .titpess
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 421px;
	top						: 90px;
}

#downline #content_info .valpess
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	left					: 570px;
	top						: 90px;
}

#downline #content_info .titqual
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #6d6d6d;
	text-decoration     	: none;
	position				: absolute;
	top						: 110px;
}

#downline #content_info .yesqual
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #090;
	text-decoration     	: none;
	position				: absolute;
	left					: 100px;
	top						: 110px;
}

#downline #content_info .noqual
{
	font-family				: Arial, Helvetica, sans-serif;
	font-size				: 12px;
	color					: #C00;
	text-decoration     	: none;
	position				: absolute;
	left					: 100px;
	top						: 110px;
}

#downline #content_info .barra_titulo
{
	width					: 915px;
	height					: 1px;
	background-color		: #666;
	position				: absolute;
	top						: 22px;
}

#downline #content_info .line
{
	width					: 915px;
	height					: 1px;
	background-color		: #D7D7D7;
	position				: absolute;
	top						: 130px;
}

#downline #content_info .combo
{
	width					: 50px;
	height					: 140px;
	position				: absolute;
	top						: 0px;
	left					: 0px;
}

#mask
{
	width					: 1000px;
	height					: 500px;
	position				: absolute;
	background				: url(/public/images/mascara.png);
	z-index					: 9999;
	display					: none;
}

#downline #legend_info
{
	width					: 970px;
	height					: 150px;
	position				: absolute;
	left					: 10px;
	top						: 670px;
	border					: none;
}