 @import "bourbon";

body {
    background-image: url("../images/bg8.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #020764; 
}

.wrapper {  
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
    .checkbox {
      margin-bottom: 30px;
    }

    .checkbox {
      font-weight: normal;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
        @include box-sizing(border-box);

        &:focus {
          z-index: 2;
        }
    }

    input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
}
.form-signin-heading {
    text-align: center;
}
.form-signin-heading, #lgn_user, #lgn_pass, #recaptcha_widget_div {
    margin-bottom: 10px;
}
#error {
    display:none; 
    background-color: #ffebe8; 
    text-align:center; 
    border: 1px solid #c00; 
    padding:5px; 
    color: #c00; 
    margin:0 auto;
    margin-bottom: 10px;
}
#info {
    display:none; 
    background-color: green; 
    text-align:center; 
    border: 1px solid darkgreen; 
    padding:5px; 
    color: #FFF; 
    margin:0 auto;
    margin-bottom: 10px;
}

@media screen and (max-height: 575px){
#rc-imageselect, .g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}