body {

    background-image: url("../images/bg8.jpg");

    background-repeat: repeat;

    background-position: left center;

    background-attachment: fixed;

    background-color: #020764;

    font: 11px "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;

}

label {

    font-size: 14px;

    text-align: right;

}

h1 {

    font-weight: bold;

    font-size: 20px;

    color: rgb(0, 100, 165);

    line-height: 26px;

    display: block;

}

h2 {

    font-weight: bold;

    font-size: 16px;

    color: rgb(0, 135, 50);

    line-height: 26px;

    display: block;

}

h3 {

    font-weight: bold;

    font-size: 14px;

    line-height: 18px;

    display: block;

}

td {

    vertical-align: middle;

    color: rgb(100, 100, 100);

    font: 12px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;

    line-height: 20px;

    text-align: right;

}

td a {color: rgb(100, 100, 100);}

p {text-align: center;}

img {border: 0;}

input[type=submit], input[type=button], button {

	display: inline-block;

	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */

	*display: inline;

	vertical-align: baseline;

	margin: 0 2px;

	outline: none;

	cursor: pointer;

	text-align: center;

	text-decoration: none;

	font: 12px/100% Arial, Helvetica, sans-serif;

	padding: .4em 1.5em .42em;	

	text-shadow: 0 1px 1px rgba(0,0,0,.3);

	-webkit-border-radius: .5em; 

	-moz-border-radius: .5em;

	border-radius: .5em;

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);

	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);

	box-shadow: 0 1px 2px rgba(0,0,0,.2);

	color: #d9eef7;

	border: solid 1px #0076a3;

	background: #0095cd;

	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));

	background: -moz-linear-gradient(top,  #00adee,  #0078a5);

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');

}

input[type=submit]:hover, input[type=button]:hover, button:hover {

	text-decoration: none;

	background: #007ead;

	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));

	background: -moz-linear-gradient(top,  #0095cc,  #00678e);

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');

}

input[type=submit]:active, input[type=button]:active, button:active {

	position: relative;

	top: 1px;

	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));

	background: -moz-linear-gradient(top,  #0078a5,  #00adee);

	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');

}

input[type=text], input[type=password], textarea {

    font: 24px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;

    color: rgb(100, 100, 100);

    background: #fbfbfb;

    padding: 3px;

    margin: 6px;

    border: 1px solid #e5e5e5;

    -moz-border-radius: 6px;

    -khtml-border-radius: 6px;

    -webkit-border-radius: 6px;

    border-radius: 6px;

}

input[type=text]:focus, input[type=password]:focus, textarea:focus {

	border-color: rgb(100, 100, 100);

}

.error, .info {

    margin: 0 0 16px 8px;

    padding: 8px;

    border-radius: 3px;

}

.error {

    background-color: #ffebe8;

    border: 1px solid #c00;

    color: #c00;

}

.info {

    background-color: #BDE5F8;

    border: 1px solid #00529B;

    color: #00529B;

}

.info a {

    color: #00529B;

}

#box {

    position:absolute;

    top: 50%;

    left: 50%;

    width:60em;

    height:38em;

    margin-top: -19em;

    margin-left: -30em;

}

.footer, .footer a {

    font: 9px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;

    color: rgb(255, 255, 255);

    line-height: 20px;

    font-weight: bold;

    text-decoration: none;

}

.tipsy { padding: 5px; font-size: 10px; opacity: 0.9; filter: alpha(opacity=90); background-repeat: no-repeat;  background-image: url(/temas/ezicms/images/style1/tipsy.gif); }

.tipsy-inner { padding: 4px 10px 4px 10px; background-color:#222; color: white; max-width: 140px; text-align: center; }

.tipsy-inner { -moz-border-radius:5px; -webkit-border-radius:5px;border-radius:5px; }

.tipsy-north { background-position: top center; }

.tipsy-south { background-position: bottom center; }

.tipsy-east { background-position: right center; }

.tipsy-west { background-position: left center; }

