/* CSS Document */



body {
	margin: 0;
	padding: 0;
	background: #FFF;
	font-size: 13px;
	font-family:Arial, Helvetica, sans-serif;
	color: #000000;
}
form {
	margin: 0;
	padding: 0;
}
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
input, textarea {
	font: normal 1em Arial, Helvetica, sans-serif;
	padding:3px;
	margin:3px 0 0 0;
}
h1, h1 a, h2, h2 a, h3, h3 a {
	margin: 0;
	text-decoration: none;
	font-weight: normal;
	color: #CF3822;
}
h1 {
	letter-spacing: -3px;
	font-size: 2.0em;
}
h2 {
	letter-spacing: -2px;
	font-size: 2em;
}
h3 {
	margin-bottom: 2em;
	font-size: 1em;
	font-weight: bold;
}
p, ol, ul {
	margin: 0 0 2em 0;
	line-height: 200%;
}
blockquote {
	margin: 0 0 0 1.5em;
	padding-left: 1em;
	border-left: 5px solid #DDDDDD;
}
a {
	color: #666666;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FF5134;
}
img {
	border: none;
}
img.left {
	float: left;
	margin: 8px 20px 0px 0px;
	border: 2px solid #434343;
}
#page {
	padding:0;
	margin:100px auto;
	width: 766px;
	position:relative;
	background:#FFF;
}
#login {
	padding:0;
	margin:0 auto;
	width: 200px;
	position:relative;
	font: 12px "Tahoma";
	font-weight:bold;
}
#login .erro {
	color: #FFFFFF;
	background:#CC0000;
	text-align:center;
}
#logo {
	padding:0;
	width: 387px;
	position:relative;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}
