@charset "utf-8";

@import url('reset.css');

body
{
	background				: #000000;
 	overflow-x				: hidden;
	overflow-y				: auto;
	padding					: 0px;
	margin					: 0px;
	height					: 100%
}

/* TOPO */

#topo
{
	width					: 100%;
	height					: 30px;
	position				: relative;
	margin					: 0 auto;
	background				: #333;
}

/* BASE */

#base
{
	background-image		: url(../images/base.png);
	width					: 100%;
	position				: absolute;
	bottom					: 0px;
	margin					: 0 auto;
}
#base #direitos
{
	width					: 1000px;
	height					: 60px;
	position				: relative;
	margin					: 0 auto;
}
#base #direitos .logo
{
	width					: 32px;
	height					: 29px;
	position				: absolute;
	background				: url(../images/base_blackdever.png) center no-repeat;
	bottom					: 10px;
	left					: 0px;
}
#base #direitos .ico_facebook
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_facebook.png) center no-repeat;
	bottom					: 6px;
	right					: 135px;
}
#base #direitos .ico_twitter
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_twitter.png) center no-repeat;
	bottom					: 6px;
	right					: 90px;
}
#base #direitos .ico_youtube
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_youtube.png) center no-repeat;
	bottom					: 6px;
	right					: 45px;
}
#base #direitos .ico_vimeo
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_vimeo.png) center no-repeat;
	bottom					: 6px;
	right					: 0px;
}
#base #direitos .copyright
{
	width					: 400px;
	height					: 22px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: none;
	margin					: 0 auto;
	color					: #FFFFFF;
	position				: relative;
	top						: 30px;
	text-align				: center;
}

/* CENTRO */

.centro
{
	width					: 100%;
	height					: 400px;
	margin					: 0 auto;
}
.centro .box
{
	width					: 1000px;
	height					: 400px;
	position				: relative;
	margin					: 0 auto;
}
.centro .box .logo
{
	width					: 273px;
	height					: 86px;
	background				: url(../images/logo_blackdever.png) center no-repeat;
	position				: absolute;
	top						: 140px;
	left					: 100px;
}
.centro .box .frm_recupera
{
	width					: 300px;
	height					: 400px;
	background-image		: url(../images/fundo_recupera.png);
	position				: absolute;
	right					: 60px;
	top						: 0px;
}
.centro .box .frm_recupera .informacao
{
	padding					: 5px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #FFFFFF;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
	position				: absolute;
	top						: 105px;
	left					: 10px;
	width					: 250px;
}
.centro .box .frm_recupera .expirada
{
	padding					: 5px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #F00;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
	position				: absolute;
	top						: 125px;
	left					: 10px;
	width					: 250px;
}
.centro .box .frm_recupera .imprime_msg
{
	padding					: 5px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #FF0;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
	position				: absolute;
	top						: 290px;
	left					: 10px;
	width					: 250px;
	font-weight				: bold;
	display					: none;
}
.centro .box .frm_recupera .dig_senha
{
	width					: 200px;
	height					: 20px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px #D7D7D7;
	color					: #000000;
	position				: absolute;
	top						: 170px;
	left					: 15px;
	padding					: 0 5px;
}
.centro .box .frm_recupera .dig_redigite
{
	width					: 200px;
	height					: 20px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px #D7D7D7;
	color					: #000000;
	position				: absolute;
	top						: 200px;
	left					: 15px;
	padding					: 0 5px;
}
.centro .box .frm_recupera .dig_capt
{
	width					: 200px;
	height					: 20px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px #D7D7D7;
	color					: #000000;
	position				: absolute;
	top						: 230px;
	left					: 15px;
	padding					: 0 5px;
}
.centro .box .frm_recupera .dig_captcha
{
	width					: 86px;
	height					: 28px;
	border					: none;
	position				: absolute;
	top						: 260px;
	left					: 15px;
}
.centro .box .frm_recupera .dig_renovar
{
	width					: 100px;
	height					: 14px;
	border					: none;
	position				: absolute;
	top						: 270px;
	left					: 110px;
	background				: url(../images/renovar_captcha.png);
}
.centro .box .frm_recupera .ok
{
	width					: 52px;
	height					: 30px;
	position				: absolute;
	background				: url(../images/bt_ok.png) center no-repeat;
	top						: 230px;
	right					: 15px;
}
.centro .box .frm_recupera .imprime_error
{
	padding					: 5px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	font-weight				: bold;
	color					: #F00;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
	position				: absolute;
	top						: 290px;
	left					: 10px;
	width					: 250px;
	display					: none;
}
.centro .box .frm_recupera .novasol
{
	width					: 200px;
	height					: 30px;
	position				: absolute;
	top						: 220px;
	left					: 5px;
}
.centro .box .frm_recupera .novasol a
{
	padding					: 8px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 13px;
	color					: #FFFFFF;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
}
.centro .box .frm_recupera .novasol a:hover
{
	color					: #D7D7D7;
}
.centro .box .frm_recupera .novasol .sel
{
	color					: #F5F5F5;
}
.centro .box .frm_recupera .acesse
{
	width					: 200px;
	height					: 30px;
	position				: absolute;
	top						: 330px;
	left					: 20px;
}
.centro .box .frm_recupera .acesse a
{
	padding					: 8px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 13px;
	color					: #FFFFFF;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
}
.centro .box .frm_recupera .acesse a:hover
{
	color					: #D7D7D7;
}
.centro .box .frm_recupera .acesse .sel
{
	color					: #F5F5F5;
}