@charset "utf-8";

@import url('reset.css');

body
{
	background				: #FFFFFF;
 	/*overflow-x				: hidden;*/
	overflow-y				: auto;
	padding					: 0px;
	margin					: 0px;
	height					: 100%
}

/* TOPO */

#topo
{
	background-image		: url(../images/topo.png);
	width					: 100%;
	height					: 160px;
	position				: relative;
	margin					: 0 auto;
}
#topo #menu_superior
{
	width					: 1000px;
	height					: 30px;
	position				: relative;
	margin					: 0 auto;
}
#topo #menu_superior .divisao
{
	padding					: 8px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 10px;
	color					: #FFFFFF;
	text-decoration			: none;
	display					: inline-block;
	font-weight				: bold;
	float					: left;
}
#topo #menu_superior a
{
	padding					: 8px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 10px;
	color					: #FFFFFF;
	text-decoration			: none;
	display					: inline-block;
	font-weight				: bold;
	float					: left;
}
#topo #menu_superior a:hover
{
	color					: #D7D7D7;
}
#topo #menu_superior .sel
{
	color					: #F5F5F5;
}
#topo #cabecalho
{
	width					: 1000px;
	height					: 130px;
	position				: relative;
	margin					: 0 auto;
}

#topo #cabecalho .logoff
{
	width					: 72px;
	height					: 30px;
	position				: absolute;
	background				: url(../images/bt_sair.png) center no-repeat;
	top						: 20px;
	right					: 0px;
	color:#C00;
}
#topo #cabecalho #identificacao
{
	width					: 672px;
	height					: 30px;
	position				: absolute;
	top						: 20px;
	right					: 0px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 15px;
	font-weight				: bold;
	color					: #FFFFFF;
	text-decoration			: none;
}
#topo #cabecalho #identificacao .cxalta
{
	text-transform			: uppercase;
}
#topo #cabecalho #calendario
{
	width					: 672px;
	height					: 20px;
	position				: absolute;
	top						: 40px;
	right					: 0px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	color					: #FFFFFF;
	text-decoration			: none;
}
#topo #cabecalho #faixa
{
	width					: 680px;
	height					: 60px;
	background				: url(../images/faixa.png) center no-repeat;
	position				: absolute;
	bottom					: 0px;
	right					: 0px;
}
#topo #cabecalho #faixa #lado1
{
	width					: 400px;
	height					: 40px;
	float					: left;
	margin-left				: 25px;
	padding-top				: 5px;
}
#topo #cabecalho #faixa #lado1 #superior
{
	width					: 400px;
	height					: 20px;
	float					: left;
}
#topo #cabecalho #faixa #lado1 #inferior
{
	width					: 400px;
	height					: 20px;
	float					: left;
}
#topo #cabecalho #faixa #lado1 #superior .titulo_id
{
	width					: 70px;
	height					: 16px;
	float					: left;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	color					: #FFFFFF;
	text-decoration			: none;
	margin-top				: 5px;
}
#topo #cabecalho #faixa #lado1 #superior .titulo_es
{
	width					: 110px;
	height					: 16px;
	float					: left;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	color					: #FFFFFF;
	text-decoration			: none;
	margin-top				: 5px;
}
#topo #cabecalho #faixa #lado1 #superior .titulo_di
{
	width					: 100px;
	height					: 16px;
	float					: left;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	color					: #FFFFFF;
	text-decoration			: none;
	margin-top				: 5px;
}
#topo #cabecalho #faixa #lado1 #superior .titulo_ap
{
	width					: 120px;
	height					: 16px;
	float					: left;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	color					: #FFFFFF;
	text-decoration			: none;
	margin-top				: 5px;
}
#topo #cabecalho #faixa #lado1 #inferior .informacao_id
{
	width					: 70px;
	height					: 16px;
	float					: left;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	font-weight				: bold;
	color					: #D7D7D7;
	text-decoration			: none;
}
#topo #cabecalho #faixa #lado1 #inferior .informacao_es
{
	width					: 110px;
	height					: 16px;
	float					: left;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	font-weight				: bold;
	color					: #D7D7D7;
	text-decoration			: none;
}
#topo #cabecalho #faixa #lado1 #inferior .informacao_di
{
	width					: 100px;
	height					: 16px;
	float					: left;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	font-weight				: bold;
	color					: #D7D7D7;
	text-decoration			: none;
}
#topo #cabecalho #faixa #lado1 #inferior .informacao_ap
{
	width					: 120px;
	height					: 16px;
	float					: left;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	font-weight				: bold;
	color					: #D7D7D7;
	text-decoration			: none;
}
#topo #cabecalho #faixa #lado2
{
	width					: 228px;
	height					: 40px;
	float					: left;
	padding-top				: 5px;
}
#topo #cabecalho #faixa #lado2 #superior
{
	width					: 228px;
	height					: 20px;
	float					: left;
}
#topo #cabecalho #faixa #lado2 #inferior
{
	width					: 228px;
	height					: 20px;
	float					: left;
}
#topo #cabecalho #faixa #lado2 #superior .titulo
{
	width					: 200px;
	height					: 16px;
	float					: left;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	color					: #FFFFFF;
	text-decoration			: none;
	margin-top				: 5px;
}
#topo #cabecalho #faixa #lado2 .selecao
{
	width					: 180px;
	height					: 22px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	border					: none;
	margin-top				: 2px;
	margin-bottom			: 5px;
	padding-left			: 3px;
	background-color		: #D7D7D7;
	color					: #000000;
}
#topo #cabecalho #faixa #lado2 .selecionaPerna
{
	width					: 52px;
	height					: 30px;
	position				: absolute;
	background				: url(../images/bt_ok.png) center no-repeat;
	bottom					: 6px;
	right					: 25px;
	margin					: 0;
	padding					: 0;
	border					: 0;
	outline					: 0;
	cursor					: pointer;
}

/* BASE */

#base_login
{
	background-image		: url(../images/base.png);
	width					: 100%;
	position				: absolute;
	bottom					: 0px;
	margin					: 0 auto;
}
#base_login #direitos
{
	width					: 1000px;
	height					: 60px;
	position				: relative;
	margin					: 0 auto;
}
#base_login #direitos .ico_facebook
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_facebook.png) center no-repeat;
	bottom					: 6px;
	right					: 135px;
}
#base_login #direitos .ico_twitter
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_twitter.png) center no-repeat;
	bottom					: 6px;
	right					: 90px;
}
#base_login #direitos .ico_youtube
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_youtube.png) center no-repeat;
	bottom					: 6px;
	right					: 45px;
}
#base_login #direitos .ico_vimeo
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_vimeo.png) center no-repeat;
	bottom					: 6px;
	right					: 0px;
}
#base_login #direitos .copyright
{
	width					: 400px;
	height					: 22px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: none;
	margin					: 0 auto;
	color					: #FFFFFF;
	position				: relative;
	top						: 30px;
	text-align				: center;
}
#base
{
	background-image		: url(../images/base.png);
	width					: 100%;
	position				: relative;
	margin					: 0 auto;
}
#base #direitos .ico_facebook
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_facebook.png) center no-repeat;
	bottom					: 6px;
	right					: 135px;
}
#base #direitos .ico_twitter
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_twitter.png) center no-repeat;
	bottom					: 6px;
	right					: 90px;
}
#base #direitos .ico_youtube
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_youtube.png) center no-repeat;
	bottom					: 6px;
	right					: 45px;
}
#base #direitos .ico_vimeo
{
	width					: 36px;
	height					: 36px;
	position				: absolute;
	background				: url(../images/ico_vimeo.png) center no-repeat;
	bottom					: 6px;
	right					: 0px;
}
#base #direitos
{
	width					: 1000px;
	height					: 60px;
	position				: relative;
	margin					: 0 auto;
}

#base #direitos .copyright
{
	width					: 400px;
	height					: 22px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: none;
	margin					: 0 auto;
	color					: #FFFFFF;
	position				: relative;
	top						: 30px;
	text-align				: center;
}

/* LOGIN */

.login
{
	width					: 100%;
	min-height				: 400px;
	height					: 100%;
	margin					: 0 auto;
}
.login .box
{
	width					: 1000px;
	height					: 400px;
	position				: relative;
	margin					: 0 auto;
}
.login .box .precadastro
{
	width					: 533px;
	height					: 400px;
	background-image		: url(../images/destaque.png);
	position				: absolute;
	left					: 60px;
	top						: 0px;
}
.login .box .frm_login
{
	width					: 300px;
	height					: 400px;
	background-image		: url(../images/fundo_login.png);
	position				: absolute;
	right					: 60px;
	top						: 0px;
}
.login .box .frm_login .lgn_user
{
	width					: 150px;
	height					: 16px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px #D7D7D7;
	color					: #000000;
	position				: absolute;
	top						: 80px;
	right					: 20px;
	padding					: 50px 0;
}
.login .box .frm_login .lgn_pass
{
	width					: 150px;
	height					: 16px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px #D7D7D7;
	color					: #000000;
	position				: absolute;
	top						: 110px;
	right					: 20px;
	padding					: 50px 0;
}
.login .box .frm_login .ok
{
	width					: 52px;
	height					: 30px;
	position				: absolute;
	background				: url(../images/bt_ok.png) center no-repeat;
	top						: 140px;
	right					: 20px;
}
.login .box .frm_login .lembpass
{
	width					: 200px;
	height					: 30px;
	position				: absolute;
	top						: 190px;
	left					: 5px;
}
.login .box .frm_login .lembpass a
{
	padding					: 8px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 13px;
	color					: #FFFFFF;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
}
.login .box .frm_login .lembpass a:hover
{
	color					: #D7D7D7;
}
.login .box .frm_login .lembpass .sel
{
	color					: #F5F5F5;
}
.login .box .frm_login .lembraid
{
	width					: 200px;
	height					: 30px;
	position				: absolute;
	top						: 190px;
	left					: 155px;
}
.login .box .frm_login .lembraid a
{
	padding					: 8px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 13px;
	color					: #FFFFFF;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
}
.login .box .frm_login .lembraid a:hover
{
	color					: #D7D7D7;
}
.login .box .frm_login .lembraid .sel
{
	color					: #F5F5F5;
}
.login .box .frm_login .skype
{
	width					: 50px;
	height					: 50px;
	position				: absolute;
	background				: url(../images/bt_skype.png) center no-repeat;
	top						: 325px;
	right					: 110px;
}
.login .box .frm_login .email
{
	width					: 50px;
	height					: 50px;
	position				: absolute;
	background				: url(../images/bt_email.png) center no-repeat;
	top						: 325px;
	right					: 40px;
}
.login .box .frm_lembr
{
	width					: 300px;
	height					: 400px;
	background-image		: url(../images/fundo_lembrete.png);
	position				: absolute;
	right					: 60px;
	top						: 0px;
	display					: none;
}
.login .box .frm_lembr .informacao
{
	padding					: 5px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #FFFFFF;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
	position				: absolute;
	top						: 50px;
	right					: 20px;
	width					: 158px;
}
.login .box .frm_lembr .lmb_cpf
{
	width					: 160px;
	height					: 16px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px $D7D7D7;
	color					: #000000;
	position				: absolute;
	top						: 110px;
	right					: 20px;
}
.login .box .frm_lembr .lmb_email
{
	width					: 160px;
	height					: 16px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px $D7D7D7;
	color					: #000000;
	position				: absolute;
	top						: 140px;
	right					: 20px;
}
.login .box .frm_lembr .ok
{
	width					: 52px;
	height					: 30px;
	position				: absolute;
	background				: url(../images/bt_ok.png) center no-repeat;
	top						: 170px;
	right					: 20px;
}
.login .box .frm_lembr .acesse
{
	width					: 200px;
	height					: 30px;
	position				: absolute;
	top						: 190px;
	left					: 5px;
}
.login .box .frm_lembr .acesse a
{
	padding					: 8px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 13px;
	color					: #FFFFFF;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
}
.login .box .frm_lembr .acesse a:hover
{
	color					: #D7D7D7;
}
.login .box .frm_lembr .acesse .sel
{
	color					: #F5F5F5;
}
.login .box .frm_lembr .skype
{
	width					: 50px;
	height					: 50px;
	position				: absolute;
	background				: url(../images/bt_skype.png) center no-repeat;
	top						: 325px;
	right					: 110px;
}
.login .box .frm_lembr .email
{
	width					: 50px;
	height					: 50px;
	position				: absolute;
	background				: url(../images/bt_email.png) center no-repeat;
	top						: 325px;
	right					: 40px;
}
.login .box .frm_lemid
{
	width					: 300px;
	height					: 400px;
	background-image		: url(../images/fundo_lembraid.png);
	position				: absolute;
	right					: 60px;
	top						: 0px;
	display:none;
}
.login .box .frm_lemid .informacao
{
	padding					: 5px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #FFFFFF;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
	position				: absolute;
	top						: 50px;
	right					: 20px;
	width					: 158px;
}
.login .box .frm_lemid .lid_cpf
{
	width					: 160px;
	height					: 16px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px $D7D7D7;
	color					: #000000;
	position				: absolute;
	top						: 110px;
	right					: 20px;
}
.login .box .frm_lemid .lid_email
{
	width					: 160px;
	height					: 16px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px $D7D7D7;
	color					: #000000;
	position				: absolute;
	top						: 140px;
	right					: 20px;
}
.login .box .frm_lemid .ok
{
	width					: 52px;
	height					: 30px;
	position				: absolute;
	background				: url(../images/bt_ok.png) center no-repeat;
	top						: 170px;
	right					: 20px;
}
.login .box .frm_lemid .acesse
{
	width					: 200px;
	height					: 30px;
	position				: absolute;
	top						: 190px;
	left					: 5px;
}
.login .box .frm_lemid .acesse a
{
	padding					: 8px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 13px;
	color					: #FFFFFF;
	text-decoration			: none;
	display					: inline-block;
	float					: left;
}
.login .box .frm_lemid .acesse a:hover
{
	color					: #D7D7D7;
}
.login .box .frm_lemid .acesse .sel
{
	color					: #F5F5F5;
}
.login .box .frm_lemid .skype
{
	width					: 50px;
	height					: 50px;
	position				: absolute;
	background				: url(../images/bt_skype.png) center no-repeat;
	top						: 325px;
	right					: 110px;
}
.login .box .frm_lemid .email
{
	width					: 50px;
	height					: 50px;
	position				: absolute;
	background				: url(../images/bt_email.png) center no-repeat;
	top						: 325px;
	right					: 40px;
}

/* CENTRO */

.centro
{
	width					: 100%;
	min-height				: 600px;
	margin					: 0 auto;
}
.centro .conteudo
{
	width					: 980px;
	height					: 100%;
	margin					: 0 auto;
}
.centro .conteudo .titulo
{
	width					: 360px;
	height					: 35px;
	position				: relative;
	top						: 0px;
	left					: 0px;
	padding-top				: 20px;
	padding-bottom			: 20px;
}
.centro .conteudo .legenda_qualificado
{
	width					: 180px;
	height					: 60px;
	position				: relative;
	top						: 0px;
	left					: 0px;
}
.centro .conteudo .subtitulo
{
	width					: 360px;
	height					: 25px;
	position				: relative;
	top						: 0px;
	left					: 0px;
	padding-top				: 20px;
	padding-bottom			: 20px;
}
.centro .conteudo .texto
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
.centro .conteudo .texto .titulo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	font-weight : bold;
	color		: #333;
	text-align	: left;
	margin		: 0;
	padding		: 0;	
}
.centro .conteudo .bloco
{
	width					: 100%;
	height					: 25px;
	position				: relative;
	top						: 0px;
	left					: 0px;
	padding-top				: 2px;
	padding-bottom			: 2px;
}
.centro .conteudo .bloco_salvar
{
	width					: 100%;
	height					: 25px;
	position				: relative;
	top						: 0px;
	left					: 0px;
	padding-top				: 20px;
	padding-bottom			: 20px;
}
.centro .conteudo .bloco .caption
{
	width					: 230px;
	height					: 23px;
	position				: relative;
	float					: left;
	font-family				: Arial;
	font-size				: 14px;
	font-weight				: bold;
	color					: #000000;
	text-align				: right;
	padding-top				: 2px;
	padding-right			: 10px;
}
.centro .conteudo .bloco .campo
{
	width					: 710px;
	height					: 25px;
	position				: relative;
	float					: left;
}
.centro .conteudo .bloco .campo .texto_grande
{
	width					: 400px;
	height					: 16px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px $D7D7D7;
	color					: #000000;
}
.centro .conteudo .bloco .campo .texto_medio
{
	width					: 250px;
	height					: 16px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px $D7D7D7;
	color					: #000000;
}
.centro .conteudo .bloco .campo .texto_pequeno
{
	width					: 150px;
	height					: 16px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px $D7D7D7;
	color					: #000000;
}
.centro .conteudo .bloco .campo .texto_mini
{
	width					: 80px;
	height					: 16px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px $D7D7D7;
	color					: #000000;
}
.centro .conteudo .bloco .campo .mensagem_grande
{
	width					: 400px;
	height					: 120px;
	min-width				: 400px;
	min-height				: 120px;
	max-width				: 400px;
	max-height				: 120px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px $D7D7D7;
	color					: #000000;
}
.centro .conteudo .bloco .caption_fechado
{
	width					: 500px;
	height					: 23px;
	position				: relative;
	float					: left;
	font-family				: Arial;
	font-size				: 15px;
	color					: #000000;
	padding-top				: 2px;
	padding-right			: 10px;
}
.centro .conteudo .bloco .campo .mensagem
{
	width					: 400px;
	height					: 16px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 11px;
	border					: solid 1px $D7D7D7;
	color					: #000000;
}
.centro .conteudo .bloco_salvar .bt_save
{
	width					: 72px;
	height					: 30px;
	position				: absolute;
	background				: url(../images/bt_save.jpg) center no-repeat;
	bottom					: 20px;
	left					: 232px;
	margin					: 0;
	padding					: 0;
	border					: 0;
	outline					: 0;
	cursor					: pointer;
}
.centro .conteudo .bloco_salvar .contato_enviar
{
	width					: 71px;
	height					: 29px;
	position				: absolute;
	background				: url(../images/bt_enviar.png) center no-repeat;
	bottom					: 20px;
	left					: 562px;
	margin					: 0;
	padding					: 0;
	border					: 0;
	outline					: 0;
	cursor					: pointer;
}
.centro .conteudo .bloco_salvar .cad_cancelar
{
	width					: 88px;
	height					: 30px;
	position				: absolute;
	background				: url(../images/bt_cancelar.png) center no-repeat;
	bottom					: 20px;
	left					: 460px;
	margin					: 0;
	padding					: 0;
	border					: 0;
	outline					: 0;
	cursor					: pointer;
}
.centro .conteudo .bloco_salvar .pass_salvar
{
	width					: 72px;
	height					: 30px;
	position				: absolute;
	background				: #EEEEEEE;
	bottom					: 20px;
	left					: 562px;
	margin					: 0;
	padding					: 0;
	border					: 0;
	outline					: 0;
	cursor					: pointer;
}
.centro .conteudo .bloco_salvar .pass_cancelar
{
	width					: 88px;
	height					: 30px;
	position				: absolute;
	background				: url(../images/bt_cancelar.png) center no-repeat;
	bottom					: 20px;
	left					: 460px;
	margin					: 0;
	padding					: 0;
	border					: 0;
	outline					: 0;
	cursor					: pointer;
}
.centro .conteudo .bloco_salvar .atualizar
{
	width					: 72px;
	height					: 28px;
	position				: absolute;
	background				: url(../images/bt_edit.jpg) center no-repeat;
	bottom					: 10px;
	left					: 208px;
}
.icones
{
	width					: 1000px;
	min-height				: 80px;
	margin					: 40px auto;
}
.icones a
{
	position				: relative;
	float					: left;
	margin					: 0 6px;
}
.icones .home
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_home_grd.png);
}
.icones .organizacao
{
	width					: 129px;
	height					: 95px;
	background				: url(../images/ico_organizacao_grd.png);
}
.icones .financeiro
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_financeiro_grd.png);
}
.icones .dados
{
	width					: 129px;
	height					: 93px;
	background				: url(../images/ico_cadastro_grd.png);
}
.icones .senha
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_senha_grd.png);
}
.icones .atendimento
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_atendimento_grd.png);
}
.icones .meubinario
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_meubinario_grd.png);
}
.icones .meutitulo
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_meutitulo_grd.png);
}
.icones .relatoriobonus
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_relatoriobonus_grd.png);
}
.icones .qualificacao
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_qualificacao_grd.png);
}

.icones .pedidos
{
	width					: 129px;
	height					: 89px;
	background				: url(../images/ico_pedidos_grd.png);
}
.icones .dadosconta
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_dadosconta_grd.png);
}
.icones .meuextrato
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_meuextrato_grd.png) center no-repeat;
}
.icones .meuscadastrados
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_meuscadastrados_grd.png);
}
.icones .mktdigital
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_mkt_grd.png);
}
.icones .contrato
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_contrato_grd.png);
}
.icones .assinaturas
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_assinaturas_grd.png);
}
.icones .avancotitulo
{
	width					: 129px;
	height					: 92px;
	background				: url(../images/ico_avancotitulo_grd.png);
}
#iconestopo
{
	width					: 100%;
	height					: 85px;
	position				: absolute;
	background				: #eeeeee;
}
#iconestopo .iconestopo
{
	width					: 1000px;
	height					: 65px;
	position				: relative;
	margin					: 10px auto;
}
#iconestopo .iconestopo .esquerda
{
	width					: 19px;
	height					: 26px;
	position				: absolute;
	top						: 20px;
	left					: 0;
	background				: url(../images/seta_esq.png);
}
#iconestopo .iconestopo .direita
{
	width					: 19px;
	height					: 26px;
	position				: absolute;
	top						: 20px;
	right					: 0;
	background				: url(../images/seta_dir.png);
}
#iconestopo .iconestopo .slide
{
	width					: 940px;
	height					: 65px;
	position				: relative;
	margin					: 0 auto;
	overflow				: hidden;
}
#iconestopo .iconestopo .slide .dragme{
	width					: 50000px;
	height					: 65px;
	position				: relative;
}
#iconestopo .iconestopo .slide a
{
	position				: relative;
	float					: left;
	margin					: 0 5px;	
}
#iconestopo .iconestopo .slide .home
{
	width					: 86px;
	height					: 66px;
	background				: url(../images/ico_home.png);
}
#iconestopo .iconestopo .slide .organizacao
{
	width					: 90px;
	height					: 66px;
	background				: url(../images/ico_organizacao.png);
}
#iconestopo .iconestopo .slide .dadosconta
{
	width					: 92px;
	height					: 66px;
	background				: url(../images/ico_dadosconta.png);
}
#iconestopo .iconestopo .slide .contrato
{
	width					: 76px;
	height					: 66px;
	background				: url(../images/ico_contrato.png);
}
#iconestopo .iconestopo .slide .financeiro
{
	width					: 82px;
	height					: 64px;
	background				: url(../images/ico_financeiro.png);
}
#iconestopo .iconestopo .slide .meuscadastrados
{
	width					: 90px;
	height					: 64px;
	background				: url(../images/ico_meuscadastrados.png);
}
#iconestopo .iconestopo .slide .meuextrato
{
	width					: 96px;
	height					: 64px;
	background				: url(../images/ico_meuextrato.png) center no-repeat;
}
#iconestopo .iconestopo .slide .mktdigital
{
	width					: 90px;
	height					: 64px;
	background				: url(../images/ico_mkt.png);
}
#iconestopo .iconestopo .slide .dados
{
	width					: 90px;
	height					: 64px;
	background				: url(../images/ico_cadastro.png);
}
#iconestopo .iconestopo .slide .senha
{
	width					: 82px;
	height					: 64px;
	background				: url(../images/ico_senha.png);
}
#iconestopo .iconestopo .slide .atendimento
{
	width					: 82px;
	height					: 64px;
	background				: url(../images/ico_atendimento.png);
}
#iconestopo .iconestopo .slide .meubinario
{
	width					: 82px;
	height					: 64px;
	background				: url(../images/ico_meubinario.png);
}
#iconestopo .iconestopo .slide .meutitulo
{
	width					: 82px;
	height					: 64px;
	background				: url(../images/ico_meutitulo.png);
}
#iconestopo .iconestopo .slide .relatoriobonus
{
	width					: 91px;
	height					: 64px;
	background				: url(../images/ico_relatoriobonus.png);
}
#iconestopo .iconestopo .slide .qualificacao
{
	width					: 82px;
	height					: 64px;
	background				: url(../images/ico_qualificacao.png);
}

#iconestopo .iconestopo .slide .pedidos
{
	width					: 63px;
	height					: 64px;
	background				: url(../images/ico_pedidos.png);
}
#iconestopo .faixa
{
	width					: 100%;
	height					: 1px;
	position				: absolute;
	bottom					: 0;
	left					: 0;
	background				: #a9a8a8;
}

.tabelafinanceiro {
	width					: 100%;
	min-height				: 100px;
	position				: relative;
}
.tabelafinanceiro .cabecalho {
	width					: 100%;
	min-height				: 30px;
	position				: relative;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #333;
}
.tabelafinanceiro .cabecalho .fatura {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	font-weight				: bold;
	height					: 30px;
	line-height				: 30px;
	width					: 130px;
	position				: relative;
	float					: left;
	text-align				: center;
	color					: #FFFFFF;
	background				: #000000;
	border					: solid 1px #D7D7D7;
}
.tabelafinanceiro .cabecalho .referente {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	font-weight				: bold;
	height					: 30px;
	line-height				: 30px;
	width					: 252px;
	position				: relative;
	float					: left;
	text-align				: center;
	color					: #FFFFFF;
	background				: #000000;
	border					: solid 1px #D7D7D7;
}
.tabelafinanceiro .cabecalho .data {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	font-weight				: bold;
	height					: 30px;
	line-height				: 30px;
	width					: 130px;
	position				: relative;
	float					: left;
	text-align				: center;
	color					: #FFFFFF;
	background				: #000000;
	border					: solid 1px #D7D7D7;
}
.tabelafinanceiro .cabecalho .vencimento {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	font-weight				: bold;
	height					: 30px;
	line-height				: 30px;
	width					: 130px;
	position				: relative;
	float					: left;
	text-align				: center;
	color					: #FFFFFF;
	background				: #000000;
	border					: solid 1px #D7D7D7;
}
.tabelafinanceiro .cabecalho .valor {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	font-weight				: bold;
	height					: 30px;
	line-height				: 30px;
	width					: 130px;
	position				: relative;
	float					: left;
	text-align				: center;
	color					: #FFFFFF;
	background				: #000000;
	border					: solid 1px #D7D7D7;
}
.tabelafinanceiro .cabecalho .status {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	font-weight				: bold;
	height					: 30px;
	line-height				: 30px;
	width					: 190px;
	position				: relative;
	float					: left;
	text-align				: center;
	color					: #FFFFFF;
	background				: #000000;
	border					: solid 1px #D7D7D7;
}

.tabelafinanceiro .dados {
	width					: 100%;
	min-height				: 30px;
	position				: relative;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #333;
}
.tabelafinanceiro .dados .fatura {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	width					: 130px;
	min-height				: 30px;
	line-height				: 30px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
}
.tabelafinanceiro .dados .referente {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	width					: 252px;
	min-height				: 30px;
	line-height				: 30px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
}
.tabelafinanceiro .dados .data {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	width					: 130px;
	min-height				: 30px;
	line-height				: 30px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
}
.tabelafinanceiro .dados .vencimento {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	width					: 130px;
	min-height				: 30px;
	line-height				: 30px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
}
.tabelafinanceiro .dados .valor {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	width					: 130px;
	min-height				: 30px;
	line-height				: 30px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
}
.tabelafinanceiro .dados .status {
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 14px;
	width					: 190px;
	min-height				: 30px;
	line-height				: 30px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
}
.tabelafinanceiro .dados .status a {
	color					: #F00;
	text-decoration			: none;
}
.tabelafinanceiro .dados .status a:hover {
	color					: #F00;
	text-decoration			: underline;
}


#pedidos .texto {
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	color		: #333;
	text-align	: left;
	margin		: 0;
	padding		: 0;	
}
#pedidos #compras {
	width		: 100%;
	min-height	: 500px;
	position	: relative;
	margin		: 0 auto;
}
#pedidos #compras .combo {
	width		: 156px;
	height		: 226px;
	position	: relative;
	float		: left;
	margin		: 10px;
}
#pedidos #compras .combo a {
	width		: 156px;
	height		: 226px;
	position	: absolute;
	top			: 0;
	left		: 0;
}
#pedidos #compras .combo .valor {
	width		: 156px;
	height		: 226px;
	position	: absolute;
	top			: 236px;
	text-align	: center;
}
#pedidos #compras .avancar_compra {
	width		: 71px;
	height		: 29px;
	position	: absolute;
	left		: 460px;
	top			: 286px;
	background	: url(../images/bt_avancar.png);
	display		: none;
}
#pedidos #compras .avancar_upgrade {
	width		: 71px;
	height		: 29px;
	position	: absolute;
	left		: 280px;
	top			: 286px;
	background	: url(../images/bt_avancar.png);
	display		: none;
}
#pedidos #compras .concluircompra {
	width		: 71px;
	height		: 29px;
	position	: absolute;
	left		: 100px;
	top			: 286px;
	background	: url(../images/bt_comprar.png);
}
#pedidos #compras .concluirupgrade {
	width		: 71px;
	height		: 29px;
	position	: absolute;
	left		: 100px;
	top			: 286px;
	background	: url(../images/bt_comprar.png);
}
#pedidos #compras .cancelar {
	width		: 79px;
	height		: 29px;
	position	: absolute;
	left		: 10px;
	top			: 286px;
	background	: url(../images/bt_concelar_pedido.png);
}



#dadosconta
{
	width		: 980px;
	margin		: 0 auto;
}
#dadosconta .texto
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#dadosconta .texto_titulo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	font-weight	: bold;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#dadosconta .texto .titulo_sim
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	font-weight : bold;
	color		: #090;
	text-align	: left;
	margin		: 0;
	padding		: 0;	
}
#dadosconta .texto .titulo_nao
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	font-weight : bold;
	color		: #F00;
	text-align	: left;
	margin		: 0;
	padding		: 0;	
}
#dadosconta .texto .titulo_blk
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	font-weight : bold;
	color		: #06C;
	text-align	: left;
	margin		: 0;
	padding		: 0;	
}
#dadosconta #topo
{
	width		: 980px;
	height		: 30px;
	position	: absolute;
	border		: none;
	top			: 0px;
	margin		: 0 auto;
}
#dadosconta #topo .voltar
{
	background	: url(../images/bt_voltar.png);
	width		: 102px;
	height		: 44px;
	position	: absolute;
	right		: 0px;
	top			: 286px;
}
#dadosconta #listagem
{
	width		: 600px;
	height		: 30px;
	position	: relative;
	border		: none;
}
#dadosconta #listagem #titulo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	font-weight	: bold;
	line-height	: 30px;
	color		: #F5F5F5;
	width		: 240px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background-color:#000000;
	padding-left : 5px;
}
#dadosconta #listagem #dados
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 240px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	border-top	: none;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
}
#dadosconta #listagem #dados_sel
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 240px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	border-top	: none;
	float		: left;
	background-color:#F5F5F5;
	padding-left : 5px;
}
.verificada
{
	color		: #090;
}
.nao_verificada
{
	color		: #F00;
}
.verificacao
{
	color		: #06C;
}



#dadosconta #interna
{
	width		: 1000px;
	height		: 30px;
	position	: relative;
	border		: none;
}
#dadosconta #interna #titulo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	font-weight	: bold;
	line-height	: 30px;
	color		: #F5F5F5;
	width		: 240px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background-color:#000000;
	padding-left : 5px;
}
#dadosconta #interna #titulo_maior
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	font-weight	: bold;
	line-height	: 30px;
	color		: #F5F5F5;
	width		: 480px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background-color:#000000;
	padding-left : 5px;
}
#dadosconta #interna #dados
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 240px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	border-top	: none;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
}
#dadosconta #interna #dados a
{
	color		: #000000;
	text-decoration: none;
	letter-spacing:1px;
	font-size: 11px;
}
#dadosconta #interna #dados a:hover
{
	color		: #000000;
	text-decoration: underline;
}
#dadosconta #interna #dados_maior
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 480px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	border-top	: none;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
}
#dadosconta #interna #dados_sel
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 240px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	border-top	: none;
	float		: left;
	background-color:#F5F5F5;
	padding-left : 5px;
}

#dadosconta .importante
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	color		: #F00;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#dadosconta .texto .titulo_obs
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 16px;
	font-weight : bold;
	color		: #03F;
	text-align	: left;
	margin		: 0;
	padding		: 0;	
}


#dadosconta #digtitular
{
	width		: 880px;
	height		: 300px;
	position	: relative;
	margin		: 0 auto;
	border		: none;
}
#dadosconta #digtitular #caixa
{
	width		: 220px;
	height		: 300px;
	position	: relative;
	margin		: 0 auto;
	border		: none;
	float		: left;
}
#dadosconta #digtitular #caixa #dados
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 220px;
	height		: 30px;
	position	: relative;
	float		: left;
}
#dadosconta #digtitular #caixa #dados .foto
{
	width		: 202px;
	height		: 280px;
	position	: absolute;
	top			: 35px;
	left		: 5px;
}




#dadosconta #download
{
	width		: 1000px;
	height		: 30px;
	position	: relative;
	border		: none;
	display		: inline;
}
#dadosconta #download #dados
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 100px;
	height		: 30px;
	position	: relative;
	border		: none;
	border-top	: none;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
	margin-top	: 5px;
}
#dadosconta #download #dados_maior
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 600px;
	height		: 30px;
	position	: relative;
	border		: none;
	border-top	: none;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
	margin-top	: 5px;
	margin-left : 20px;
}
#dadosconta #divisao
{
	width		: 1000px;
	height		: 10px;
	position	: relative;
	border		: none;
}







#contrato
{
	width		: 1000px;
	height		: 60px;
	margin		: 0;
	padding-top : 40px;
}
#contrato .texto
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 16px;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#contrato .texto .link
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 16px;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#contrato .texto .link:link
{
	text-decoration				: underline;
}
#contrato .texto .link:visited
{
	text-decoration				: underline;
}
#contrato .texto .link:hover
{
	color						: #999;
	text-decoration				: underline;
}




.tabelaqualificacao
{
	width					: 100%;
	min-height				: 30px;
	position				: relative;
}
.tabelaqualificacao .cabecalho
{
	width					: 100%;
	min-height				: 30px;
	line-height				: 30px;
	position				: relative;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #333;
}
.tabelaqualificacao .cabecalho .qualificatitulo
{
	width					: 485px;
	min-height				: 30px;
	line-height				: 30px;
	color					: #FFFFFF;
	background-color		: #000000;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}

.tabelaqualificacao .dados
{
	width					: 100%;
	min-height				: 20px;
	position				: relative;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #333;
	float					: left;
}
.tabelaqualificacao .dados .colunas
{
	width					: 485px;
	min-height				: 30px;
	line-height				: 30px;
	border					: none;
	text-align				: center;
	float					: left;
}
.tabelaqualificacao .dados .colunas .coluna_ativ
{
	width					: 100%;
	min-height				: 30px;
	line-height				: 30px;
	border					: solid 1px #D7D7D7;
	background				: #D0FFD0;
	text-align				: center;
	float					: left;
}
.tabelaqualificacao .dados .colunas .coluna_inat
{
	width					: 100%;
	min-height				: 30px;
	line-height				: 30px;
	border					: solid 1px #D7D7D7;
	background				: #FFACAC;
	text-align				: center;
	float					: left;
}




.tabeladiretos {
	width					: 100%;
	min-height				: 100px;
	position				: relative;
}
.tabeladiretos .cabecalho {
	width					: 100%;
	min-height				: 30px;
	line-height				: 30px;
	position				: relative;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #333;
}
.tabeladiretos .cabecalho .membro {
	width					: 60px;
	min-height				: 30px;
	line-height				: 30px;
	color					: #FFFFFF;
	background-color		: #000000;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .cabecalho .nome {
	width					: 260px;
	min-height				: 30px;
	line-height				: 30px;
	color					: #FFFFFF;
	background-color		: #000000;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .cabecalho .email
{
	width					: 250px;
	min-height				: 30px;
	line-height				: 30px;
	color					: #FFFFFF;
	background-color		: #000000;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .cabecalho .foneres {
	width					: 105px;
	min-height				: 30px;
	line-height				: 30px;
	color					: #FFFFFF;
	background-color		: #000000;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .cabecalho .fonecel {
	width					: 105px;
	min-height				: 30px;
	line-height				: 30px;
	color					: #FFFFFF;
	background-color		: #000000;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .cabecalho .cadastro {
	width					: 75px;
	min-height				: 30px;
	line-height				: 30px;
	color					: #FFFFFF;
	background-color		: #000000;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .cabecalho .executivo {
	width					: 110px;
	min-height				: 30px;
	line-height				: 30px;
	color					: #FFFFFF;
	background-color		: #000000;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}

.tabeladiretos .dados {
	width					: 100%;
	min-height				: 20px;
	position				: relative;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #333;
}
.tabeladiretos .dados .membro {
	width					: 60px;
	min-height				: 30px;
	line-height				: 30px;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .dados .nome {
	width					: 260px;
	min-height				: 30px;
	line-height				: 30px;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .dados .email {
	width					: 250px;
	min-height				: 30px;
	line-height				: 30px;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .dados .foneres {
	width					: 105px;
	min-height				: 30px;
	line-height				: 30px;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .dados .fonecel {
	width					: 105px;
	min-height				: 30px;
	line-height				: 30px;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .dados .cadastro {
	width					: 75px;
	min-height				: 30px;
	line-height				: 30px;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}
.tabeladiretos .dados .executivo {
	width					: 110px;
	min-height				: 30px;
	line-height				: 30px;
	border					: solid 1px #D7D7D7;
	text-align				: center;
	float					: left;
}






.tabelaelite {
	width					: 100%;
	min-height				: 100px;
	position				: relative;
}
.tabelaelite .cabecalho {
	width					: 100%;
	min-height				: 20px;
	position				: relative;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #333;
}
.tabelaelite .cabecalho .membro {
	width					: 60px;
	min-height				: 20px;
	line-height				: 20px;
	background				: #CCC;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .cabecalho .pvr {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	background				: #CCC;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .cabecalho .sapphire
{
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	background				: #CCC;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .cabecalho .ruby {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	background				: #CCC;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .cabecalho .esmerald {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	background				: #CCC;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .cabecalho .diamond {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	background				: #CCC;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .cabecalho .whitediamond {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	background				: #CCC;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .cabecalho .blackdiamond {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	background				: #CCC;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .cabecalho .total {
	width					: 190px;
	min-height				: 20px;
	line-height				: 20px;
	background				: #CCC;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}

.tabelaelite .dados {
	width					: 100%;
	min-height				: 20px;
	position				: relative;
	margin-top				: 5px;
	font-family				: Tahoma, Geneva, sans-serif;
	font-size				: 12px;
	color					: #333;
}
.tabelaelite .dados .membro {
	width					: 60px;
	min-height				: 20px;
	line-height				: 20px;
	background-color		: #F5F5F5;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .dados .pvr {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	background-color		: #F5F5F5;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .dados .sapphire {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .dados .ruby {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .dados .esmerald {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .dados .diamond {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .dados .whitediamond {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .dados .blackdiamond {
	width					: 125px;
	min-height				: 20px;
	line-height				: 20px;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}
.tabelaelite .dados .total {
	width					: 190px;
	min-height				: 20px;
	line-height				: 20px;
	background-color		: #F5F5F5;
	border					: 1px solid #CCC;
	text-align				: center;
	float					: left;
	margin					: 0 1px
}


#relatoriobonus
{
	width		: 100%;
	margin		: 0 auto;
}
#relatoriobonus .texto
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#relatoriobonus .texto_titulo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	font-weight	: bold;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}

#relatoriobonus #interna
{
	width		: 1000px;
	height		: 30px;
	position	: relative;
	border		: none;
}
#relatoriobonus #interna #semana
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	font-weight	: bold;
	line-height	: 30px;
	width		: 982px;
	height		: 30px;
	position	: relative;
	float		: left;
	color		: #FFFFFF;
	background-color:#000000;
	border		: solid 1px #D7D7D7;
	padding-left : 5px;
}
#relatoriobonus #interna #semana_var
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFFFFF;
	width		: 982px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background-color:#000000;
}
#relatoriobonus #interna #titulo_bonus
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	font-weight	: bold;
	line-height	: 30px;
	color		: #000000;
	width		: 448px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #F5F5F5;
	float		: left;
	background-color:#D7D7D7;
	padding-left : 5px;
}
#relatoriobonus #interna #titulo_bonus_var
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	font-weight	: bold;
	line-height	: 30px;
	color		: #000000;
	width		: 448px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #F5F5F5;
	float		: left;
	background-color:#D7D7D7;
}
#relatoriobonus #interna #titulo_dados
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	font-weight	: bold;
	line-height	: 30px;
	color		: #000000;
	width		: 72px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #F5F5F5;
	float		: left;
	background-color:#D7D7D7;
	padding-left : 5px;
}
#relatoriobonus #interna #dados_bonus
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 448px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	border-top	: none;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
}
#relatoriobonus #interna #dados_bonus_var
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 448px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	border-top	: none;
	float		: left;
	background-color:#FFFFFF;
}
#relatoriobonus #interna #dados
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 76px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	border-top	: none;
	float		: left;
	background-color:#FFFFFF;
}
#relatoriobonus #topo
{
	width		: 980px;
	height		: 30px;
	position	: absolute;
	border		: none;
	top			: 0px;
	margin		: 0 auto;
}
#relatoriobonus #topo .voltar
{
	background	: url(../images/bt_voltar.png);
	width		: 102px;
	height		: 44px;
	position	: absolute;
	right		: 0px;
	top			: 286px;
}
#relatoriobonus #interna #dados_calculo_lado1
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 448px;
	height		: 30px;
	position	: relative;
	border		: none;
	float		: left;
	background-color:#FFFFFF;
	padding-right : 10px;
	text-align  : right;
}
#relatoriobonus #interna #dados_calculo_lado2
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 448px;
	height		: 30px;
	position	: relative;
	border		: none;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 10px;
	text-align  : left;
}

#titulosalcancados #interna
{
	width		: 1000px;
	height		: 30px;
	position	: relative;
	border		: none;
}
#titulosalcancados #interna #bt
{
	color		: #F5F5F5;
	width		: 170px;
	height		: 30px;
	position	: relative;
	float		: left;
	padding-left : 5px;
}
#titulosalcancados #interna #bt .bt
{
	width		: 150px;
	height		: 150px;
	position	: absolute;	
}
#titulosalcancados #interna #id
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	font-weight	: bold;
	line-height	: 30px;
	color		: #F5F5F5;
	width		: 100px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background-color:#000000;
	padding-left : 5px;
}
#titulosalcancados #interna #nome
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	font-weight	: bold;
	line-height	: 30px;
	color		: #F5F5F5;
	width		: 700px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background-color:#000000;
	padding-left : 5px;
}
#titulosalcancados #interna #dadosbt
{
	width		: 170px;
	height		: 30px;
	position	: relative;
	float		: left;
	padding-left : 5px;
}
#titulosalcancados #interna #dadosid
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 100px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	border-top	: none;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
}
#titulosalcancados #interna #dadosnome
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 700px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	border-top	: none;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
}

#meuextrato
{
	width		: 100%;
	margin		: 0 auto;
}
#meuextrato .abas
{
	width		: 980px;
	height		: 30px;
	position	: relative;
	border-bottom: 1px #000 solid;
}
#meuextrato .abas .botao
{
	width		: 200px;
	height		: 30px;
	text-align	: center;
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	color		: #000;
	line-height	: 30px;
	background	: #FFF;
	outline		: 1px #000 solid;
	float		: left;
	text-decoration: none;
	margin-right: 3px;
}
#meuextrato .abas .botao:hover
{
	color		: #FFF;
	background	: #000;
}
#meuextrato .abas .botao.sel
{
	width		: 200px;
	height		: 30px;
	text-align	: center;
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	color		: #FFF;
	line-height	: 30px;
	background	: #000;
	outline		: 1px #000 solid;
	float		: left;
	text-decoration: none;
	margin-right: 3px;
}
#meuextrato #saque .texto
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#meuextrato #saque  .texto_titulo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	font-weight	: bold;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#meuextrato #saque  #interna #dados_maior
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 785px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
}
#meuextrato #saque  #interna #dados
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 180px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
}
#meuextrato #saque  #interna #titulo_unidade
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left: 5px;
	font-weight	: bold;
}
#meuextrato #saque  #interna #titulo_saldo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left: 5px;
	font-weight	: bold;
}
#meuextrato #saque  #interna #titulo_cotacao
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left : 5px;
	font-weight	: bold;
}
#meuextrato #saque  #interna #titulo_total
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left : 5px;
	font-weight	: bold;
}
#meuextrato #saque  #interna #dados_unidade
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}
#meuextrato #saque  #interna #dados_saldo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}
#meuextrato #saque  #interna #dados_cotacao
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}
#meuextrato #saque  #interna #dados_total
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}

#meuextrato #movimentacao .texto
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#meuextrato #movimentacao  .texto_titulo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	font-weight	: bold;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#meuextrato #movimentacao  #interna #titulo_data
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 150px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left: 5px;
	font-weight	: bold;
}
#meuextrato #movimentacao  #interna #titulo_descricao
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 340px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left : 5px;
	font-weight	: bold;
}
#meuextrato #movimentacao  #interna #titulo_valor
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 150px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left : 5px;
	font-weight	: bold;
}
#meuextrato #movimentacao  #interna #dados_data
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 150px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}
#meuextrato #movimentacao  #interna #dados_descricao
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 340px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}
#meuextrato #movimentacao  #interna #dados_valor
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 150px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}

#meuextrato #pagarpedidos .texto
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#meuextrato #pagarpedidos  .texto_titulo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 15px;
	font-weight	: bold;
	color		: #333;
	text-align	: justify;
	margin		: 0;
	padding		: 0;	
}
#meuextrato #pagarpedidos  #interna #titulo_data
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 150px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left: 5px;
	font-weight	: bold;
}
#meuextrato #pagarpedidos  #interna #titulo_descricao
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 340px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left : 5px;
	font-weight	: bold;
}
#meuextrato #pagarpedidos  #interna #titulo_valor
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 150px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left : 5px;
	font-weight	: bold;
}
#meuextrato #pagarpedidos  #interna #dados_data
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 150px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}
#meuextrato #pagarpedidos  #interna #dados_descricao
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 340px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}
#meuextrato #pagarpedidos  #interna #dados_valor
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 150px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}
#meuextrato #pagarpedidos  #interna #dados_maior
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 785px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
}
#meuextrato #pagarpedidos  #interna #dados
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 180px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background-color:#FFFFFF;
	padding-left : 5px;
}
#meuextrato #pagarpedidos  #interna #titulo_unidade
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left: 5px;
	font-weight	: bold;
}
#meuextrato #pagarpedidos  #interna #titulo_saldo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left: 5px;
	font-weight	: bold;
}
#meuextrato #pagarpedidos  #interna #titulo_cotacao
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left : 5px;
	font-weight	: bold;
}
#meuextrato #pagarpedidos  #interna #titulo_total
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #FFF;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #000;
	padding-left : 5px;
	font-weight	: bold;
}
#meuextrato #pagarpedidos  #interna #dados_unidade
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}
#meuextrato #pagarpedidos  #interna #dados_saldo
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}
#meuextrato #pagarpedidos  #interna #dados_cotacao
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}
#meuextrato #pagarpedidos  #interna #dados_total
{
	font-family	: Tahoma, Geneva, sans-serif;
	font-size	: 14px;
	line-height	: 30px;
	color		: #000000;
	width		: 238px;
	height		: 30px;
	position	: relative;
	border		: solid 1px #D7D7D7;
	float		: left;
	background	: #FFFFFF;
	padding-left : 5px;
}