.no-js #loader {
    display: none;
}
em{
    font-style: italic;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
* {
  -webkit-appearance: none !important;
}
.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #1f2225;
    text-align: center;
}
.loading img{
    display: inline block;
    position: relative;
    top: 45vh;
}

#maximage {
    position: relative !important;
    width: 100% !important;
    float: left;
    top:-75px;
}

#cycle-nav {
    display: inline-block;
    margin-bottom: 20px;
}

#cycle-nav ul {
    list-style-type: none;
    position: relative;
    margin-top: 53px;
}

#cycle-nav ul li {
    float: left;
    margin: 4px;
}

#cycle-nav ul li a {
    background: #6f7071;
    float: left;
    height: 10px;
    margin: 2px;
    width: 10px;
    border-radius: 50%;
}

#cycle-nav ul li.activeSlide a {
    background: #fb383c;
}

#top {
    width: 100%;
    min-height: 100%;
    /*position: absolute;*/
    z-index: 99;
}

#top .logo {
    width: 170px;
    float: left;
    margin-top: 21px;
    margin-left: 2%;
}

#top_news {
    width: 100%;
    min-height: 50%;
    position: absolute;
    z-index: 99;
}

#top_news .logo {
    width: 170px;
    float: left;
    margin-top: 21px;
    margin-left: 2%;
}
#top_mapa {
    width: 100%;
    position: absolute;
    z-index: 99;
}

#top_mapa .logo {
    width: 170px;
    float: left;
    margin-top: 21px;
    margin-left: 2%;
}
#top_roi {
    width: 100%;
    position: absolute;
    z-index: 99;
}

#top_roi .logo {
    width: 170px;
    float: left;
    margin-top: 21px;
    margin-left: 2%;
}

header {
    width: 100%;
    float: left;
    margin-bottom: -75px;
}

#info {
    width: 100%;
    height: 25px;
    text-transform: uppercase;
    background-color: #ffffff;
}

#cotac {
    float: left;
    width: 700px;
}

#cotac li {
    float: left;
    color: #000000;
    font: 100 10px / 16px NexaBold,Arial,sans-serif;
    float: left;
    list-style: none;
    margin-left: 29px;
    margin-right: 8px;
    letter-spacing: 1px;
    margin-top: 5px;
}

#cotac li span {
    font-family: NexaSlab-bold;
}

#login {
    width: auto;
    float: right;
    margin-top: 1px;
}

#login > li {
    font: 100 10px / 10px NexaBold;
    float: left;
    padding-right: 10px;
    margin-left: 10px;
    padding-top: 2px;
    margin-top: 7px;
    list-style: none;
}

#login > li a {
    color: #000000;
    text-decoration: none;
}

#languages {
    width: auto;
    float: right;
    margin-top: 1px;
}

.lang_list {
    display: none;
    width: 31%;
    position: fixed;
    top: 25px;
    right: 0;
    background-color: #1f2225;
    z-index: 9999;
}

.lang_list li {
    width: 50%;
    float: left;
    text-align: center;
    list-style: none;
    border-top: 1px solid #313437;
    text-transform: uppercase;
}

.lang_list li a {
    width: 100%;
    color: #ffffff;
    font: 100 11px / 32px NexaLight;
    padding-top: 4px;
    float: left;
    text-decoration: none;
}

.icon_seta {
    background: url(../images/icon_sing.png) left top no-repeat;
    padding-left: 8px;
}

.menuResponsive ul li select {
    width: 100%;
    text-align: center;
    background: none;
    border-width: 0;
    color: #ffffff;
    font: 600 13px / 60px 'Open Sans';
    text-transform: uppercase;
    -webkit-appearance: none;
    /* Remove estilo padrão do Chrome */
    -moz-appearance: none;
    /* Remove estilo padrão do FireFox */
    appearance: none;
    /* Remove estilo padrão do FireFox*/
}

#languages > li {
    color: #000000;
    font: 100 10px / 10px NexaBold;
    float: left;
    margin-left: 10px;
    padding-top: 2px;
    margin-top: 7px;
    list-style: none;
    margin-right: 29px;
}

#languages > li:last-child {
    border: 0;
}

#languages > li a {
    color: #000000;
    text-decoration: none;
}

#languages > li a:hover {
    text-decoration: underline;
}

#navg {
    width: 100%;
    height: 75px;
    float: left;
    text-transform: uppercase;
    background: rgba(8, 8, 8, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 10;
}

#local {
    float: left;
    margin-left: 38px;
}

#local p {
    color: #ffffff;
    padding-left: 18px;
    font: 400 12px / 21px nexaLight;
    float: left;
    margin-top: 30px;
    background: url(../images/Location.png) left top 2px no-repeat;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#local p:hover {
    background: url(../images/Location_hover.png) left top 2px no-repeat;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#local p a {
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
}

#local p a:hover {
    text-decoration: underline;
}

#mainMenu {
    width: auto;
    float: right;
    margin-right: 22px;
    margin-top: 30px;
}

#mainMenu ul {
    margin: 0;
    padding: 0;
}

#mainMenu ul li {
    float: left;
    text-align: center;
    color: #ffffff;
    font: 100 13px / 21.875px nexaBold;
    list-style: none;
    padding: 0 10px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#mainMenu ul li:hover {
    border-bottom: 1px solid #cd232f;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#mainMenu ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

#sing {
    width: 83px;
    height: 27px;
    float: right;
    margin-right: 40px;
    margin-left: 14px;
    border: 1px solid #ffffff;
    margin-top: 25px;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#sing:hover {
    background-color: #6f2b30;
    border: 1px solid #41181b;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#sing p {
    color: #ffffff;
    font: 600 13px / 26px 'Open Sans';
    width: 100%;
    text-align: center;
}

#responcive {
    display: none;
    float: right;
    width: 5.5%;
    height: 75px;
    position: relative;
    z-index: 500;
    background: url(../images/menu.png) center no-repeat;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#responcive:hover {
    background-color: #41181b;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.line_logo {
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 75px;
    margin-left: 38px;
}


#content_banner {
    width: 675px;
    margin: 0 auto;
    height: 260px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -330px;
    margin-top: -130px;
}

#content_banner h3 {
    color: #ffffff;
    font: 400 60px / 55px NexaBold;
    text-transform: uppercase;
}

#content_banner .choose {
    color: #ffffff;
    font: 400 15px / 47px NexaBold;
    width: 220px;
    height: 43px;
    margin-top: 50px;
    background-color: #da0614;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    text-transform: uppercase;
}

#content_banner .choose:hover {
    color: #da0614;
    background-color: #ffffff;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#quotations {
    width: 120px;
    position: relative;
    margin: 0 auto;
    margin-top: 55px;
}

#quotations p {
    color: #ffffff;
    font: 400 24.98px / 29.977px NexaBold;
    text-align: center;
}

#quotations p span {
    font: 400 24.98px / 29.977px NexaLight;
}

#rbma {
    width: 120px;
    float: right;
    text-align: center;
}

#down {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -20px;
    background: url(../images/Down.png) no-repeat;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

#cycle-nav{
    display: none; /* item slide  */
}

#down:over {
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    background: url(../images/Down_hover.png) no-repeat;
}

#contDown {
    width: 100%;
    float: left;
    text-align: center;
    position: absolute;
    bottom: 15px;
    z-index: 10;
}

.regular {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.regular2 {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.slide1 {
    clear: both;
    width: 100%;
    float: left;
}

.slide1 .cont_slide {
    width: 900px;
    min-height: 500px;
    position: relative;
    margin: 0 auto;
}

.slide1 .cont_slide .header {
    width: 305px;
    margin-left: 32.5%;
    float: left;
    text-align: center;
    margin-top: 47px;
}

.slide1 .cont_slide .header h1 {
    width: 100%;
    float: left;
    color: #000000;
    font: 400 24px / 55px NexaBold;
    letter-spacing: 1px;
    background: url(../images/icon_learn.png) center top no-repeat;
    padding-top: 45px;
}

.slide1 .cont_slide .header .btn_slide {
    min-width: 220px;
    height: 43px;
    margin-top: 10px;
    background-color: #da0614;
    border-radius: 2px;
    display: inline-block;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.slide1 .cont_slide .header .btn_slide:hover {
    background-color: #ffffff;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.slide1 .cont_slide .header .btn_slide:hover a {
    color: #da0614;
    background: url(../images/Play_hover.png) right 25px top 14px no-repeat;
}

.slide1 .cont_slide .header .btn_slide a {
    color: #ffffff;
    width: 100%;
    float: left;
    text-decoration: none;
    letter-spacing: 1px;
    font: 400 15px / 44px NexaBold;
    background: url(../images/Play.png) right 25px top 14px no-repeat;
}

.slide1 .cont_slide .content {
    width: 602px;
    float: left;
    margin-top: 50px;
}

.slide1 .cont_slide .content h3 {
    width: 472px;
    float: right;
    text-align: right;
    color: #000000;
    font: 400 16.02px / 17.018px 'NexaBold';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.slide1 .cont_slide .content p {
    width: 100%;
    float: left;
    margin-top: 40px;
    text-align: justify;
    color: #000000;
    font: 400 18px / 21px 'Nexa Book';
}

.slide1 .slider_image {
    float: left;
    width: 250px;
    position: relative;
    left: 5%;
    margin-top: -20px;
}

.slide2 {
    width:100%;
    min-height: 530px;
    clear: both;
    float: left;
    background-color:#ffffff;
    background-image:url(../images/bg_slide2.jpg);
    background-repeat:no-repeat;
    background-position:center top;
}

.slide2 .content {
    width: 860px;
    margin-top: 104px;
    margin: 0 auto;
}

.slide2 .content h3 {
    color: #d91407;
    font: 400 59px / 42px NexaLight;
    margin-top: 74px;
    width: 100%;
    text-align: center;
    background: url(../images/icon_certificate.png) top no-repeat;
    padding-top: 84px;
    margin-bottom: 30px;

}

.slide2 .content h3 span {
    font: 400 69px / 40px NexaBold;
}

.slide2 .content p {
    color: #4b4b4b;
    font: 400 18px / 21px 'Nexa Book';
    text-align: justify;
    float: left;
    margin-bottom: 21px;
}

#using_bit {
    width: 100%;
    float: left;
    min-height: 180px;
    background-color: #da0614;
}

#using_bit h3 {
    float: left;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 22px;
    text-align: center;
    color: #ffffff;
    font: 400 24px / 55px NexaBold;
}

#using_bit ul {
    width: 1295px;
    margin: 0 auto;
    margin-top: 50px;
}

#using_bit ul li {
    float: left;
    margin-right: 30px;
    margin-top: 29px;
    list-style: none;
}

#using_bit ul li img {
    height: 25px;
    ;
}

#using_bit .content:nth-of-type(2) ul li:last-child {
    margin-right: 0%;
}

.slide2 .slick-dots {
    display: none !important;
}

.slide3 .slick-dots {
    bottom: -96px;
}

#blog {
    width: 100%;
    float: left;
    background: url(../images/bg_news.jpg) center no-repeat;
    height: 400px;
    text-align: center;
}
#blog .slide3 .slick-dots{
    bottom: -61px;
}
#blog .new {
    float: left;
    width: 292px;
}

#blog .center {
    width: 981px;
    margin: 0 auto;
    position: relative;
}

#blog h2 {
    display: inline-block;
    padding-top: 36px;
    margin-top: 65px;
    color: #000;
    font: 400 24px / 55px NexaBold;
    background: url(../images/icon_news.png) center top no-repeat;
}

#blog li {
    list-style: none;
}



.news {
    width: 323px !important;
    float: left;
    min-height: 60px !important;
    margin-right: 4px;
    margin-top: 20px;
}

.news .info {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 127px;
}

.news .info li {
    float: left;
    color: #000000;
    font: 400 11px / 24px 'Nexa Book';
    padding-left: 15px;
    margin-right: 5%;
}

.news .info li a {
    color: #c5c5c5;
    text-decoration: none;
}

.news .info li:hover a {
    color: #ffffff;
    text-decoration: underline;
}

.news .info li.Author {
    background: url(../images/author.png) left top 6px no-repeat;
}

.news .info li.Category {
    padding-left: 17px;
    background: url(../images/category.png) left top 7px no-repeat;
}

.news .info li.Comments {
        padding-left: 18px;

    background: url(../images/comments.png) left top 7px no-repeat;
}

.news .info li.Views {
        padding-left: 18px;
    background: url(../images/views.png) left top 8px no-repeat;
}

.news .content {
    width: 100%;
    float: left;
}

.news .news_img {
    width: 303px;
    height: 175px;
    position: absolute;
    z-index: 0;
}

.news .content p {
    width: 100%;
    float: left;
    margin-top: 16px;
    color: #cfcfcf;
    font: 400 15px / 17px 'Nexa Book';
    text-align: justify;
    text-decoration: none;
}

.news .content p a {
    color: #cfcfcf;
    text-decoration: none;
}

.news .content p a:hover {
    color: #cfcfcf;
    text-decoration: underline;
}

.news .header {
    width: 100%;
    float: left;
    position: relative;
    z-index: 80;
}

.news .header .data {
    width: 42px;
    height: 59px;
    text-align: center;
    background-color: #fb383c;
    float: left;
    color: #ffffff;
    font: 600 18px / 40px 'NexaBold';
    padding-top: 0px;
}

.news .header .data span {
    color: #ffffff;
    position: relative;
    top: -19px;
    font-size:16px;
}

.news .header .titulo {
    position: absolute;
    bottom: 0;
    left: 42px;
    width: 244px;
    min-height: 56px;
    padding-top: 3px;
    padding-left: 17px;
    color: #000000;
    font: 400 16.02px / 23px 'NexaLight';
    text-align: left;
    background: rgba(255, 255, 255, 0.8);
}

.news .header .titulo h3 {
    margin-top: 6px;
}

.news .header .titulo a {
    color: #000000;
    text-decoration: none;
}

.news .header .titulo a:hover {
    text-decoration: underline;
}

.news .content {
    width: 100%;
    float: left;
}

.slide3 .slick-prev {
    display: none !important;
}

.slide3 .slick-next {
    display: none !important;
}

.slide3 .slick-track {
    height: 116px;
}

.footer {
    width: 100%;
    background-color: #000000;
    float: left;
}

.footer li {
    list-style: none;
}

.footer .center {
    width: 976px;
    margin: 0 auto;
    position: relative;
    margin-top: 60px;
}

.footer .logo {
    width: 210px;
    float: left;
}

.footer .logo p {
    width: 100%;
    text-align: justify;
    color: #ffffff;
    font: 400 13px / 21px 'Nexa Book';
    float: left;
}

.footer .logo img {
    float: left;
    margin-bottom: 20px;
}

.footer .contact {
    width: 233px;
    float: left;
    margin-left: 48px;
}

.footer .contact h3 {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    color: #ffffff;
    font: 400 13px / 24px 'Nexa Book';
}

.footer .contact p {
    color: #ffffff;
    font: 400 13px / 21px 'Nexa Book';
    display: block;
    float: left;
    width: 100%;
    padding-left: 15px;
    margin-top: 10px;
}

.footer .contact .endereco {
    background: url(../images/local.png) left top 4px no-repeat;
}

.footer .contact .mail {
    background: url(../images/mail.png) left top 8px no-repeat;
}

.footer .contact .fone {
    background: url(../images/fone.png) left top 7px no-repeat;
}

input:focus {
    outline: none;
}

.footer .line {
    width: 100%;
    float: left;
    padding-bottom: 18px;
    border-bottom: 1px solid #6c7176;
}

.reserved {
    width: 312px;
    float: left;
    margin-top: 19px;
    margin-bottom: 30px;
}

.reserved p {
    width: 305px;
    float: left;
    color: #ffffff;
    margin-top: 8px;
    font: 400 13px / 21px 'Nexa Book';
}

.reserved p a {
    color: #ffffff;
    text-decoration: none;
}

.reserved p a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.reserved ul {
    float: right;
    margin: 0;
    padding: 0;
}

.reserved ul {
    width: 250px;
    float: right;
}

.reserved ul li {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #b4b4b4;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.reserved ul a {
    float: left;
    margin-right: 12px;
}

.reserved ul a:last-child {
    float: right;
    margin-right: 0px !important;
}

.reserved ul li:hover {
    background-color: #ffffff;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.plan {
    width: 100%;
    float: left;
}

.plans li {
    list-style: none;
}

.plans .session {
    width: 100%;
    float: left;
    height: 730px;
}

.plans .center {
    width: 1050px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.plans h2 {
    color: #1f2225;
    font: 400 24px / 55px NexaBold;
    background: url(../images/icon_plan.png) center top no-repeat;
    padding-top: 48px;
    margin-top: 45px;
}

.plans h2 a {
    color: #d33540;
    text-decoration: none;
}

.plans h3 {
    font: 400 16.02px / 27px 'NexaLight';
    color: #1f2225;
    position: relative;
    margin-top: -5px;
    margin-bottom: 60px;
}

.plans .pricing_unique {
    width: 340px;
    position: relative;
    height: 392px;
    display: inline-block;
    background-color: #ffffff;
}

.plans .pricing_unique .header {
    width: 100%;
    float: left;
    background-color: #da0614;
}

.plans .pricing_unique .header h4 {
    font-size: 25px;
    font-family: 'NexaBold';
    color: #ffffff;
    line-height: 89px;
}

.plans .pricing_unique .content {
    width: 100%;
    float: left;
}

.plans .pricing_unique .content .pricing {
    font-size: 20px;
    font-family: 'NexaBold';
    color: #1f2225;
    line-height: 70px;
}

.plans .pricing_unique .content li {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    padding: 4px 0;
}

.plans .pricing_unique .content li.bg {
    background-color: #f0e9ea;
}

.plans .pricing_unique .content li p {
    font-size: 15px;
    font-family: 'NexaBold';
    color: #1f2225;
    line-height: 23px;
    padding-top: 2px;
}

.plans .pricing_unique .content li p span {
    font-size: 11px;
    color: #6c7176;
    width: 100%;
    float: left;
    font-family: 'NexaLight';
}


/*PLAN FREE*/

.plans .plan {
    width: 340px;
    position: relative;
    height: 430px;
    display: inline-block;
    background-color: #ffffff;
    margin-top: 0px;
    top: 0px;
    margin: 0 5px;
}

.plans .free .header {
    width: 100%;
    float: left;
    background-color: #f3d23c;
}

.plans .pro .header {
    width: 100%;
    float: left;
    background-color: #e1281f;
}

.plans .proMore .header {
    width: 100%;
    float: left;
    background-color: #1f2225;
}

.plans .pro {
    top: -20px;
    height: 430px !important;
}

.plans .plan .header h4 {
    font-size: 25px;
    font-family: 'NexaBold';
    color: #ffffff;
    line-height: 89px;
}

.plans .pro .header h4 {
    font-size: 25px;
    font-family: 'NexaBold';
    color: #ffffff;
    line-height: 110px;
}

.plans .plan .content {
    width: 100%;
    float: left;
    min-height: 200px;
}

.plans .plan .content .pricing {
    font-size: 20px;
    font-family: 'NexaBold';
    color: #1f2225;
    margin-top: 15px;
}

.plans .plan .content .pricing span {
    font-size: 13px;
    font-family: 'NexaLight';
    color: #1f2225;
    line-height: 16px;
    width: 100%;
    float: left;
    padding-bottom: 16px;
}

.plans .plan .content li {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    padding: 4px 0;
}

.plans .plan li.bg {
    background-color: #fefaeb;
}

.plans .plan .content li p {
    font-size: 15px;
    font-family: 'NexaBold';
    color: #1f2225;
    line-height: 22px;
    padding-top: 2px;
}

.plans .plan .content li p span {
    font-size: 11px;
    color: #6c7176;
    width: 100%;
    float: left;
    font-family: 'NexaLight';
}


/*PLAN pro*/

.plans .plan_pro {
    width: 340px;
    margin: 0 15px;
    position: relative;
    height: 544px;
    display: inline-block;
    background-color: #ffffff;
    margin-top: 44px;
}

.plans .plan_pro .header {
    width: 100%;
    float: left;
    background-color: #e1281f;
}

.plans .plan_pro .header h4 {
    font-size: 39px;
    font-family: 'Montserrat';
    color: #ffffff;
    line-height: 134px;
}

.plans .plan_pro .content {
    width: 100%;
    float: left;
}

.plans .plan_pro .content .pricing {
    font-size: 35px;
    font-family: 'Montserrat';
    color: #1f2225;
    margin-top: 25px;
    line-height: 20px;
}

.plans .plan_pro .content .pricing span {
    font-size: 20px;
    font-family: 'Open Sans';
    color: #1f2225;
    line-height: 37px;
    width: 100%;
    float: left;
    padding-bottom: 16px;
}

.plans .plan_pro .content li {
    width: 100%;
    float: left;
    margin-top: 11px;
    margin-bottom: 2px;
    padding: 4px 0;
}

.plans .plan_pro li.bg {
    background-color: #fce9e8;
}

.plans .plan_pro .content li p {
    font-size: 20px;
    font-family: 'Montserrat';
    color: #1f2225;
    line-height: 22px;
}

.plans .plan_pro .content li p span {
    font-size: 12px;
    color: #6c7176;
    width: 100%;
    float: left;
    font-family: 'Open Sans';
}


/*PLAN FREE*/

.plans .plan_pro2 {
    width: 340px;
    position: relative;
    height: 529px;
    display: inline-block;
    background-color: #ffffff;
}

.plans .plan_pro2 .header {
    width: 100%;
    float: left;
    background-color: #1f2225;
}

.plans .plan_pro2 .header h4 {
    font-size: 35px;
    font-family: 'Montserrat';
    color: #ffffff;
    line-height: 120px;
}

.plans .plan_pro2 .content {
    width: 100%;
    float: left;
}

.plans .plan_pro2 .content .pricing {
    font-size: 35px;
    font-family: 'Montserrat';
    color: #1f2225;
    margin-top: 25px;
    line-height: 20px;
}

.plans .plan_pro2 .content .pricing span {
    font-size: 20px;
    font-family: 'Open Sans';
    color: #1f2225;
    line-height: 37px;
    width: 100%;
    float: left;
    padding-bottom: 16px;
}

.plans .plan_pro2 .content li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    padding: 4px 0;
}

.plans .plan_pro2 li.bg {
    background-color: #e8e8e9;
}

.plans .plan_pro2 .content li p {
    font-size: 20px;
    font-family: 'Montserrat';
    color: #1f2225;
    line-height: 22px;
}

.plans .plan_pro2 .content li p span {
    font-size: 12px;
    color: #6c7176;
    width: 100%;
    float: left;
    font-family: 'Open Sans';
}

#slide_tamanho {
    background-color: #1f2225 !important;
    width: 100% !important;
    float: left;
    height: 600px !important;
}

.slide4 ul {
    float: left;
    margin-top: -6px;
}

.slide4 .slick-dots {
    bottom: 8px;
    float: left;
    width: 100%;
}

.patro {
    float: left;
    position: relative;
    width: 100%;
    top: 10px;
    position: inherit !important;
}

.patro {
    color: #ffffff;
    font: 400 13px / 21px 'Nexa Book';
    background: url(../images/logo_icon.png) left top no-repeat;
    padding-left: 25px;
}


/* media query header*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    #content_banner h3 {
        font: 400 32px / 50px NexaBold !important;
    }
    #contDown {
        bottom: 10px;
    }
}

@media screen and ( max-height: 580px) {
    #down {
        display: none !important;
    }
    #contDown {
        bottom: -21px !important;
    }
}

@media screen and ( max-width: 580px) {
    .slide2 {
        background-position: right top !important;
    }
    .slide2 .content h3 {
        background: url(../images/icon_certificate.png) top no-repeat;
        padding-top: 64px;
        width: 152px;
    }
    #last_value #value {
        margin: 0 auto;
        width: 100% !important;
    }
    #graphic .center {
        width: 100%;
    }
    .price_current {
        width: 100%;
    }
}

@media screen and ( max-height: 505px) {
    #cycle-nav ul {
        list-style-type: none;
        position: relative;
        margin-top: 20px;
    }
}

@media screen and ( max-height: 425px) {
    #cycle-nav ul {
        display: none;
    }
}

@media screen and ( max-height: 385px) {
    #quotations {
        margin-top: 30px;
    }
    #content_banner .choose {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1220px) {
    #mainMenu ul li {
        padding: 0 8px;
    }
}

@media screen and (max-width: 1150px) {
    #mainMenu ul li {
        padding: 0 8px;
    }
    #local {
        margin-left: 16px;
    }
}

@media screen and (max-width: 1130px) {
    .line_logo {
        display: none;
    }
}

@media screen and (max-width: 1090px) {
    #local {
        display: none;
    }
}

@media screen and (max-width: 993px) {
    #cotac {
        width: 670px;
    }
    #cotac li {
        margin-right: 0px;
    }
}

@media screen and (max-width: 975px) {
    #mainMenu {
        float: right;
        margin-top: -20px;
    }
    #local {
        display: none;
    }
    #cotac {
        width: 69%;
        float: initial;
        margin: 0 auto;
    }
    #cotac li {
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    #languages li {
        font: 100 10px / 14px NexaSlab;
    }
    #languages li:last-child {
        padding-right: 0;
    }
    #info {
        height: 50px;
    }
    #navg {
        height: 139px;
    }
    #logo_cont {
        width: 100%;
        float: left;
        padding-bottom: 14px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    #top .logo {
        float: initial;
        margin-left: 0;
    }
    #top_news .logo {
        float: initial;
        margin-left: 0;
    }
    #top_mapa .logo {
        float: initial;
        margin-left: 0;
    }
    #top_roi .logo {
        float: initial;
        margin-left: 0;
    }
    #responcive {
        height: 60px;
        width: 14.5%;
    }
    #sing {
        margin-top: 16px;
    }
    #mainMenu {
        margin-top: 20px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 885px) {
    #responcive {
        display: block;
    }
    .lang_list {
        height: 311px;
        top: 0;
        overflow: auto;
    }
    .lang_list li {
        width: 100%;
    }
    #info {
        display: none;
    }
    #mainMenu {
        display: none;
    }
    #sing {
        display: none;
    }
    #navg {
        height: 75px;
    }
    #logo_cont {
        width: 60.3%;
        text-align: right;
        border: 0;
    }
    #responcive {
        height: 75px;
    }
}

@media screen and (max-width: 689px) {
    #content_banner {
        width: 350px;
        margin-left: -175px;
    }
    #content_banner h3 {
        font: 400 45px / 50px NexaBold;
    }
    #content_banner .choose {
        margin-top: 25px;
    }
    #quotations {
        margin-top: 25px;
    }
    #logo_cont {
        width: 63%;
    }
}

@media screen and (max-width: 446px) {
    #quotations {
        width: 100%;
    }
    #rbma {
        width: 150px;
        float: inherit;
        margin: 0 auto;
        margin-top: 20px;
    }
    #quotations p {
        text-align: center;
    }
    #logo_cont {
        width: 70%;
    }
}

@media screen and (max-width: 350px) {
    #content_banner {
        width: 250px;
    }
    #quotations {
        width: 300px;
    }
}

@media screen and (max-width: 365px) {
    #quotations {
        width: 300px;
    }
    #content_banner {
        width: 100%;
    }
}

@media screen and (max-width: 330px) {
    #quotations {
        width: 100%;
    }
    #btc {
        width: 150px;
        float: inherit;
        margin: 0 auto;
    }
    #rbma {
        width: 150px;
        float: inherit;
        margin: 0 auto;
        margin-top: 20px;
    }
    #quotations p {
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    #content_banner {
        margin-left: 0;
        left: 0;
    }
    #down {
        display: none !important;
    }
    #cycle-nav ul {
        margin-top: 10px;
    }
    #content_banner h3 {
        font: 400 34px / 50px NexaBold;
    }
}

@media screen and (max-height: 500px) {
    #content_banner {
        margin-top: -88px;
    }
}


@media screen and (max-width: 481px) {
    #logo_cont {
        width: 69%;
    }
}


/* media query slide1*/

@media screen and (max-width: 1075px) {
    .slide1 .cont_slide {
        width: 770px;
    }
    .slide1 .slider_image {
        width: 170px;
        left: 4%;
        margin-top: 11px;
    }
    .slide1 .cont_slide .content {
        width: 566px;
    }
    .session3{
        height: 1060px !important;
    }
    .plans .center{
        width: 900px;
    }
}

@media screen and (max-width: 960px) {
    .slide1 .cont_slide {
        width: 600px;
    }
    .slide1 .slider_image {
        width: 140px;
        left: 50%;
        margin-left: -66px;
        margin-top: 21px;
    }
    .slide1 .cont_slide .content h3 {
        width: 100%;
        float: left;
        text-align: center;
    }
    .slide1 .cont_slide .header {
        width: 100%;
        margin-left: 0;
    }
    .slide1 .cont_slide .header {
        margin-top: 44px;
    }
    .slide1 .cont_slide .content {
        margin-top: 38px;
    }
    .slide1 .cont_slide .content p {
        margin-top: 20px;
        font: 400 13px / 17px 'Nexa Book';
    }
    .plans .pro{
        top: 0px;
    }
}

@media screen and (max-width: 780px) {
    .slide1 .slick-prev {
        display: none !important;
    }
    .slide1 .slick-next {
        display: none !important;
    }
}

@media screen and (max-width: 630px) {
    .slide1 .slider_image {
        display: none;
    }
    .slide1 .cont_slide {
        width: 300px;
    }
    .slide1 .cont_slide .content {
        width: 300px;
    }
    .slide1 .cont_slide .header h1 {
        font: 400 24.98px / 30px NexaBold;
        padding-top: 60px;
    }
    .slide1 .slick-dots {
        bottom: 5px;
    }
}

@media screen and (max-width: 370px) {
    .slide1 .slider_image {
        display: none;
    }
    .slide1 .cont_slide {
        width: 250px;
    }
    .slide1 .cont_slide .content {
        width: 250px;
    }
}


/* media query marcas*/

@media screen and (max-width: 1359px) {
    #using_bit ul {
        width: 590px;
        text-align: center;
    }
    #using_bit ul .content {
        width: 581px;
        display: inline-block;
    }
    #using_bit ul .content:nth-of-type(1) li:last-child {
        margin-right: 0;
    }
    #using_bit ul .content:nth-of-type(2) li:last-child {
        float: right;
        margin-right: 0;
    }
    #using_bit ul .content:nth-of-type(2) li {
        margin-right: 33px;
    }
    #using_bit {
        height: 239px;
    }
    #using_bit ul li {
        margin-right: 14px;
    }
}

@media screen and (max-width: 606px) {
    #using_bit {
        height: 1000px;
        width: 100%;
    }
    #using_bit ul {
        width: 100%;
    }
    #using_bit ul li {
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 45px;
    }
    #using_bit ul li img {
        display: inline-block;
    }
    #using_bit ul .content {
        width: 100% !important;
    }
    #using_bit ul li {
        margin-right: 0px !important;
        margin-left: 0px;
    }
}


/* media query what bitcoin*/

@media screen and (max-width: 925px) {
    .slide2 .content {
        width: 400px;
    }
    .slide2 .content h3 {
        font: 400 59px / 69px NexaLight;
        padding-top: 66px;
    }
    .slide2 {
        height: 750px !important;
    }
}

@media screen and (max-width: 603px) {
    .slide2 .content {
        width: 300px;
        margin-top: 60px;
    }
    .slide2 .content h3 {
        font: 400 40px / 41px NexaLight;
        padding-top: 65px;
        width: 100%;
        text-align: center;
    }
    .slide2 .content h3 span{
        font-size: 40px;
    }

    .slide2 {
        height: 840px !important;
    }
}

@media screen and (max-width: 533px) {
    .slide2 .content {
        margin-top: 70px;
    }
}
@media screen and (max-width: 350px) {
    .slide2 .content h3{
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 414px) {
    .slide2 .slick-prev {
        display: none !important;
    }
    .slide2 .slick-next {
        display: none !important;
    }
    .slide2 .content {
        margin-top: 50px;
    }
    .slide2 .content p {
        margin-top: 20px;
    }
    .slide2 .slick-dots {
        display: block !important;
    }
    .slide2 .slick-dots li button:before {
        color: #000000;
    }

}


@media screen and (max-width: 320px) {
    .slide2 .content {
        width: 270px;
    }
    .slide2 .content h3 {
        font: 100 40px / 53px NexaSlab-light;
    }
    .slide2 .content p {
        font: 100 16px / 22px NexaSlab-light;
        margin-top: 16px;
    }
    .slide2 .content h3 span {
        font: 600 44px / 60px NexaSlab-bold;
    }
}


/*plan*/

@media screen and (max-width: 1024px) {
    .plans .plan {
        width: 260px;
    }
    .plan_pro {
        width: 260px !important;
    }
    .plans .plan_pro2 {
        width: 260px;
    }
}

@media screen and (max-width: 800px) {
    .plans .plan {
        width: 200px;
        height: 416px !important;
    }
    .plan_pro {
        width: 200px !important;
    }
    .plans .plan_pro2 {
        width: 200px;
    }
    .plans .pro .header h4 {
        line-height: 89px;
    }
}

@media screen and (max-width: 603px) {
    .slide4 .slick-dots {
        bottom: 0;
        position: relative !important;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .pricing_unique {}
    .plans .plan {
        width: 70%;
    }
    .plan_pro {
        width: 70% !important;
        height: 502px !important;
    }
    .plans .plan_pro2 {
        width: 70%;
        height: 508px;
        top: 0px;
    }
    .plans .center {
        margin-top: 0px;
    }
    .plans .plan .header h4,
    .plans .plan_pro .header h4,
    .plans .plan_pro2 .header h4 {
        font-size: 30px;
    }
    .plans .plan .content .pricing,
    .plans .plan_pro .content .pricing,
    .plans .plan_pro2 .content .pricing {
        font-size: 30px;
    }
    .plans .plan .content .pricing span,
    .plans .plan_pro .content .pricing span,
    .plans .plan_pro2 .content .pricing span {
        font-size: 16px;
    }
    .plans .plan .content li p,
    .plans .plan_pro .content li p,
    .plans .plan_pro2 .content li p {
        font-size: 15px;
    }
    .plans .plan .content li p span,
    .plans .plan_pro .content li p span,
    .plans .plan_pro2 .content li p span {
        font-size: 11px;
    }
    .plans .plan .header h4 {
        line-height: 94px;
    }
    .plans .plan_pro .header h4 {
        line-height: 94px;
    }
    .plans .plan_pro2 .header h4 {
        line-height: 94px;
    }
    .plans .plan .content .pricing {
        margin-top: 24px;
        line-height: 24px;
    }
    .plans .plan_pro .content .pricing {
        margin-top: 24px;
        line-height: 24px;
    }
    .plans .plan_pro .content .pricing span {
        padding-bottom: 9px;
    }
    .plans .plan_pro2 .content .pricing {
        margin-top: 24px;
        line-height: 24px;
    }
    .plans .plan_pro2 .content .pricing span {
        padding-bottom: 9px;
    }
    .plans .plan .content .pricing span {
        padding-bottom: 9px;
    }
}

.section_slider {
    width: 100%;
    float: left;
    min-height: 710px;
    background: #d9d9d9 url(../images/bg_plans.jpg) top center no-repeat;
    text-align: center;
}

@media screen and (max-width: 1075px) {
    .plans .plan {
        width: 290px;
    }
    .slide4 .slick-prev {
        display: none !important;
    }
    .slide4 .slick-next {
        display: none !important;
    }
}

@media screen and (max-width: 935px) {
    .plans .plan {
        width: 250px;
    }
    .plans .plan .content li p {
        font-size: 17px;
    }
    .plans .center {
        width: 780px;
    }
}

@media screen and (max-width: 805px) {
    .plans .plan {
        width: 250px;
        margin-bottom: 15px;
    }
    .plans .center {
        width: 250PX;
    }
    .plans .session {
        height: inherit;
        min-height: 710px;
    }
    .plans .plan .header h4 {
        line-height: 70px;
    }
}

@media screen and (max-width: 660px) {
    .plans .plan {
        margin-bottom: 30px;
    }
    .plans .plan:nth-of-type(3) {
        margin-bottom: 50px;
    }
    .plans .pro {
        top: 0px;
    }
}

@media screen and (max-width: 350px) {
    .plans .plan {
        width: 240px;
    }
    .pricing_unique {
        width: 240px !important;
    }
}


/*BLOG*/

@media screen and (max-width: 1000px) {
    #blog .center {
        width: 665px;
    }
    .news {
        width: 296px !important;
        margin-left: 10px;
    }
    .slide3 .slick-dots {
        bottom: -89px;
    }
}

@media screen and (max-width: 730px) {
    #blog .center {
        width: 310px;
    }
    .news {
        width: 310px !important;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 350px) {
    #blog .center {
        width: 240px;
    }
    .news {
        width: 240px !important;
        margin-left: 0px;
        margin-right: 0px;
    }
    .news .header .date {
        width: 42px;
        height: 59px;
        font: 400 21px / 39px 'Montserrat';
    }
    .news .header .title {
        width: 192px;
        font: 400 14px / 24px 'Montserrat';
    }
}


/*Footer*/

@media screen and (max-width: 1120px) {
    .footer .logo {
        width: 182px;
    }
}

@media screen and (max-width: 1000px) {
    .footer .logo {
        width: 300px;
        margin: 0 auto;
        float: inherit;
    }
}


@media screen and (max-width: 630px) {
    .footer .logo {
        width: 100%;
        float: left;
        text-align: center;
    }
}

.menuResponsive {
    display: none;
}

.menuResponsive {
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #1f2225;
    z-index: 200;
}

.menuResponsive ul {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    float: left;
}

.menuResponsive ul li {
    width: 100%;
    float: left;
    text-align: center;
    list-style: none;
    border-top: 1px solid #313437;
    background: #1f2225;
}

.menuResponsive ul li a {
    width: 100%;
    color: #ffffff;
    font: 600 13px / 60px 'Open Sans';
    float: left;
}

.menuResponsive ul li:last-child {
    border-bottom: 1px solid #313437;
}

.menuResponsive ul li a {
    color: #ffffff;
    text-decoration: none;
}

.menuResponsive ul li.respInfos {
    background-color: #da0614;
    font: 100 11px / 43px 'Open Sans';
    border-top: 1px solid #552125;
}

.activate_lang {
    display: block!important;
}

.activate_lang_bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.close_lang {
    width: 100%;
    height: 38px;
    float: left;
    padding-top: 20px;
    cursor: pointer;
    background: url(../images/menu_hover.png) top 20px right 20px no-repeat;
}


/*MENU RESPONSIVO*/

@media screen and (max-width: 885px) {
    .lang_list {
        width: 60%;
    }
    .activate {
        display: block!important;
    }
    .activate_menu {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 110;
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.7);
        /* Black w/ opacity */
    }
    .close_menu {
        width: 100%;
        height: 16px;
        float: left;
        padding-top: 20px;
        cursor: pointer;
        background: url(../images/menu_hover.png) top 20px right 20px no-repeat;
    }
}

@media screen and (max-width: 315px) {
    .menuResponsive {
        width: 70%;
    }
}

.offer {
    width: 100%;
    float: left;
    min-height: 500px;
}

.offer .desc {
    width: 6%;
    float: left;
    position: absolute;
    top: 0;
    height: 511px;
    padding-top: 234px;
    background: rgba(218, 6, 20, 0.8);
}

.offer .desc p {
    font: 400 15px / 17px 'Nexa Book';
    color: #ffffff;
    text-align: justify;
    width: 80%;
    float: right;
    margin-right: 5%;
    margin-top: 20px;
}

.offer .content {
    width: 650px;
    margin: 0 auto;
}

.offer .content ul {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.offer .content ul li {
    float: left;
    width: 285px;
    height: 150px;
    text-align: left;
    margin-bottom: 25px;
    padding-top: 54px;
}

.offer .content ul li:nth-of-type(2n) {
    float: right;
}

.offer .content ul li h4 {
    float: left;
    font: 400 16.02px / 17.018px 'NexaBold';
    color: #090c0e;
    padding: 7px 0;
}

.offer .content ul li p {
    float: left;
    font: 400 15px / 17px 'Nexa Book';
    color: #6c7176;
    text-align: justify;
}

.offer .content ul li.solution {
    background: url(../images/icon_solucao.png) left top no-repeat;
}

.offer .content ul li.profitability {
    background: url(../images/icon_rentabilidade.png) left top no-repeat;
}

.offer .content ul li.pioneering_tool {
    background: url(../images/icon_ferramenta.png) left top no-repeat;
}

.offer .content ul li.simples_costs {
    background: url(../images/icon_preci.png) left top no-repeat;
}

@media screen and (max-width: 1075px) {
    .offer .content {
        width: 280px;
    }
    li.solution {
        height: auto !important;
    }
    li.pioneering_tool {
        height: auto !important;
    }
}

@media screen and (max-width: 606px) {
    .offer .desc {
        width: 100%;
        float: left;
        position: relative;
        top: 0;
        height: 272px;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    .offer .content {
        width: 280px;
        margin: 0 auto;
    }
    .offer .desc p {
        width: 90%;
    }
}

@media screen and (max-width: 527px) {
    .offer .desc {
        height: 300px;
    }
}

@media screen and (max-width: 412px) {
    .offer .desc {
        height: 340px;
    }
}

@media screen and (max-width: 406) {
    .offer .desc {
        height: 400px;
    }
}

@media screen and (max-width: 378px) {
    .offer .desc {
        height: 400px;
    }
}

@media screen and (max-width: 378px) {
    .offer .desc {
        height: 440px;
    }
}

@media screen and (max-width: 295px) {
    .offer .desc {
        height: 470px;
    }
}

@media screen and (max-width: 275px) {
    .offer .desc {
        height: 500px;
    }
}


/* SELECT MENU RESPONSIVO*/

.lc-select {
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    font: 600 13px / 60px 'Open Sans';
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    display: block;
    padding: 0 1em;
}

.lc-select__text {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
}

.lc-select__select {
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    display: block;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.lc-select--center {
    text-align: center;
}

.lc-select--center:after {
    position: relative;
    top: -3px;
    left: 10px;
    right: auto;
}

.banner_news {
    width: 100%;
    float: left;
    background: url(../images/banner_news.jpg) center top 59% no-repeat;
    height: 70vh;
}

.news_content {
    width: 1040px;
    margin: 0 auto;
}

.news_content .sidebar {
    width: 260px;
    float: left;
    margin-top: 115px;
    margin-bottom: 40px;
}

.news_content .sidebar .title {
    color: #1f2225;
    font: 400 20px / 35px NexaBold;
    float: left;
    width: 100%;
    text-transform: uppercase;
}

.posts_popular {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.posts_popular img {
    float: left;
}

.posts_popular h3 {
    float: left;
    width: 62%;
    margin-left: 15px;
    margin-top: 4px;
    font: 400 11px / 17.018px NexaBold;
    color: #1f2225;
    text-transform: uppercase;
}
.posts_popular h3 a{
    color: #1f2225;
    text-decoration: none;
}
.posts_popular h3 a:hover{
    text-decoration: underline;
}

.posts_popular .date {
    float: left;
    width: 62%;
    color: #c5c5c5;
    margin-left: 15px;
    margin-top: 5px;
    font: 400 11px / 17.018px "Nexa Book";
}

.category_bar {
    width: 100%;
    float: left;
    margin-top: 40px;
}

.category_bar h3 {
    color: #1f2225;
    font: 400 20px / 35px NexaBold;
    float: left;
    width: 100%;
}

.category_bar ul {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.category_bar ul li {
    width: 92%;
    float: left;
    list-style: none;
    color: #6c7176;
    font: 400 13px / 44px "Nexa Book";
    border-bottom: 1px solid #dcdee0;
}

.category_bar ul li a{
    color: #6c7176;
    text-decoration: none;
}
.category_bar ul li a:hover{
    text-decoration: underline;
}

.category_bar ul li span {
    float: right;
}

.newsClick {
    width: 730px;
    float: right;
    margin-top: 115px;
}

.newsClick .title {
    width: 100%;
    float: left;
    margin-top: 5px;
}

.newsClick .title .date {
    float: left;
    width: 45px;
    height: 65px;
    border: 3px solid #dcdee0;
    color: #1f2225;
    font: 400 22px / 52px NexaBold;
    text-align: center;
}

.newsClick .title .date span {
    font: 400 12px / 24px NexaBold;
    position: relative;
    top: -35px;
}

.newsClick .title h1 {
    width: 90%;
    float: right;
    font: 400 21px / 69px NexaBold;
    border-bottom: 1px solid #dcdee0;
}

.newsClick .title .text p {
    width: 100%;
    float: left;
    font: 400 15px / 17px 'Nexa Book';
    color: #6c7176;
}

.newsClick .text {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.newsClick .text p {
    color: #6c7176;
    font: 400 15px / 23px 'Nexa Book';
    text-align: justify;
    float: left;
    margin-bottom: 20px
}

.newsClick .info {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
}

.newsClick .info li {
    float: left;
    color: #666;
    font: 400 11px / 24px 'Nexa Book';
    padding-left: 15px;
    margin-right: 19px;
    list-style: none;
}
.share{
    color: #1f2225;
    font: 400 15px / 15px NexaBold;
}
.newsClick .info li a {
    color: #666;
    text-decoration: none;
}

.newsClick .info li:hover a {
    text-decoration: underline;
}

.newsClick .info li.Author {
    background: url(../images/author.png) left top 6px no-repeat;
}

.newsClick .info li.Category {
    padding-left: 19px;
    background: url(../images/category.png) left top 7px no-repeat;
}

.newsClick .info li.Comments {
    padding-left: 19px;
    background: url(../images/comments.png) left top 7px no-repeat;
}

.newsClick .info li.Views {
    padding-left: 18px;
    background: url(../images/views.png) left top 8px no-repeat;
}

.related {
    width: 730px;
    float: right;
    border-top: 1px solid #dcdee0;
    margin-top: 30px;
    margin-bottom: 40px;
}

.related .post {
    width: 350px;
    float: left;
}

.related .post:last-child {
    float: right;
}

.related h3 {
    color: #1f2225;
    font: 400 20px / 35px NexaBold;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.related .title {
    width: 100%;
    float: left;
    margin-top: 8px;
}

.related .title .date {
    float: left;
    width: 45px;
    height: 65px;
    border: 3px solid #dcdee0;
    color: #1f2225;
    font: 400 22px / 52px NexaBold;
    text-align: center;
}

.related .title .date span {
    font: 400 12px / 24px NexaBold;
    position: relative;
    top: -35px;
}

.related .title h1 {
    width: 82%;
    float: right;
    font: 400 16px / 24px NexaBold;
    border-bottom: 1px solid #dcdee0;
    padding-top: 11px;
    padding-bottom: 10px;
}

.related .title h1 a{
    color: #1f2225;
    text-decoration: none;
}
.related .title h1 a:hover{
    text-decoration: underline;
}

.related .text {
    width: 100%;
    float: left;
    color: #6c7176;
    font: 400 15px / 23px 'Nexa Book';
    text-align: justify;
    float: left;
    margin-top: 15px;
}

.related .info {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.related .info li {
    float: left;
    color: #666;
    font: 400 11px / 24px 'Nexa Book';
    padding-left: 15px;
    margin-right: 19px;
    list-style: none;
}

.related .info li a {
    color: #666;
    text-decoration: none;
}

.related .info li:hover a {
    text-decoration: underline;
}

.related .info li.Author {
    background: url(../images/author.png) left top 6px no-repeat;
}

.related .info li.Category {
    padding-left: 19px;
    background: url(../images/category.png) left top 7px no-repeat;
}

.related .info li.Comments {
    background: url(../images/comments.png) left top 7px no-repeat;
}

.related .info li.Views {
    padding-left: 18px;
    background: url(../images/views.png) left top 8px no-repeat;
}

.img_news{
    width: 730px;
    height: 470px;
}

@media only screen and (max-width: 1060px) {
    .news_content {
        width: 955px;
    }
    .newsClick {
        margin: 0 auto;
        position: relative;
        float: initial;
    }
    .img_news {
        margin-top: 40px;
    }
    .news_content .sidebar {
        width: 730px;
        float: initial;
        margin: 0 auto;
    }
    .posts_popular {
        width: 225px;
        float: left;
        margin-top: 20px;
        margin-right: 18px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 955px) {
    .news_content {
        width: 650px;
    }
    .newsClick {
        width: 100%;
    }
    .img_news {
        width: 100%;
    }
    .news_content .sidebar {
        width: 100%;
    }
    .posts_popular {
        width: 216px;
        margin-right: 1px;
    }
    .posts_popular:last-child {
        margin-right: 0px;
    }
    .posts_popular h3 {
        margin-top: 1px;
        font: 400 11px / 15px NexaBold;
    }
}

@media only screen and (max-width: 680px) {
    .news_content {
        width: 440px;
    }
    .newsClick .title h1 {
        width: 85%;
        padding-top: 7px;
        padding-bottom: 7px;
        font: 400 21px / 27px NexaBold;
    }
}

@media only screen and (max-width: 480px) {
    .news_content {
        width: 240px;
    }
    .newsClick .title h1 {
        font: 400 16px / 27px NexaBold;
    }
    .newsClick .title .date {
        border: 0;
        text-align: left;
        font: 400 10px / 29px NexaBold;
        height: 27px;
        width: 39px;
    }
    .newsClick .title .date span {
        font: 400 9px / 6px NexaBold;
        position: relative;
        top: -17px;
        float: right;
    }
    .newsClick .title h1 {
        padding-top: 0px;
        width: 100%;
    }
    .posts_popular {
        margin-bottom: 0px;
    }
    .posts_popular:last-child {
        margin-bottom: 40px;
    }
    .newsClick .info li {
        margin-right: 15px;
    }
}


/* SELECT MENU RESPONSIVO*/

.lc-select {
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    font: 600 13px / 60px 'Open Sans';
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    display: block;
    padding: 0 1em;
}

.lc-select__text {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
}

.lc-select__select {
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    display: block;
    width: 100%;
    height: 50px;
    left: 0;
    top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.lc-select--center {
    text-align: center;
}

.lc-select--center:after {
    position: relative;
    top: -3px;
    left: 10px;
    right: auto;
}


/* HIDE GOOGLE TRANSLATE ELEMENTS */

#google_translate_element,
.goog-te-banner-frame,
.goog-te-balloon-frame,
#goog-gt-tt,
.goog-te-balloon-frame,
.goog-tooltip,
.goog-tooltip:hover {
    display: none !important;
}

html,
body {
    top: 0 !important;
}

font {
    background: transparent !important;
    color: inherit !important;
    font: inherit !important;
}

font:hover,
.goog-text-highlight:hover,
.goog-text-highlight {
    -webkit-box-shadow: inherit !important;
    -moz-box-shadow: inherit !important;
    box-shadow: inherit !important;
    box-sizing: inherit !important;
    -webkit-box-sizing: inherit !important;
    -moz-box-sizing: inherit !important;
}

.topo-box-bandeira {
    display: inline-block
}

#graphic {
    width: 100%;
    height: 420px;
    float: left;
    background-color: #d91407;
    border-top: 2px solid #ebf2f6;
}

#graphic .center {
    width: 66%;
    margin: 0 auto;
    position: relative;
}

#last_value {
    width: 100%;
    height: 80px;
    background-color: #6c6c6c;
    float: left;
    margin-top: -60px;
}

#last_value #value {
    width: 270px;
    height: 77px;
    text-align: center;
    color: #ffffff;
    font: 400 24.98px / 76px NexaBold;
    text-align: center;
    border-left: 1px solid #6a5958;
    border-right: 1px solid #6a5958;
    border-bottom: 3px solid #d91407;
    background-image: url(../images/icon_setabit.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.price_current {
    width: 270px;
    float: left;
    text-align: center;
    color: #9f9fa0;
    font: 400 11px / 12px NexaBold;
    margin-top: -23px;
}

.menu_footer {
    width: 525px;
    float: left;
}

.menu_footer .block1 {
    width: 130px;
    margin-left: 50px;
}

.menu_footer .block2 {
    width: 90px;
    margin-left: 45px;
    margin-right: 45px;
}

.menu_footer .block3 {
    width: 100px;
}

.menu_footer li {
    float: left;
    font-size: 11px;
    padding-left: 20px;
    font-family: "Nexa Book";
    background-position: left top;
    background-repeat: no-repeat;
    text-transform: uppercase;
    height: 39px;
}

.menu_footer li a {
    color: #ffffff;
    text-decoration: none;
}

.menu_footer li a:hover {
    text-decoration: underline;
}

.menu_footer li:nth-of-type(1) {
    background-image: url(../images/footer_icon1.png);
}

.menu_footer li:nth-of-type(2) {
    background-image: url(../images/footer_icon5.png);
}

.menu_footer li:nth-of-type(3) {
    background-image: url(../images/footer_icon9.png);
}

.menu_footer li:nth-of-type(4) {
    background-image: url(../images/footer_icon2.png);
}

.menu_footer li:nth-of-type(5) {
    background-image: url(../images/footer_icon6.png);
}

.menu_footer li:nth-of-type(6) {
    background-image: url(../images/footer_icon10.png);
}

.menu_footer li:nth-of-type(7) {
    background-image: url(../images/footer_icon3.png);
}

.menu_footer li:nth-of-type(8) {
    background-image: url(../images/footer_icon7.png);
}

.menu_footer li:nth-of-type(9) {
    background-image: url(../images/footer_icon11.png);
}

.menu_footer li:nth-of-type(10) {
    background-image: url(../images/footer_icon4.png);
}

.menu_footer li:nth-of-type(11) {
    background-image: url(../images/footer_icon8.png);
}

.menu_footer li:nth-of-type(12) {
    background-image: url(../images/footer_icon12.png);
}

.infos_footer {
    width: 190px;
    float: right;
}

.infos_footer p {
    width: 100%;
    float: left;
    margin-bottom: 22px;
    font-size: 11px;
    font-family: "Nexa Book";
    color: #ffffff;
}

.infos_footer p span {
    color: #da0614;
}

.infos_footer #languages {
    width: 100%;
    border: 1px solid #6c7176;
    text-transform: uppercase;
    background: none;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.infos_footer #languages:hover {
    background: #da0614;
    -webkit-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}

.infos_footer #languages li {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 11px;
    font-family: "Nexa Book";
}

.infos_footer #languages li a {
    color: #ffffff;
    width: 100%;
    height: 100%;
    float: left;
    line-height: 27px;
}

.infos_footer #languages li a:hover {
    text-decoration: none;
}
@media screen and (max-width: 1000px) {
    .footer .logo {
        width: 175px;
        margin: 0 auto;
        float: inherit;
    }
    .footer .center{
        width: 550px;
    }
    .footer .logo {
        width: 175px;
        margin: 0 auto;
        float: inherit;
    }
    .menu_footer {
        width: 470px;
        float:inherit;
        margin: 0 auto;
    }
    .menu_footer .block1{
        margin-left: 0px;
    }
    .infos_footer p {
        width: 100%;
        text-align: center;
    }
    .infos_footer {
        width: 100%;
        float: right;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 590px) {
    .footer .center {
        width: 240px;
    }
    .menu_footer{
        display: none;
    }
    .infos_footer #languages{
        display: none;
    }
    .reserved{
        width: 100%;
        margin-bottom: 0px;
    }
    .reserved p{
        width: 100%;
        text-align: center;
    }
    .network{
        float: right;
        margin-bottom: 24px;
        width: 72%;
    }
}
.network {
    float: right;
    margin-top: 24px;
}



.map {
    width: 100%;
    min-height:700px;
    float: left;
    text-align: center;
    background: url(../images/bg_mapa.jpg) center no-repeat;
}
.map h1{
    width: 100%;
    float: left;
    color: #ffffff;
    font: 400 24px / 34px NexaBold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 170px;
    background: url(../images/map_icon.png) center top no-repeat;
    padding-top: 56px;
}
.map h1 span{
        font: 400 24px/0px NexaLight;
}
.map .image_map{
    display: inline block;
    margin-bottom: 50px;
    margin-top: 66px;
}
@media screen and (max-width: 1250px) {
    .map .image_map{
        width: 93%;
    }
}
@media screen and (max-width: 975px) {
    .map h1{
        margin-top: 222px;
    }
}
@media screen and (max-width: 885px) {
    .map h1{
        margin-top: 133px;
    }
}
.newsletter {
    width: 100%;
    float: left;
    background: #cdcdcd;
    min-height: 180px;
}
.newsletter {
}
.newsletter ::-webkit-input-placeholder {
}

.newsletter :-moz-placeholder {
}

.newsletter ::-moz-placeholder {
}

.newsletter :-ms-input-placeholder {
}



.newsletter .center{
    width: 985px;
    margin: 0 auto;
}
.newsletter p{
    width: 220px;
    float: left;
    font-size: 24px;
    color: #ffffff;
    font-family: 'NexaBold';
    margin-top: 61px;
}
.newsletter p span{
    font-family: "Nexa Book";
}

#newsletter {
    width: 380px;
    float: right;
    margin-top: 63px;
}
#newsletter .text{
    width: 206px;
    height: 59px;
    float: left;
    color: #a0a0a0;
    background: #ffffff;
    border-width: 0;
    padding: 0 22px;
    font-family: nexaBold;
    font-size: 16px;
}
#newsletter .sub_btn{
    width: 130px;
    height: 59px;
    float: left;
    color: #ffffff;
    background: #da0614;
    border-width: 0;
    cursor: pointer;
    font-family: nexaBold;
    font-size: 14px;
}

@media screen and (max-width: 1030px) {
    .newsletter .center{
        width: 610px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 650px) {
    #newsletter {
        width: 240px;
        float: right;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .newsletter .center{
        width: 240px;
        margin: 0 auto;
    }
    #newsletter .sub_btn {
        width: 115px;
        height: 42px;
    }
    #newsletter .text{
        width: 230px;
        padding-left: 10px;
        padding-right: 0px;
    }
    .newsletter p {
        margin-top: 24px;
    }
}

.terms {
    width: 100%;
    min-height:700px;
    float: left;
    text-align: left;
	margin: 30px;
}
.terms h1{
    width: 100%;
    float: left;
    color: #000000;
    font: 400 24px / 34px NexaBold;
    text-transform: uppercase;
    text-align: left;
    margin-top: 170px;
    padding-top: 56px;
    margin-bottom: 55px;
}
.terms h1 span{
        font: 400 24px/0px NexaLight;
}

.roi {
    width: 100%;
    min-height:700px;
    float: left;
    text-align: center;
    background: url(../images/bg_roi.jpg) center top;
}
.roi h1{
    width: 100%;
    float: left;
    color: #ffffff;
    font: 400 24px / 34px NexaBold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 170px;
    background: url(../images/roi.png) center top no-repeat;
    padding-top: 56px;
    margin-bottom: 55px;
}
.roi h1 span{
        font: 400 24px/0px NexaLight;
}
.roi_content {
    width: 100%;
    float: left;
    text-transform: uppercase;
}
.roi_content .center{
    width: 920px;
    margin: 0 auto;
}
.roi_content .cont1{
    width: 370px;
    float: left;
    margin-bottom: 18px;
}
.roi_content .cont1:nth-of-type(1){
    margin-left: 109px;
}
.roi_content .cont1 label{
    width: auto;
    float: left;
    font: 400 18px/55px NexaLight;
    color: #ffffff;
}
.roi_content .cont1 .input_border{
    margin-left: 13px;
    width: 122px;
    height: 54px;
    text-align: center;
    float: left;
    font: 400 18px/25px NexaLight;
    color: #ffffff;
    border-width: 0;
    border: 1px solid #ffffff;
    background: none;
}
.roi_content .cont1:nth-of-type(1) .input_border{
    padding-left: 50px;
}
.roi_content .cont1:nth-of-type(2) .input_border{
    padding-left: 43px;
}
.roi_content .cont1 option{
    color: #111111;
}
.roi_content .cont2{
    width: 100%;
    height: 60px;
    background: #000000;
    float: left;
    margin-bottom: 7px;
}
.roi_content .cont2 p{
    float: left;
    font: 400 18px/62px NexaLight;
    color: #ffffff;
}

.roi_content .cont2:nth-of-type(4) p{
    padding-bottom: 14px;
    background: url(../images/icon_calc.png) bottom left 43px no-repeat;
}
.roi_content .cont2:nth-of-type(6) p{
    padding-bottom: 14px;
    background: url(../images/icon_calc.png) bottom left 71px no-repeat;
}
.roi_content .totals{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    margin-top: 20px;
}
.roi_content .totals li{
    width: 122px;
    height: 112px;
    border: 1px solid #ffffff;
    list-style: none;
    float: left;
    font: 400 12px/34px NexaLight;
    color: #ffffff;
    margin-right: 7px;
    text-align: center;
}
.roi_content .totals li:last-child{
    margin-right: 0px;
}
.roi_content .totals li p{
    margin-top: 25px;
}
.roi_content .profita{
    width: 100%;
    float: left;
    margin-bottom: 50px;
    margin-top: 20px;
}
.roi_content .profita li{
    width: 172px;
    height: 112px;
    border: 1px solid #ffffff;
    list-style: none;
    float: left;
    font: 400 12px/34px NexaLight;
    color: #ffffff;
    margin-right: 10px;
    text-align: center;
}
.roi_content .profita li:last-child{
    margin-right: 0px;
}
.roi_content .profita li p{
    margin-top: 25px;
}

@media screen and (max-width: 960px) {
    .roi_content .center{
        width: 552px;
        margin: 0 auto;
    }
    .roi_content .cont1 .input_border{
        float: right;
    }
    .roi_content .totals li{
        margin-bottom: 7px;
    }
    .roi_content .profita li{
        margin-bottom: 10px;
    }
    .roi_content .cont1:nth-of-type(1){
        margin-left: 0;
        width: 310px;
    }
    .roi_content .cont1:nth-of-type(2){
        width: 310px;
    }
    .roi_content .cont1:nth-of-type(2) label{
    }
    .roi h1{
        margin-top: 222px;
    }
}

@media screen and (max-width: 885px) {
    .roi h1 {
        margin-top: 125px;
    }
}
@media screen and (max-width: 600px) {
    .roi_content .center{
        width: 245px;
        margin: 0 auto;
    }
    .roi_content .cont1{
        width: 175px !important;
        float: left;
        text-align: center;
    }
    .roi_content .cont1 label{
        text-align: left;
        width: 100% !important;
        text-align: center;
    }
    .roi_content .cont1 .input_border{
        float:inherit;
        margin-left: 0;
        display: inline block;
        margin-left: 27px;
    }
    .roi h1{
        margin-bottom: 30px;
    }
    .roi .central{
       width: 175px;
        margin: 0 auto;
        text-align: center;
    }
    .roi_content .cont2 p{
        width: 100%;
        float: left;
        text-align: center;
    }
    .roi_content .totals{
        text-align: center;
    }
    .roi_content .totals li{
        display: inline-block;
        float: initial !important;
        margin-right: 0;
    }
    .roi_content .cont2:nth-of-type(4) p{
        background: url(../images/icon_calc.png) bottom center no-repeat;
    }
    .roi_content .cont2:nth-of-type(6) p{
        background: url(../images/icon_calc.png) bottom center no-repeat;
    }
    .roi_content .profita{
        text-align: center;
    }
    .roi_content .profita li{
        display: inline-block;
        float: initial;
        margin-right: 0;
    }
}
#slide1 {
    width:100%;
    min-height:600px;
    float: left;
    background-image:url(../images/bg_slide1.jpg);
    background-color:#dbdada;
    background-position:bottom;
    background-repeat:no-repeat;
}
@media screen and (min-width: 2000px) {
    #slide1 {
        background-image:url(../images/bg_slide12.jpg);
    }
    .slide2 {
        background-image:url(../images/bg_slide22.jpg);
    }
    .section_slider {
        background:#d9d9d9 url(../images/bg_plans2.jpg) top center no-repeat;
    }
    #blog{
        background: url(../images/bg_news2.jpg) center no-repeat;
    }
    .roi {
        background: url(../images/bg_roi2.jpg) center top no-repeat;
    }
    .map{
        background: url(../images/bg_mapa2.jpg) center no-repeat;
    }
}
.btn_ok {
    float: left;
    width: 130px;
}

.goTop {
    width: 38px;
    height: 38px;
    background: url(../images/goTop.png) no-repeat;
    right: 20px;
    bottom: 40px;
    position: fixed;
    z-index: 9999;
}
