<?php

$offline = 0;
$offpage = 0;

$user = $this->User;

?>

<!DOCTYPE html>
<html lang="<?php echo $this->userLanguage; ?>">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="refresh" content="1201">
  <title><?php echo SITE_NAME; ?></title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/public/assets/css/dashboard.min.css">
  <link rel="icon" type="image/png" href="public/assets/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="public/assets/img/favicon-16x16.png" sizes="16x16">
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/public/js/addons.js"></script>
  <script type="text/javascript" src="/public/js/virtual.js"></script>
</head>

<body>
  <header class="header">
    <div class="container">
      <div><button class="header__button"><i class="mdi mdi-menu"></i></button> <a href="<?php echo LINK_OFFICE; ?>" class="header__brand"><img src="/public/assets/img/logo2.png" alt="Logo <?php echo SITE_NAME; ?>"></a></div>
      <div class="header__user">
        <div>
          <h6 class="header__user__name color-1"><?php echo $this->username;?></h6>
          <div class="d-flex align-center"><span class="header__user__summary-label"><?php echo $this->tr->_("status_da_conta"); ?></span> <span class="header__user__summary-value color-success d-flex"><i class="mdi mdi-chevron-up-box"></i> <?php echo $this->tr->_("ativa"); ?> </span>
            <?php if($this->validate){ ?>
              <span class="header__user__summary-value color-success d-flex"><i class="mdi mdi-chevron-up-box"></i><?php echo $this->tr->_("verificada"); ?></span>
            <?php }else{?>
              <a href="<?php echo LINK_OFFICE; ?>/documentation"><span class="header__user__summary-value color-danger d-flex"> <i class="mdi mdi-chevron-down-box"></i><?php echo $this->tr->_("nao_verificada"); ?></a></span>
            <?php } ?>
          </div>
        </div>
          <?php /*if(!empty($this->nomeTitulo)) { ?>
          <img src="/public/images/titulos/<?php echo $this->imagemTitulo; ?>" title="<?php echo $this->nomeTitulo; ?>" class="header__user__avatar" width="64" />
          <?php }else{ ?>
          <img src="/public/images/user_pro_ok.png" class="header__user__avatar" width="64"/>
        <?php }*/ ?>
        <img src="/public/images/user_pro_ok.png" class="header__user__avatar" width="64"/>
        <ul class="header__user-actions">
          <li><a href="/account"><i class="mdi mdi-account-outline"></i> <?php echo $this->tr->_("minha_conta"); ?></a></li>
          <?php if(!$this->validate){ ?>
            <li><a href="/documentation"><i class="mdi mdi-account-outline"></i> <?php echo $this->tr->_("verificar_conta"); ?></a></li>
          <?php } ?>
          <li><a href="/account/language"><i class="mdi mdi-account-outline"></i> <?php echo $this->tr->_("language"); ?></a></li>
          <li><a href="/account/password"><i class="mdi mdi-lock-outline"></i> <?php echo $this->tr->_("senha"); ?></a></li>
          <li><a href="/logout"><i class="mdi mdi-exit-to-app"></i> <?php echo $this->tr->_("sair"); ?></a></li>
        </ul>
      </div>
    </div>
  </header>
  <aside class="sidebar color-menu">
    <nav>
      <ul>
        <li><a href="<?php echo LINK_OFFICE; ?>/home"><i class="mdi mdi-account-outline"></i> <?php echo $this->tr->_("home"); ?></a></li>
        <li>
          <div class="sidebar__sub-items">
            <i class="mdi mdi-wallet-outline"></i> <?php echo $this->tr->_("carteira"); ?>
            <ul>
              <li><a href="<?php echo LINK_OFFICE; ?>/withdraw"><i class="mdi mdi-checkbox-marked-circle-outline"></i><?php echo $this->tr->_("saque"); ?></a></li>
              <li><a href="<?php echo LINK_OFFICE; ?>/deposit"><i class="mdi mdi-checkbox-marked-circle-outline"></i><?php echo $this->tr->_("deposito"); ?></a></li>
              <li><a href="<?php echo LINK_OFFICE; ?>/ewallet/transactions"><i class="mdi mdi-checkbox-marked-circle-outline"></i><?php echo $this->tr->_("historico_de_transacoes"); ?></a></li>
            </ul>
          </div>
        </li>
        <li><a href="<?php echo LINK_OFFICE; ?>/buy"><i class="mdi mdi-clipboard-text-outline"></i><?php echo $this->tr->_("locar"); ?></a></li>
        <li><a href="<?php echo LINK_OFFICE; ?>/buy/invoice"><i class="mdi mdi-clipboard-text-outline"></i><?php echo $this->tr->_("faturas"); ?></a></li>
        <li><a href="<?php echo LINK_OFFICE; ?>/contracts"><i class="mdi mdi-file-document-edit-outline"></i> <?php echo $this->tr->_("contratos"); ?></a></li>
        <?php if($this->rede==1){ ?>
          <li><a href="<?php echo LINK_OFFICE; ?>/customers"><i class="mdi mdi-file-document-edit-outline"></i> <?php echo $this->tr->_("clientes"); ?></a></li>
          <li>
            <div class="sidebar__sub-items">
              <i class="mdi mdi-wallet-outline"></i> <?php echo $this->tr->_("comissoes"); ?>
              <ul>
                <li><a href="<?php echo LINK_OFFICE; ?>/comissions"><i class="mdi mdi-checkbox-marked-circle-outline"></i><?php echo $this->tr->_("resumo"); ?></a></li>
                <li><a href="<?php echo LINK_OFFICE; ?>/comissions/extrato"><i class="mdi mdi-checkbox-marked-circle-outline"></i><?php echo $this->tr->_("extrato"); ?></a></li>
              </ul>
            </div>
          </li>
        <?php } ?>
        <li>
          <div class="sidebar__sub-items">
            <i class="mdi mdi-wallet-outline"></i> <?php echo $this->tr->_("minha_conta"); ?>
            <ul>
              <li><a href="<?php echo LINK_OFFICE; ?>/account"><i class="mdi mdi-checkbox-marked-circle-outline"></i><?php echo $this->tr->_("meus_dados"); ?></a></li>
              <li><a href="<?php echo LINK_OFFICE; ?>/account/password"><i class="mdi mdi-checkbox-marked-circle-outline"></i><?php echo $this->tr->_("senha"); ?></a></li>
              <li><a href="<?php echo LINK_OFFICE; ?>/bitcoinaddress"><i class="mdi mdi-checkbox-marked-circle-outline"></i><?php echo $this->tr->_("endereco_bitcoin"); ?></a></li>
              <li><a href="<?php echo LINK_OFFICE; ?>/account/language"><i class="mdi mdi-checkbox-marked-circle-outline"></i><?php echo $this->tr->_("language"); ?></a></li>
              <li><a href="<?php echo LINK_OFFICE; ?>/account/authcode"><i class="mdi mdi-checkbox-marked-circle-outline"></i><?php echo $this->tr->_("verificacao_em_duas_etapas"); ?></a></li>
              <li><a href="<?php echo LINK_OFFICE; ?>/documentation"><i class="mdi mdi-checkbox-marked-circle-outline"></i><?php echo $this->tr->_("documentacao"); ?></a></li>
            </ul>
          </div>
        </li>
        <li><a href="<?php echo LINK_OFFICE; ?>/contact"><i class="mdi mdi-headset"></i> <?php echo $this->tr->_("suporte"); ?></a></li>
      </ul>
    </nav>
  </aside>
  <main class="container">
    <?php echo $this->layout()->content; ?>
  </main>
  <script>!function () { var e, t = document.querySelector(".header .header__user"), o = t.querySelector(".header__user-actions"); t.onmouseleave = function () { e = setTimeout(function () { o.style.zIndex = "-25" }, 200) }, t.onmouseenter = function () { clearTimeout(e), o.style.zIndex = "25" } }(), function () { var s = document.querySelector(".header__button"), n = document.querySelector(".sidebar"), r = document.body; s.onclick = function () { var e = r.style.overflowY, t = r.style.paddingRight, o = window.innerWidth - r.offsetWidth + "px"; r.style.overflowY = "hidden" === e ? "scroll" : "hidden", r.style.paddingRight = t === o ? "0px" : o, n.classList.toggle("show") }; for (var i = n.querySelectorAll(".sidebar__sub-items"), e = 0; e < i.length; e++)i[e].onclick = function () { var e = this.querySelector("ul"), t = "true" === e.getAttribute("aria-expanded"); e.classList.toggle("show"), e.setAttribute("aria-expanded", t ? "false" : "true") }; document.addEventListener("click", function (e) { for (var t, o = 0; o < i.length; o++) { i[o].contains(e.target) || (t = i[o].querySelector("ul")).classList.contains("show") && (t.classList.remove("show"), t.setAttribute("aria-expanded", "false")) } n.contains(e.target) || s.contains(e.target) || n.classList.contains("show") && (n.classList.remove("show"), r.style.overflowY = "scroll", r.style.paddingRight = "0px") }) }();</script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168251861-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-168251861-1');
  </script>

</body>

</html>
