<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><?php echo SITE_NAME; ?> - Cadastro</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/index.min.css">
    <link rel="icon" type="image/png" href="public/assets/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="public/assets/img/favicon-16x16.png" sizes="16x16">
    <script type="text/javascript" src="/public/js/jquery-1.8.2.js"></script>
    <script src="/public/signup/jquery/jquery.validate.js" type="text/javascript"></script>
    <style>
        #message {
            color: #c51b26;
            font-size: 12px;
            font-weight: 600;
        }

        #message a {
            color: #c51b26;
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;
        }

        #message a:hover {
            text-decoration: underline;
        }


        label.error {
            color: #c51b26;
            font-size: 12px;
            font-weight: 600;
            width: 100%;
            margin: 0;
            padding-left: 122px;
        }

        .danger {
            color: #c51b26;
            font-size: 12px;
            font-weight: 600;
        }

        .success {
            color: green;
            font-size: 12px;
            font-weight: 600;
        }
        .bg1 {
        background-image: url("/public/images/bg/fundowtc3.jpg");
        }
    </style>

    <script type="text/javascript" src="/public/js/jquery-1.8.2.js"></script>
    <script src="/public/signup/jquery/jquery.validate.js" type="text/javascript"></script>

</head>

<body class="bg1">
    <main>

        <?php echo $this->layout()->content; ?>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168251861-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-168251861-1');
        </script>


    </main>
</body>

</html>