<?php
$account = $this->account;
$amount = $this->amount;
?>
<h1 class="title"><?php echo $this->tr->_("contratos"); ?></h1>
<div class="card">
  <section class="group">
    <h2 class="subtitle"><?php echo $this->tr->_("resumo"); ?></h2>
    <div id="total">
      <h3 class="card__subtitle"><?php echo $this->tr->_("Total de contratos"); ?></h3>
      <h6 class="value"><?php if (empty($amount)) {
                          echo "0";
                        } else {
                          echo $amount;
                        } ?></h6>
    </div>
  </section>
  <section class="group" id="details">
    <h2 class="subtitle"><?php echo $this->tr->_("Detalhes dos contratos"); ?></h2>
    <div class="table-striped-container">
      <table>
        <thead>
          <tr>
            <th><?php echo $this->tr->_("data"); ?></th>
            <th><?php echo $this->tr->_("contrato"); ?></th>
            <th><?php echo $this->tr->_("Valor"); ?></th>
            <th><?php echo $this->tr->_("Vencimento"); ?></th>
            <th><?php echo $this->tr->_("Status"); ?></th>
          </tr>
        </thead>
        <tbody>
          <?php

          foreach ($this->plans as $item) {
            $date    = $item["uplan_day_start"];
            $date    = explode(" ", $date);
            $date    = explode("-", $date[0]);
            $date    = $date[2] . "/" . $date[1] . "/" . $date[0];

            $valorUSDT = $item["uplan_value"];
            $name_plan = $item["prod_titulo"];
            $balance = $item["uplan_saldo_acumulado"];

            $date_end  = $item["uplan_day_end"];
            $date_end  = explode(" ", $date_end);
            $date_end  = explode("-", $date_end[0]);
            $date_end  = $date_end[2] . "/" . $date_end[1] . "/" . $date_end[0];

          ?>
            <tr>
              <td><?php echo $date; ?></td>
              <td><?php echo $this->tr->_("$name_plan"); ?></td>
              <td><?= "USDT " . number_format($valorUSDT, 2, ',', '.'); ?></td>
              <td><?php echo $date_end; ?></td>
              <td>
                <?php
                //Se o plano for Ativo
                if ($item["uplan_status"] == 1) {
                  echo "<i class=\"mdi mdi-check-bold color-success\"></i><span class='color-success'>".$this->tr->_("ativo")."</span>";
                } elseif ($item["uplan_status"] == 3) {
                  echo "<i class=\"mdi mdi-check-bold color-danger\"></i><span class='color-danger'>".$this->tr->_("Finalizado")."</span>";
                } elseif ($item["uplan_status"] == 2) {
                ?>
                  <form action="#" id="plan_<?php echo $item["uplan_id"]; ?>" method="post" onsubmit="return renewPlan(<?php echo $item["uplan_id"]; ?>)">
                    <select name="renew_plan" id="renew_plan">
                      <option value="renew" selected><?php echo $this->tr->_("Renovar"); ?></option>
                      <option value="withdraw"><?php echo $this->tr->_("Finalizar"); ?></option>
                    </select>
                    <button type="submit" class="btn"><?php echo $this->tr->_("Confirmar"); ?></button>
                  </form>
                <?php } ?>
              </td>
            </tr>
          <?php } ?>
        </tbody>
      </table>
    </div>
  </section>
  <section class="group">
    <div>
    <p><a href="<?php echo LINK_OFFICE; ?>/public/docs/<?php if($this->userCountry == 'KR'){ echo 'termos-e-condicoes-de-uso-korea.pdf'; }elseif($this->userCountry == 'BR'){ echo 'termos-e-condicoes-de-uso.pdf';}else{ echo 'termos-e-condicoes-de-uso-international.pdf'; } ?>" target="_blank" style="color:blue"><?php echo $this->tr->_('Termos e Condições'); ?></a> | <a href="<?php echo LINK_OFFICE; ?>/public/docs/<?php if($this->userCountry == 'KR'){ echo 'contrato-de-cessao-temporaria-korea.pdf'; }elseif($this->userCountry == 'BR'){ echo 'contrato-de-cessao-temporaria.pdf';}else{ echo 'contrato-de-cessao-temporaria-international.pdf'; } ?>" target="_blank" style="color:blue"><?php echo $this->tr->_("Contrato de Cessão Temporária de Protocolos Digitais Criptoativos"); ?></a>.</p>
    </div>
  </section>
</div>

<script type="text/javascript">
  function renewPlan(plan_id) {

    $("#message").html('<img src="/public/images/loadingIcon.gif" style="border:none;" class="loading">');

    $.post('<?php echo LINK_OFFICE; ?>/contracts/renewplan', {
        plan: plan_id,
        status: $("#renew_plan").val()
      },
      function(data) {

        if (data == "ok_renew") {

          $("#message").hide();
          alert("Contrato renovado com sucesso!");
          location.reload();

        } else if (data == "ok_withdraw") {

          $("#message").hide();
          alert("Contrato finalizado!");
          location.reload();

        } else {

          $("#message").html("<p style='color:red'>Erro no processamento!</p>");
          $("#message").show();

        }

      });
    return false;
  }
</script>