<?php
  //Verifica se usuário faz rede
  if($this->rede==1){
?>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<h1 class="title"><?php echo $this->tr->_("Extrato de Bônus"); ?></h1>
  <div class="card">
  <?php if ($this->contract == 2) { ?>
    <form action="" method="post" id="frm">
      <section class="group">
        <h2 class="subtitle"><?php echo $this->tr->_("busca"); ?></h2>
        <div id="total">
          <h3 class="card__subtitle"><?php echo $this->tr->_("Data Inicial"); ?>: [dd/mm/aaaa]</h3>
            <input type="text" id="e_initialDate" name="e_initialDate" class="input" maxlength="15" size="8" value="<?php if(!empty($this->initialDate)){ echo $this->initialDate; }else{ echo date("d/m/Y");}?>" />
            <img title="Date" alt="Date" src="<?php echo LINK_DEFAULT; ?>/public/images/datepicker.png" class="ui-datepicker-trigger">
        </div>
        <div id="total">
          <h3 class="card__subtitle"><?php echo $this->tr->_("Data Final"); ?>: [dd/mm/aaaa]</h3>
            <input type="text" id="e_finalDate" name="e_finalDate" class="input" maxlength="15" size="8" value="<?php if(!empty($this->finalDate)){ echo $this->finalDate; }else{ echo date("d/m/Y");}?>" />
            <img title="Date" alt="Date" src="<?php echo LINK_DEFAULT; ?>/public/images/datepicker.png" class="ui-datepicker-trigger">
        </div>
        <div id="total">
          <h3 class="card__subtitle">Tipo:</h3>
            <select id="type" name="type" class="input">
                <option value="">Todos</option>
                <option value=1 <?php if($this->type==1){ echo "selected"; } ?>><?php echo $this->tr->_("Indicação Direta"); ?></option>
                <option value=2 <?php if($this->type==2){ echo "selected"; } ?>><?php echo $this->tr->_("Bônus de Equipe"); ?></option>
                <option value=3 <?php if($this->type==3){ echo "selected"; } ?>><?php echo $this->tr->_("Sharing Bônus"); ?></option>
            </select>
        </div>
        <input type="submit" value="Buscar" class="btn">
      </section>
    </form>
    <section class="group" id="details">
      <h2 class="subtitle"><?php echo $this->tr->_("Detalhes"); ?></h2>
      <?php
      if($this->bonus>0)
      {
        if(empty($this->error)){
            
      ?>
      <div class="table-striped-container">
        <table>
          <thead>
            <tr>
              <th><?php echo $this->tr->_("data"); ?></th>
              <th><?php echo $this->tr->_("Usuário"); ?></th>
              <th><?php echo $this->tr->_("Tipo"); ?></th>
              <th><?php echo $this->tr->_("Valor"); ?></th>
            </tr>
          </thead>
          <tbody>
          <?php
          foreach ($this->statement as $item => $value)
          {
            
          $date		= $value["bon_data"];
          $date		= explode(" ", $date);
          $date		= explode("-", $date[0]);
          $date		= $date[2]."/".$date[1]."/".$date[0];
          
          $username = $value["usr_login_id"];
          $tipo = $value["bon_tipo"];
          $valor= $value["bon_valor"];
          //$points = $value["bon_pontos"];
            
          ?>
              <tr>
                <td><?php echo $date; ?></td>
                <td><?php echo $username; ?></td>
                <td><?php if($tipo==1){ echo "Indicação Direta"; }elseif($tipo==2){ echo "Bônus de Equipe"; }elseif($tipo==3){ echo "Sharing Bônus"; }elseif($tipo==5){ echo "Rendimento"; } ?></td>
                <td><?php echo "$ ".number_format($valor, 2, ',', '.'); ?></td>
              </tr>
            <?php } ?>
          </tbody>
        </table>
      <?php }else{ ?>
          <p><?php echo $this->tr->_("Data inválida"); ?>.</p>
      <? }
			}else{
      ?>
            <p><?php echo $this->tr->_("Sem resultados"); ?>.</p>
      <?php } ?>
      </div>
    </section>
    <section class="group">
    </section>
  <?php }else{ ?>
    <p><?php echo $this->tr->_("Aguardando assinatura do contrato de agente"); ?>. <a href="/documentation"><?php echo $this->tr->_("Clique aqui para assinar"); ?></a></p>
  <?php } ?>
  </div>

<script>
  $(function() {

		$("#e_initialDate").datepicker({
	
		  changeMonth: true,
		  changeYear: true,
		  yearRange: "2019:<?php echo date("Y")?>",
		  dateFormat: "dd/mm/yy"
	
		});
		
		$("#e_finalDate").datepicker({
	
		  changeMonth: true,
		  changeYear: true,
		  yearRange: "2019:<?php echo date("Y")?>",
		  dateFormat: "dd/mm/yy"
	
		});
		//$("#e_date").mask('17/04/2019');
	});
</script>
<?php } ?>
