<?php
//Verifica se usuário faz rede
if ($this->rede == 1) {
?>
<h1 class="title"><?php echo $this->tr->_("comissoes"); ?></h1>
  <div class="card">
  <?php if ($this->contract == 2) { ?>
    <form action="" method="post" id="frm">
      <section class="group">
        <h2 class="subtitle"><?php echo $this->tr->_("busca"); ?></h2>
        <div id="total">
          <h3 class="card__subtitle"><?php echo $this->tr->_("filtro"); ?>:</h3>
            <select name="e_date" class="input">
              <option value="1" <?php if ($this->search == 1) {
                                  echo 'selected="selected"';
                                } ?>>Mês atual</option>
              <?php
              //data inicial q o usuário registrou é a data inicial do extrato financeiro
              $di = strtotime($this->registered);
              //data atual
              $df = strtotime(date("Y-m-d"));

              if ($di < $df) {
                // Garantindo que uma é menor que a outra
                //Contador de mês
                $month = strtotime('@' . $df . '- 1 month');
                while ($di < $df) {
              ?>
                  <option value="<?php echo date('m-Y', $month); ?>" <?php if ($this->search == date('m-Y', $month)) {
                                                                      echo 'selected="selected"';
                                                                    } ?>><?php echo date('m-Y', $month); ?></option>

              <?php
                  $month = strtotime('@' . $month . '- 1 month');
                  $di = strtotime('@' . $di . '+ 1 month');
                }
              }
              ?>
            </select>
        </div>
        <div id="total">
          <h3 class="card__subtitle"><?php echo $this->tr->_("Ordenar por"); ?>:</h3>
            <select name="e_order" class="input">
              <option value="1" <?php if ($this->order == 1) {
                                  echo 'selected="selected"';
                                } ?>>Maior data</option>
              <option value="2" <?php if ($this->order == 2) {
                                  echo 'selected="selected"';
                                } ?>>Menor data</option>
            </select>
        </div>
        <input type="submit" value="<?php echo $this->tr->_("busca"); ?>" class="btn">
      </section>
    </form>
    <section class="group" id="details">
      <h2 class="subtitle"><?php echo $this->tr->_("Detalhes"); ?></h2>
      <div class="table-striped-container">
        <table>
          <thead>
            <tr>
              <th colspan="4"><?php echo $this->tr->_("comissoes"); ?></th>
            </tr>
            <tr>
              <th><?php echo $this->tr->_("data"); ?></th>
              <th><?php echo $this->tr->_("Residual"); ?></th>
            </tr>
          </thead>
          <tbody>
          <?php
          foreach ($this->statement as $item) {

            $date    = $item->bcons_data;
            $date    = explode(" ", $date);
            $date    = explode("-", $date[0]);
            $date    = $date[2] . "/" . $date[1] . "/" . $date[0];

            $sharingBonus = $item->bcons_valor_sharing_bonus;

          ?>
              <tr>
                <td><?php echo $date; ?></td>
                <td><?php echo "$ " . number_format($sharingBonus, 2, ',', '.'); ?></td>
              </tr>
            <?php } ?>
          </tbody>
        </table>
      </div>
    </section>
    <section class="group">
    </section>
  <?php }else{ ?>
    <p><?php echo $this->tr->_("Aguardando assinatura do contrato de agente"); ?>. <a href="/documentation"><?php echo $this->tr->_("Clique aqui para assinar"); ?></a></p>
  <?php } ?>
  </div>

<?php } ?>