<h1 class="title"><?php echo $this->tr->_("minha_conta"); ?></h1>
<div class="card">
    <section id="pass">
      <h2 class="subtitle"><?php echo $this->tr->_("verificacao_em_duas_etapas"); ?></h2>
      <div id="msg"></div>
      <?php if(empty($this->authcode)){ ?>
      <table width="100%" id="auth" >
        <tbody>
          <tr>
            <td align="center">
            <p><?php echo $this->tr->_("pagina_authcode_texto_1"); ?></p>
            <div id="img">
            <img src='<?php echo $this->qrCodeUrl; ?>' />
            </div>
            <p><?php echo $this->secret; ?></p>
            <!--form method="post" action=""-->
            <input type="hidden" name="hash" id="hash" value="<?php echo $this->secret; ?>" />
            <p><?php echo $this->tr->_("pagina_authcode_texto_2"); ?></p>
            <p id="message"></p>
            <input type="text" id="code" name="code" maxlength="7" class="input2" />
            <p><button class="btn-option" style="margin: 15px;" id="send" type="button" data-loading-text="Carregando..." require><?php echo $this->tr->_("enviar"); ?></button></p>
            <!--/form-->
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div style="text-align:center">
      <p><strong>Get Google Authenticator on your phone</strong></p>
      <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" target="_blank"><img class='app' src="/public/assets/img/iphone.png" style="width: 150px;" /></a>
      <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en" target="_blank"><img class="app" src="/public/assets/img/android.png" style="width: 150px;" /></a>
      </div>
      <?php }else{ ?>
        <div id="disable">
        <p><?php echo $this->tr->_("desabilitar"); ?> 2FA.</p>
            <!--form method="post" action=""-->
            <input type="hidden" name="hash" id="hash" value="<?php echo $this->secret; ?>" />
            <p><?php echo $this->tr->_("pagina_authcode_texto_2"); ?></p>
            <p id="message"></p>
            <input type="text" id="code" name="code" maxlength="7" class="input2" />
            <p><button class="btn-option" style="margin: 15px;" id="send" type="button" data-loading-text="Carregando..." require><?php echo $this->tr->_("enviar"); ?></button></p>
        </div>
      <?php } ?>
    </section>
</div>
<?php if(empty($this->authcode)){ ?>
<script type="text/javascript">
  $(document).ready(function() {
    $("#message").hide();
    $("#msg").hide();

    $('#send').click(function() {
      $("#message").hide();
      var $btn = $("#send").button('loading');
      $.post("<?php echo LINK_OFFICE; ?>/account/authcode", {
        code: $("#code").val(),
        hash: $("#hash").val()
      }, function(data) {
        console.log(data);
        /*data = JSON.parse(a);*/
        if (data.status == 'success') {
          $("#msg").addClass('color-success');
          $("#auth").hide();
          $("#msg").html(data.message);
          $("#msg").show();
        } else {
          $("#message").addClass('color-danger');
        }
        $("#message").html(data.message);
        $("#message").show();
        $btn.button('reset');
      });
    });
  });
</script>
<?php } ?>

<?php if(!empty($this->authcode)){ ?>
<script type="text/javascript">
  $(document).ready(function() {
    $("#message").hide();

    $('#send').click(function() {
      $("#message").hide();
      var $btn = $("#send").button('loading');
      $.post("<?php echo LINK_OFFICE; ?>/account/disableauthcode", {
        code: $("#code").val()
      }, function(data) {
        console.log(data);
        /*data = JSON.parse(a);*/
        if (data.status == 'success') {
          $("#msg").addClass('color-success');
          $("#auth").hide();
          $("#msg").html(data.message);
          $("#msg").show();
        } else {
          $("#message").addClass('color-danger');
        }
        $("#message").html(data.message);
        $("#message").show();
        $btn.button('reset');
      });
    });
  });
</script>
<?php } ?>