        <h1 class="title"><?php echo $this->tr->_("minha_conta"); ?></h1>
        <section class="card">
          <div id="message"></div>
          <?php if($this->type == 1 && $this->userCountry == "BR"){ ?>
          <div id="personal" class="group">
            <h2 class="subtitle"><?php echo $this->tr->_("dados_empresariais"); ?></h2>
            <div>
              <h3 class="card__subtitle"><?php echo $this->tr->_("razao_social"); ?></h3>
              <h6 class="value"><?php echo $this->company_name; ?>&nbsp;</h6>
            </div>
            <div>
              <h3 class="card__subtitle"><?php echo $this->tr->_("cnpj"); ?></h3>
              <h6 class="value"><?php echo $this->cnpj; ?>&nbsp;</h6>
            </div>
            <div>
              <h3 class="card__subtitle"><?php echo $this->tr->_("data_de_abertura"); ?></h3>
              <h6 class="value"><?php echo $this->opening_date; ?>&nbsp;</h6>
            </div>
          </div>
          <?php } ?>
          <div id="personal" class="group">
            <h2 class="subtitle"><?php echo $this->tr->_("dados_pessoais"); ?></h2>
            <div>
              <h3 class="card__subtitle"><?php echo $this->tr->_("nome_completo"); ?></h3>
              <h6 class="value"><?php echo $this->name; ?>&nbsp;</h6>
            </div>
            <?php if($this->userCountry == "BR"){ ?>
            <div>
              <h3 class="card__subtitle"><?php echo $this->tr->_("cpf"); ?></h3>
              <h6 class="value"><?php echo $this->cpf; ?>&nbsp;</h6>
            </div>
            <?php } ?>
            <div>
              <h3 class="card__subtitle"><?php echo $this->tr->_("identidade"); ?></h3>
              <h6 class="value"><?php echo $this->rg; ?>&nbsp;</h6>
            </div>
            <div>
              <h3 class="card__subtitle"><?php echo $this->tr->_("data_de_nascimento"); ?></h3>
              <h6 class="value"><?php echo $this->birth; ?>&nbsp;</h6>
            </div>
            <div>
              <h3 class="card__subtitle"><?php echo $this->tr->_("telefone"); ?></h3>
              <h6 class="value"><?php echo $this->phone; ?>&nbsp;</h6>
            </div>
            <div>
              <h3 class="card__subtitle"><?php echo $this->tr->_("email"); ?></h3>
              <?php if ($this->changingEmail) { ?><small style="color:#FF0000;"><?php echo $this->tr->_("pagina_account_texto_1"); ?></small><?php } ?>
              <h6 class="value"><?php echo $this->email; ?>&nbsp;</h6>
            </div>
            <h2 class="subtitle" style="margin-top: 2rem;"><?php echo $this->tr->_("endereco"); ?></h2>
            <div>
              <h3 class="card__subtitle"><?php echo $this->tr->_("endereco"); ?></h3>
              <h6 class="value"><?php echo $this->address; ?>&nbsp;</h6>
            </div>
            <?php if($this->userCountry == "BR"){ ?>
            <div >
              <h3 class="card__subtitle"><?php echo $this->tr->_("numero"); ?></h3>
              <h6 class="value"><?php echo $this->number; ?>&nbsp;</h6>
            </div>
            <?php } ?>
            <div <?php if($this->userCountry == "KR"){ ?> style="display:none;"<?php } ?>>
              <h3 class="card__subtitle"><?php echo $this->tr->_("complemento"); ?></h3>
              <h6 class="value"><?php echo $this->address2; ?>&nbsp;</h6>
            </div>
            <div <?php if($this->userCountry == "KR"){ ?> style="display:none;"<?php } ?>>
              <h3 class="card__subtitle"><?php echo $this->tr->_("cidade"); ?></h3>
              <h6 class="value"><?php echo $this->city; ?>&nbsp;</h6>
            </div>
            <div <?php if($this->userCountry == "KR"){ ?> style="display:none;"<?php } ?>>
              <h3 class="card__subtitle"><?php echo $this->tr->_("uf"); ?></h3>
              <h6 class="value"><?php echo $this->state; ?>&nbsp;</h6>
            </div>
            <div>
              <h3 class="card__subtitle"><?php echo $this->tr->_("cep"); ?></h3>
              <h6 class="value"><?php echo $this->zip_code; ?>&nbsp;</h6>
            </div>
          </div>
          <div id="login" class="group">
            <a class="btn" href="<?php echo LINK_OFFICE; ?>/account/update" role="button"><?php echo $this->tr->_("atualizar"); ?></a>
          </div>