<h1 class="title"><?php echo $this->tr->_("minha_conta"); ?></h1>
<div class="card">
    <section id="pass">
      <h2 class="subtitle"><?php echo $this->tr->_("language"); ?></h2>
      <div id="message"></div>
      <form class="form" name="form" id="form" action="" method="post" onsubmit="return false;">

        <p><?php echo $this->tr->_("change_language"); ?></p>
        <select name="language_preference" id="language_preference" class="input" style="width: 200px; margin-top:10px">
          <option value="en" <?php if ($this->userLanguage == "en") {
                                echo "selected";
                              } ?>>English</option>
          <option value="pt-br" <?php if ($this->userLanguage == "pt-br") {
                                  echo "selected";
                                } ?>>Português</option>
          <option value="ko" <?php if ($this->userLanguage == "ko") {
                                echo "selected";
                              } ?>>한국어</option>
        </select>
        <p><input type="submit" value="<?php echo $this->tr->_("Save"); ?>" class="btn"></p>
      </form>
    </section>
</div>

<script type="text/javascript">
  $('#form').submit(function() {

    if (confirm('<?php echo $this->tr->_("Confirm updating ?"); ?>')) {

      $.post("<?php echo LINK_OFFICE; ?>/account/language", {
        dados: $('#form').serialize()
      }, function(data) {

        alert('<?php echo $this->tr->_("Language updated successfully."); ?>');

        location.reload();

      });

    }

  });
</script>