        <div class="row">
          <div class="col-xs-12">
            <div class="mini-breadcrumb color_gray text-white text-upper">
              <p>
                Password
              </p>
            </div>
          </div>
        </div> 
        <div class="row"> 
			<div class="col-xs-12" style="min-height:400px">
                <article id="article">
                	<div class="row">
                    	<div id="message"></div>
                    </div>
                <div >
                	<form class="form" name="form_pass" id="form_pass" action="" method="post" onsubmit="return false;">
                        <fieldset>
                            <div class="row">
                                <label>The new password must be between 6 and 15 characters. Do not use sequential passwords, ex. 123456</label>
                            </div>
                            <div class="row">
                                <div class="item">
                                    <label>Current password:<em>*</em></label>
                                    <input type="password" id="current_password" name="current_password" maxlength="15">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="item">
                                    <label>New password:<em>*</em></label>
                                    <input type="password" id="new_password" name="new_password" maxlength="15">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="item">
                                    <label>Retype New password:<em>*</em></label>
                                    <input type="password" id="confirm_new_password" name="confirm_new_password" maxlength="15" >
                                </div>
                            </div>
                            <div class="row">
                            	<div class="item">
									<input type="submit" name="" value="Done" class="btn">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

<script type="text/javascript">

$('#form_pass').submit(function()
{
	var pass;
	pass = notnull($('#current_password').val(), $('#current_password').focus(), "Current password"); if (pass == false) { return false; }
	pass = notnull($('#new_password').val(), $('#new_password').focus(), "New password"); if (pass == false) { return false; }
	pass = validatePassword($('#new_password').val(), $('#new_password').focus(), "New password"); if (pass == false) { return false; }
	pass = notnull($('#confirm_new_password').val(), $('#confirm_new_password').focus(), "Confirm password"); if (pass == false) { return false; }
	if($('#new_password').val() != $('#confirm_new_password').val())
	{
		alert('The New Password field and Confirm Password should be equal.');
	}
	else
	{
		if (confirm('Confirm new password?'))
		{
			$(".btn").attr('disabled', 'disabled');
			$.post("<?php echo LINK_OFFICE; ?>/account/password", {data: $('#form_pass').serialize() }, function (data){
				if(data == "incorret")
				{
					alert('Current password is incorrect, try again.');
					$('#current_password').focus();
					$(".btn").attr('disabled', '');
				}
				else if(data == "equal")
				{
					alert('The new password can not be equal to the current.');
					$('#new_password').focus();
					$(".btn").attr('disabled', '');
				}
				else
				{
					alert('Password successfully updated.');
					$('#current_password').val('');
					$('#new_password').val('');
					$('#confirm_new_password').val('');
					$('#current_password').focus();
					$(".btn").attr('disabled', '');
				}
			});
		}
	}
});


</script>