<h1 class="title">
	<?php echo $this->tr->_("minha_conta"); ?>
</h1>
<div class="card">
	<form class="form" name="form_pass" id="form_pass" action="" method="post" onsubmit="return false;">
		<div id="message"></div>
		<section id="pass">
			<h2 class="subtitle"><?php echo $this->tr->_("senha"); ?></h2>
			<p><?php echo $this->tr->_("pagina_senha_texto_1"); ?></p><br>
			<div>
				<h3 class="card__subtitle-pass"><?php echo $this->tr->_("pagina_senha_texto_2"); ?>:<em>*</em></h3>
					<input type="password" id="current_password" name="current_password" maxlength="15" class="input-pass">
				</div>
				<div>
					<h3 class="card__subtitle-pass"><?php echo $this->tr->_("pagina_senha_texto_3"); ?>:<em>*</em></h3>
						<input type="password" id="new_password" name="new_password" maxlength="15" class="input-pass">
					</div>
					<div id="total">
						<h3 class="card__subtitle-pass"><?php echo $this->tr->_("pagina_senha_texto_4"); ?>:<em>*</em></h3>
							<input type="password" id="confirm_new_password" name="confirm_new_password" maxlength="15" class="input-pass">
						</div>
						<input type="submit" name="" value="<?php echo $this->tr->_("atualizar"); ?>" class="btn" id="send" data-loading-text="<?php echo $this->tr->_("carregando"); ?>...">
					</section>
				</form>
			</div>

			<script type="text/javascript">
				$(document).ready(function(){
					$('#send').click(function()
					{
						var pass;
						pass = notnull($('#current_password').val(), $('#current_password').focus(), "Senha atual"); if (pass == false) { return false; }
						pass = notnull($('#new_password').val(), $('#new_password').focus(), "Nova senha"); if (pass == false) { return false; }
		//pass = validatePassword($('#new_password').val(), $('#new_password').focus(), "New password"); if (pass == false) { return false; }
		pass = notnull($('#confirm_new_password').val(), $('#confirm_new_password').focus(), "Confirmar senha"); if (pass == false) { return false; }
		if($('#new_password').val() != $('#confirm_new_password').val())
		{
			alert('<?php echo $this->tr->_("pagina_senha_texto_5"); ?>');
		}
		else
		{
			if (confirm('<?php echo $this->tr->_("pagina_senha_texto_6"); ?>'))
			{
				$.post("<?php echo LINK_OFFICE; ?>/account/password", {action: $('#form_pass').serialize() }, function (data){
					console.log(data);
					if(data.status == 'incorret')
					{
						alert('<?php echo $this->tr->_("pagina_senha_texto_7"); ?>');
						$('#current_password').focus();
					}
					else if(data.status == 'lenght')
					{
						alert('<?php echo $this->tr->_("pagina_senha_texto_8"); ?>');
						$('#new_password').focus();
					}
					else if(data.status == 'invalid')
					{
						alert('<?php echo $this->tr->_("pagina_senha_texto_9"); ?>');
						$('#new_password').focus();
					}
					else if(data.status == 'equal')
					{
						alert('<?php echo $this->tr->_("pagina_senha_texto_10"); ?>');
						$('#new_password').focus();
					}
					else if(data.status == 'success')
					{
						alert('<?php echo $this->tr->_("pagina_senha_texto_11"); ?>');
						$('#current_password').val('');
						$('#new_password').val('');
						$('#confirm_new_password').val('');
						$('#current_password').focus();
						window.location.href = "<?php echo LINK_OFFICE; ?>/logout"
					}
				});
			}
		}
	});
				});

			</script>