<div class="row">
    <div class="col-xs-12">
        <div class="mini-breadcrumb color_gray text-white text-upper">
            <p>Link de Indicação</p>
        </div>
    </div>
</div> 
<div class="row"> 
    <div class="col-xs-12" style="min-height:400px">
        <form class="form">
            <fieldset>
                <div class="row">
                    <label>Utilize o link abaixo para fazer indicações:</label>
                </div>
                <div class="row">
                    <input onClick="this.setSelectionRange(0, this.value.length)" value="<?php echo LINK_OFFICE; ?>/signup/ref/<?php echo $this->username;?>" style='width:100%' />
                </div>
            </fieldset>
        </form>

    </div>
</div>
<script>
  function copiarTexto() {
    var textoCopiado = document.getElementById("link");
    textoCopiado.select();
    document.execCommand("Copy");
    alert("Texto Copiado: " + textoCopiado.value);
  }
</script>