<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" />
</script>

<h1 class="title"><?php echo $this->tr->_("minha_conta"); ?></h1>
<section class="card">
  <form class="form" name="form" id="form" action="" method="post" onsubmit="return false;">
    <div id="message" class="color-danger x"></div>
    <?php if ($this->type == 1 || ($this->primeiroLogin == "S" && $this->rede == 0)) { ?>
      <?php if ($this->primeiroLogin == "S" && $this->rede == 0 && $this->userCountry == "BR") { ?>
        <div id="personalx" class="group">
          <div>
            <input id="radiopf" type="radio" name="type" checked value="pf">
            <label for="radiopf" style="margin-right:15px"><?php echo $this->tr->_("pessoa_fisica"); ?></label>
            <input id="radiopj" type="radio" name="type" value="pj">
            <label for="radiopj"><?php echo $this->tr->_("pessoa_juridica"); ?></label>
          </div>
        </div>
      <?php } ?>
      <?php if($this->userCountry == "BR"){ ?>
      <div id="personalx" class="group pj" <?php if ($this->type == 0){ ?>style="display:none;"<?php } ?>>
        <h2 class="subtitle"><?php echo $this->tr->_("dados_empresariais"); ?></h2>
        <div>
          <h3 class="card__subtitle"><?php echo $this->tr->_("razao_social"); ?></h3>
          <input type="text" id="company_name" name="company_name" maxlength="200" value="<?php echo $this->company_name; ?>" class="input" <?php if (!empty($this->company_name)) {
                                                                                                                                              echo "disabled";
                                                                                                                                            } ?>>
        </div>
        <div>
          <h3 class="card__subtitle"><?php echo $this->tr->_("cnpj"); ?></h3>
          <input type="text" id="cnpj" name="cnpj" maxlength="16" value="<?php echo $this->cnpj; ?>" class="input numbersOnly" <?php if (!empty($this->cnpj)) {
                                                                                                                                  echo "disabled";
                                                                                                                                } ?>>
        </div>
        <div>
          <h3 class="card__subtitle"><?php echo $this->tr->_("data_de_abertura"); ?></h3>
          <input type="text" id="opening_date" name="opening_date" maxlength="25" value="<?php echo ($this->opening_date != "00/00/0000") ? $this->opening_date : ""; ?>" class="input" <?php if (!empty($this->opening_date) && $this->opening_date != "00/00/0000") {
                                                                                                                                                                                          echo "disabled";
                                                                                                                                                                                        } ?>>
        </div>
      </div>
      <?php } ?>
    <?php } ?>
    <div id="<?php if($this->userCountry == "BR"){ echo 'personalx'; }else{ echo 'personalk'; } ?>" class="group x">
      <h2 class="subtitle"><?php echo $this->tr->_("dados_pessoais"); ?></h2>
      <div>
        <h3 class="card__subtitle"><?php echo $this->tr->_("nome_completo"); ?></h3>
        <input type="text" id="name" name="name" maxlength="200" value="<?php echo $this->name; ?>" class="input" <?php if (!empty($this->name)) {
                                                                                                                    echo "disabled";
                                                                                                                  } ?>>
      </div>
      <?php if($this->userCountry == "BR"){ ?>
      <div>
        <h3 class="card__subtitle"><?php echo $this->tr->_("CPF"); ?></h3>
        <input type="text" id="cpf" name="cpf" value="<?php echo $this->cpf; ?>" class="input" <?php if (!empty($this->cpf)) {
                                                                                                  echo "disabled";
                                                                                                } ?>>
      </div>
      <?php } ?>
      <div>
        <h3 class="card__subtitle"><?php echo $this->tr->_("identidade"); ?></h3>
                                                                                              <input type="text" id="rg" name="rg" maxlength="35" value="<?php echo $this->rg; ?>" class="input" <?php if($this->userCountry != "BR"){ ?>placeholder="<?php echo $this->tr->_("passport_driver"); ?>"<?php } ?> <?php if (!empty($this->rg)) {
                                                                                                              echo "disabled";
                                                                                                            } ?>>
      </div>
      <div>
        <h3 class="card__subtitle"><?php echo $this->tr->_("data_de_nascimento"); ?></h3>
        <input type="text" id="dob" name="dob" value="<?php echo ($this->birth != "00/00/0000") ? $this->birth : ""; ?>" class="input" <?php if (!empty($this->birth) && $this->birth != "00/00/0000") {
                                                                                                                                          echo "disabled";
                                                                                                                                        } ?>>
        <img title="<?php echo $this->tr->_("data_de_nascimento"); ?>" alt="<?php echo $this->tr->_("data_de_nascimento"); ?>" src="<?php echo LINK_DEFAULT; ?>/public/images/datepicker.png" class="ui-datepicker-trigger">
      </div>
      <div>
        <h3 class="card__subtitle"><?php echo $this->tr->_("telefone"); ?></h3>
        <input type="text" id="phone" name="phone" maxlength="15" value="<?php echo $this->phone; ?>" class="input">
      </div>
      <div>
        <h3 class="card__subtitle"></h3>
      </div>
      <!--h2 class="subtitle" style="margin-top: 2rem;">Endereço</h2-->
      <div>
        <h3 class="card__subtitle"><?php echo $this->tr->_("cep"); ?></h3>
        <input type="text" id="zip_code" name="zip_code" value="<?php echo $this->zip_code; ?>" class="input">
      </div>
      <div>
        <h3 class="card__subtitle"><?php echo $this->tr->_("endereco"); ?></h3>
        <input type="text" id="address" name="address" maxlength="150" value="<?php echo $this->address; ?>" class="input">
      </div>
      <?php if($this->userCountry == "BR"){ ?>
      <div>
        <h3 class="card__subtitle"><?php echo $this->tr->_("number"); ?></h3>
        <input type="text" id="number" name="number" maxlength="10" value="<?php echo $this->number; ?>" class="input">
      </div>
      <?php } ?>
      <div <?php if($this->userCountry == "KR"){ ?> style="display:none;"<?php } ?>>
        <h3 class="card__subtitle"><?php echo $this->tr->_("complemento"); ?></h3>
        <input type="text" id="address2" name="address2" maxlength="30" value="<?php echo $this->address2; ?>" class="input">
      </div>
      <div <?php if($this->userCountry == "KR"){ ?> style="display:none;"<?php } ?>>
        <h3 class="card__subtitle"><?php echo $this->tr->_("district"); ?></h3>
        <input type="text" id="district" name="district" maxlength="100" value="<?php echo $this->district; ?>" class="input">
      </div>
      <div <?php if($this->userCountry == "KR"){ ?> style="display:none;"<?php } ?>>
        <h3 class="card__subtitle"><?php echo $this->tr->_("cidade"); ?></h3>
        <input type="text" id="city" name="city" maxlength="100" value="<?php echo $this->city; ?>" class="input">
      </div>
      <div <?php if($this->userCountry == "KR"){ ?> style="display:none;"<?php } ?>>
        <h3 class="card__subtitle"><?php echo $this->tr->_("uf"); ?></h3>
        <?php if($this->userCountry == "BR"){ ?>
        <?php
        function selected($value, $save)
        {
          return $value == $save ? ' selected="selected"' : '';
        }
        ?>
        <select name="state" id="state" class="input">
          <option value="">-- Selecione --</option>
          <option value="AC" <?php echo selected('AC', $this->state); ?>>Acre</option>
          <option value="AL" <?php echo selected('AL', $this->state); ?>>Alagoas</option>
          <option value="AP" <?php echo selected('AP', $this->state); ?>>Amapá</option>
          <option value="AM" <?php echo selected('AM', $this->state); ?>>Amazonas</option>
          <option value="BA" <?php echo selected('BA', $this->state); ?>>Bahia</option>
          <option value="CE" <?php echo selected('CE', $this->state); ?>>Ceará</option>
          <option value="DF" <?php echo selected('DF', $this->state); ?>>Distrito Federal</option>
          <option value="ES" <?php echo selected('ES', $this->state); ?>>Espírito Santo</option>
          <option value="GO" <?php echo selected('GO', $this->state); ?>>Goiás</option>
          <option value="MA" <?php echo selected('MA', $this->state); ?>>Maranhão</option>
          <option value="MT" <?php echo selected('MT', $this->state); ?>>Mato Grosso</option>
          <option value="MS" <?php echo selected('MS', $this->state); ?>>Mato Grosso do Sul</option>
          <option value="MG" <?php echo selected('MG', $this->state); ?>>Minas Gerais</option>
          <option value="PA" <?php echo selected('PA', $this->state); ?>>Pará</option>
          <option value="PB" <?php echo selected('PB', $this->state); ?>>Paraíba</option>
          <option value="PR" <?php echo selected('PR', $this->state); ?>>Paraná</option>
          <option value="PE" <?php echo selected('PE', $this->state); ?>>Pernambuco</option>
          <option value="PI" <?php echo selected('PI', $this->state); ?>>Piauí</option>
          <option value="RJ" <?php echo selected('RJ', $this->state); ?>>Rio de Janeiro</option>
          <option value="RN" <?php echo selected('RN', $this->state); ?>>Rio Grande do Norte</option>
          <option value="RS" <?php echo selected('RS', $this->state); ?>>Rio Grande do Sul</option>
          <option value="RO" <?php echo selected('RO', $this->state); ?>>Rondônia</option>
          <option value="RR" <?php echo selected('RR', $this->state); ?>>Roraima</option>
          <option value="SC" <?php echo selected('SC', $this->state); ?>>Santa Catarina</option>
          <option value="SP" <?php echo selected('SP', $this->state); ?>>São Paulo</option>
          <option value="SE" <?php echo selected('SE', $this->state); ?>>Sergipe</option>
          <option value="TO" <?php echo selected('TO', $this->state); ?>>Tocantins</option>
        </select>
        <?php }else{ ?>
          <input type="text" id="state" name="state" maxlength="40" value="<?php echo $this->state; ?>" class="input">
        <?php } ?>
      </div>
      <div>
        <h3 class="card__subtitle"><?php echo $this->tr->_("country"); ?></h3>
        <input type="text" id="cc" name="cc" value="<?php echo $this->country; ?>" class="input" disabled>
      </div>
    </div>
    <div id="login" class="group">
      <h2 class="subtitle"><?php echo $this->tr->_("email"); ?></h2>
      <div>
        <h3 class="card__subtitle"><?php echo $this->tr->_("email"); ?></h3>
        <input type="email" class="input" <?php if ($this->changingEmail) { ?>disabled<?php } ?> id="email" name="email" value="<?php echo $this->email; ?>" />
      </div>

      <?php if ($this->changingEmail) { ?>

        <div class="item">
          <h3 class="card__subtitle"><?php echo $this->tr->_("novo_email"); ?>:<em>*</em></h3>
          <input type="text" disabled maxlength="15" class="input" value="<?php echo $this->newEmail; ?>" />
        </div>

        <div class="item">
          <h3 class="card__subtitle">&nbsp;</h3>
          <button type="button" onclick="window.location='<?php echo LINK_OFFICE; ?>/account/cancelemailchange';" class="btn btn-primary" style="padding-top:7px !important; height:37px;"><?php echo $this->tr->_("cancelar_alteracao_de_email"); ?></button>
        </div>

        <div class="item">
          <h3 class="card__subtitle"><?php echo $this->tr->_("alteracao_nao_foi_confirmada"); ?></h3>
          <?php if ($this->oldEmailConfirmed == "N") { ?>
            <button type="button" id="sendOldEmail" data-loading-text="<?php echo $this->tr->_("loading"); ?>..." class="btn btn-primary" autocomplete="off" style="padding-top:7px !important; height:37px;">
            <?php echo $this->tr->_("enviar_confirmacao_para_email_antigo"); ?>
            </button>
          <?php } else { ?>
            <span class="btn btn-success" style="padding-top:7px !important; height:37px; background-color: #5cb85c; border-color: #4cae4c;"><?php echo $this->tr->_("alteracao_confirmada_pelo_email_antigo"); ?></span>
          <?php } ?>
        </div>
        <div class="item">
          <h3 class="card__subtitle">&nbsp;</h3>
          <?php if ($this->newEmailConfirmed == "N") { ?>
            <button type="button" id="sendNewEmail" data-loading-text="<?php echo $this->tr->_("loading"); ?>..." class="btn btn-primary" autocomplete="off" style="padding-top:7px !important; height:37px;">
            <?php echo $this->tr->_("Enviar confirmação para novo email?"); ?>
            </button>
          <?php } else { ?>
            <span class="btn btn-success" style="padding-top:7px !important; height:37px; background-color: #5cb85c; border-color: #4cae4c;"><?php echo $this->tr->_("Alteração confirmada por novo email!"); ?></span>
          <?php } ?>
        </div>

      <?php } ?>

    </div>
    <div id="login" class="group">
      <h2 class="subtitle"><?php echo $this->tr->_("login"); ?></h2>
      <?php if ($this->changingLogin) { ?>
        <div id="messageUsername" style="padding-left:10px;"></div>
      <?php } ?>
      <div>
        <h3 class="card__subtitle"><?php echo $this->tr->_("username"); ?></h3>
        <input type="text" class="input" <?php if ($this->changingLogin) { ?>disabled<?php } ?> id="login" name="login" maxlength="15" value="<?php echo $this->login; ?>" disabled />
      </div>

      <input type="submit" name="" id="bt_save" value="<?php echo $this->tr->_("salvar"); ?>" class="btn" data-loading-text="<?php echo $this->tr->_("loading"); ?>...">
    </div>
  </form>
</section>

<script type="text/javascript">
  <?php if($this->userCountry == "BR"){ ?>
  $(document).ready(function() {

    $("#zip_code").mask("99999-999");
    $("#cpf").mask("999.999.999-99");
    $("#phone")
      .mask("(99) 9999-9999?9")
      .focusout(function(event) {
        var target, phone, element;
        target = (event.currentTarget) ? event.currentTarget : event.srcElement;
        phone = target.value.replace(/\D/g, '');
        element = $(target);
        element.unmask();
        if (phone.length > 10) {
          element.mask("(99) 99999-999?9");
        } else {
          element.mask("(99) 9999-9999?9");
        }
      });

  });
  <?php } ?>

  $('#form').submit(function() {

    var $btn = $("#bt_save").button('loading');

    $.post("<?php echo LINK_OFFICE; ?>/account/save", {
      dados: $('#form').serialize()
    }, function(a) {

      data = JSON.parse(a);

      if (data.status == 'success') {

        //alert(data.message);

        window.location = "<?php echo LINK_OFFICE; ?>/account";

      } else {

        $("#message").addClass('btn btn-danger');

        $("#message").html(data.message);

      }

      $btn.button('reset');

    });

  });



  $(function() {

    $("#dob").datepicker({

      changeMonth: true,
      changeYear: true,
      yearRange: "1920:2002",
      dateFormat: "dd/mm/yy"

    });

    //Company
    $("#opening_date").datepicker({

      changeMonth: true,
      changeYear: true,
      yearRange: "1900:<?php echo date("Y") ?>",
      dateFormat: "dd/mm/yy"

    });

    $('input[type="radio"]').click(function() {

      var inputValue = $(this).attr("value");

      if (inputValue == "pj") {
        $(".pj").show();
      } else {
        $(".pj").hide();
      }

    });

    //$("#dob").mask('0000/00/00');

    $("#sendUsername").click(function() {

      $("#messageUsername").hide();

      var $btn = $("#sendUsername").button('loading');

      $.ajax({

        type: "POST",
        url: "<?php echo LINK_OFFICE; ?>/account/getconfirmusernamechange",
        success: function(a)

        {

          data = JSON.parse(a);

          if (data.status == 'success') {

            $("#messageUsername").addClass('btn btn-success');

          } else {

            $("#messageUsername").addClass('btn btn-danger');

          }

          $("#messageUsername").html(data.message);

          $("#messageUsername").css('display', 'inline-block');

          $btn.button('reset');

        }

      });

    });



    $("#sendOldEmail").click(function() {

      $("#messageEmail").hide();

      var $btn = $("#sendOldEmail").button('loading');

      $.ajax({

        type: "POST",

        url: "<?php echo LINK_OFFICE; ?>/account/getconfirmoldemailchange",

        success: function(a)

        {

          data = JSON.parse(a);

          if (data.status == 'success') {

            $("#messageEmail").addClass('btn btn-success');

          } else {

            $("#messageEmail").addClass('btn btn-danger');

          }

          $("#messageEmail").html(data.message);

          $("#messageEmail").css('display', 'inline-block');

          $btn.button('reset');



          //alert(data); // show response from the php script.

        }

      });

    });



    $("#sendNewEmail").click(function() {

      $("#messageEmail").hide();

      var $btn = $("#sendNewEmail").button('loading');

      $.ajax({

        type: "POST",

        url: "<?php echo LINK_OFFICE; ?>/account/getconfirmnewemailchange",

        success: function(a)

        {

          data = JSON.parse(a);

          if (data.status == 'success') {

            $("#messageEmail").addClass('btn btn-success');

          } else {

            $("#messageEmail").addClass('btn btn-danger');

          }

          $("#messageEmail").html(data.message);

          $("#messageEmail").css('display', 'inline-block');

          $btn.button('reset');

          //alert(data); // show response from the php script.

        }

      });

    });



  });
  <?php if($this->userCountry == "BR"){ ?>
  //Limpa CEP
  function limpa_formulário_cep() {
    // Limpa valores do formulário de cep.
    $("#address").val("");
    $("#address2").val("");
    $("#number").val("");
    $("#district").val("");
    $("#city").val("");
    $("#state").val("");
  }

  //Quando o campo cep perde o foco.
  $("#zip_code").blur(function() {

    //Nova variável "cep" somente com dígitos.
    var cep = $(this).val().replace(/\D/g, '');

    //Verifica se campo cep possui valor informado.
    if (cep != "") {

      //Expressão regular para validar o CEP.
      var validacep = /^[0-9]{8}$/;

      //Valida o formato do CEP.
      if (validacep.test(cep)) {

        //Preenche os campos com "..." enquanto consulta webservice.
        $("#address").val("...");
        $("#district").val("...");
        $("#city").val("...");
        $("#state").val("...");

        //Consulta o webservice viacep.com.br/
        $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function(dados) {

          if (!("erro" in dados)) {
            //Atualiza os campos com os valores da consulta.
            $("#address").val(dados.logradouro);
            $("#district").val(dados.bairro);
            $("#city").val(dados.localidade);
            $("#state").val(dados.uf);
          } //end if.
          else {
            //CEP pesquisado não foi encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
          }
        });
      } //end if.
      else {
        //cep é inválido.
        limpa_formulário_cep();
        alert("Formato de CEP inválido.");
      }
    } //end if.
    else {
      //cep sem valor, limpa formulário.
      limpa_formulário_cep();
    }
  });
  <?php } ?>
  jQuery('.numbersOnly').keyup(function() {
    this.value = this.value.replace(/[^0-9]/g, '');
  });
</script>
