<script src='https://www.google.com/recaptcha/api.js'></script>
  <form action="<?php echo LINK_OFFICE; ?>/login/forgot" method="post" class="form" id="login-form form i-recaptcha">
    <img id="logo" src="/public/assets/img/logo.png" alt="Logomarca">
    <div id="error"></div>
    <div id="info"></div>
    <h4 class="form__title color-1"><?php echo $this->tr->_("recovery_password"); ?></h4>
    <input type="text" name="lgn_user" id="lgn_user" class="input login" placeholder="<?php echo $this->tr->_("username_or_email"); ?>" required>
    <?php if(RECAPTCHA_ACTIVE==1){ ?>
      <div class="g-recaptcha" data-sitekey="<?php echo RECAPTCHA_FRONT; ?>"></div>
    <?php } ?>
    <button class="btn" type="submit"><?php echo $this->tr->_("recovery_password"); ?></button>
    <a class="btn btn--variant" href="<?php echo LINK_OFFICE; ?>/login"><?php echo $this->tr->_("go_login"); ?></a>
    <select class="input" style="width:70%" onchange="changeLang()" id="lang">
      <option value="pt" <?php if($this->lang == 'pt'){ echo 'selected'; } ?> >Português</option>
      <option value="ko" <?php if($this->lang == 'ko'){ echo 'selected'; } ?> >한국어</option>
      <option value="en" <?php if($this->lang == 'en'){ echo 'selected'; } ?> >English</option>
    </select>
  </form>

  <script type="text/javascript">
    $("#form").submit(function(){
      $("#error").empty();
      if($('#lgn_user').val() == ""){ $("#error").append('<?php echo $this->tr->_("invalid_username"); ?>').css({"display":"block"}); return false; } 
      if($('#lgn_user').val() != ""){ $("#error").css({"display":"none"}); }
    });
  </script>

  <script type="text/javascript">
    function changeLang(){
      var val = $("#lang").val();
      location.href = '/login/lang?lang='+val+'&url=login/forgot';
    }
  </script>