<script src='https://www.google.com/recaptcha/api.js'></script>
<form action="<?php echo LINK_OFFICE; ?>/login" method="post" class="form" id="login-form form i-recaptcha">
  <div id="error"></div>
  <div id="info"></div>
  <img id="logo" src="/public/assets/img/logo.png" alt="Logo <?php echo SITE_NAME; ?>">
  <h4 class="form__title color-1"><?php echo $this->tr->_("Insira os dados de acesso"); ?></h4>
  <input type="text" name="lgn_user" id="lgn_user" class="input login" placeholder="<?php echo $this->tr->_("username_or_email"); ?>" required>
  <input type="password" name="lgn_pass" id="lgn_pass" class="input login" placeholder="<?php echo $this->tr->_("password"); ?>" required>
  <span id="dont-have-pass"><?php echo $this->tr->_("verificacao_em_duas_etapas"); ?> <input type="checkbox" id="2fa" onclick="toggle('#twosteps', this)"></span>
  <input type="text" name="twosteps" id="twosteps" class="input login" placeholder="2FA" >
  <span><?php echo $this->tr->_("Esqueceu sua senha"); ?>? <a href="<?php echo LINK_OFFICE; ?>/login/forgot" class="color-1"><?php echo $this->tr->_("Clique aqui"); ?>.</a> </span>
  <?php if(RECAPTCHA_ACTIVE==1){ ?>
    <div class="g-recaptcha" data-sitekey="<?php echo RECAPTCHA_FRONT; ?>"></div>
  <?php } ?>
  <button class="btn" type="submit"><?php echo $this->tr->_("Acessar"); ?></button>
  <span id="dont-have-pass"><?php echo $this->tr->_("Não possui uma conta"); ?></span>
  <a class="btn btn--variant" href="<?php echo LINK_OFFICE; ?>/signup"><?php echo $this->tr->_("Cadastre-se"); ?></a>
  <select class="input" style="width:70%" onchange="changeLang()" id="lang">
    <option value="pt" <?php if($this->lang == 'pt'){ echo 'selected'; } ?> >Português</option>
    <option value="ko" <?php if($this->lang == 'ko'){ echo 'selected'; } ?> >한국어</option>
    <option value="en" <?php if($this->lang == 'en'){ echo 'selected'; } ?> >English</option>
  </select>
</form>


<script type="text/javascript">

  function changeLang(){

    var val = $("#lang").val();
  
    location.href = '/login/lang?lang='+val+'&url=login';
  }

  $(document).ready(function() {
    $("#twosteps").hide();
  });
  function toggle(className, obj) {
    var $input = $(obj);
    if ($input.prop('checked')) $(className).show();
    else $(className).hide();
  }
  $("#form").submit(function() {
    $("#twosteps").hide();
    $("#error").empty();
    if ($('#lgn_user').val() == "") {
      $("#error").append('Username inválido <br>').css({
        "display": "block"
      });
      return false;
    }
    if ($('#lgn_pass').val() == "") {
      $("#error").append('Senha inválida <br>').css({
        "display": "block"
      });
      return false;
    }
    if ($('#recaptcha_response_field').val() == "") {
      $("#error").append('Código inválido <br>').css({
        "display": "block"
      });
      return false;
    }
    if ($('#lgn_user').val() != "" || $('#lgn_pass').val() != "" || $('#recaptcha_response_field').val() != "") {
      $("#error").css({
        "display": "none"
      });
    }
  });
</script>