<script src='https://www.google.com/recaptcha/api.js'></script>

<form action="<?php echo LINK_OFFICE; ?>/login/recovery<?php echo isset($_GET['key']) ? "?key=" . $_GET['key'] : "";  ?>" method="post" class="form" id="login-form form i-recaptcha">
    <div id="message"><?php echo (!empty($this->error)) ? $this->error : ''; ?></div>
    <img id="logo" src="/public/assets/img/logo.png" alt="Logomarca">
    <div id="error"></div>
    <div id="info"></div>
    <h4 class="form__title color-1"><?php echo $this->tr->_("Criar nova senha:"); ?></h4>
    <input type="password" name="new_password" id="new_password" class="input login" placeholder="<?php echo $this->tr->_("Nova Senha"); ?>" required>
    <input type="password" name="new_repassword" id="new_repassword" class="input login" placeholder="<?php echo $this->tr->_("Confirmar Nova Senha"); ?>" required>
    <button class="btn" type="submit"><?php echo $this->tr->_("salvar"); ?></button>
    <a class="btn btn--variant" href="<?php echo LINK_OFFICE; ?>/login"><?php echo $this->tr->_("login"); ?></a>
</form>

<script type="text/javascript">
    $("#form").submit(function() {
        $("#error").empty();
        if ($('#new_password').val() == "") {
            $("#error").append('<?php echo $this->tr->_("Senha inválida"); ?> <br>').css({
                "display": "block"
            });
            return false;
        }
        if ($('#new_repassword').val() == "" || $('#new_password').val() != $('#new_repassword').val()) {
            $("#error").append('<?php echo $this->tr->_("Senhas são diferentes."); ?> <br>').css({
                "display": "block"
            });
            return false;
        }
        if ($('#new_password').val() != "" || $('#new_repassword').val() != "") {
            $("#error").css({
                "display": "none"
            });
        }
    });
</script>