<h1 class="title"><?php echo $this->tr->_("suporte"); ?></h1>
<div class="card">
	<form class="form">

		<section id="pass">
			<h2 class="subtitle"><?php echo $this->tr->_("email"); ?></h2>
			<p><?php echo $this->tr->_("E-mail do suporte"); ?>: <?php echo EMAIL_SUPPORT; ?></p>
		</section>
	</form>
</div>