<script src='/public/js/jquery.countdown.min.js' type='text/javascript'></script>
<script type="text/javascript" src="/public/js/Datejs-master/date.js"></script>
<?php if (!empty($this->meta)) {
          echo $this->meta;
        } ?>
<h1 class="title"><?php echo $this->tr->_("deposito"); ?></h1>
<div class="card">
<div id="message"></div>
  <section class="group">
    <h2 class="subtitle"><?php echo $this->tr->_("Faça seu depósito"); ?></h2>
    <div id="total">
      <h3 class="card__subtitle"><?php echo $this->tr->_("Quantidade em dólares"); ?> (USDT):</h3>
      <form class="form" name="form" id="form" action="" method="post">
        <input type="hidden" name="val" value="1" />
        <input type="text" id="amount" name="amount" class="input" maxlength="19" value="<?php echo $this->amount; ?>">
        <input type="submit" id="create_invoice" class="btn" value="<?php echo $this->tr->_("Criar depósito"); ?>">
      </form>
    </div>
  </section>
  <section class="group" id="details">
    <h2 class="subtitle"><?php echo $this->tr->_("endereco_bitcoin"); ?></h2>
    <div id="total">
      <p id="message" class="color-danger" <?php if (empty($this->error)) { ?>style="display:none;" <?php } ?>>
        <?php if (!empty($this->error)) {
          echo $this->error;
        } ?>
      </p>
      <div class="table-striped-container">
        <table>
          <tbody>
            <?php
            foreach ($this->deposits as $key => $value) {

              $date    = $value["bco_date_insert"];
              $date    = explode(" ", $date);
              $date    = explode("-", $date[0]);
              $date    = $date[2] . "/" . $date[1] . "/" . $date[0];

              //Se a fatura não estiver cancelada
              if ($value['bco_status'] != 'C') {

            ?>
                <tr>
                  <td>
                    <!-- Contdow -->
                    <h2 id="msgstatus<?php echo $key; ?>"><?php echo $value['status']; ?></h2>
                    <?php
                    if (isset($value['final_countdown']) && $value['bco_status'] == 'W') {
                    ?>
                      <h2 class="color-danger" id="countdowndeposit<?php echo $key; ?>" class="countdown"></h2>
                      <?php
                      $date1 = date_create($value['final_countdown']);
                      $date2 = date_create(date('Y-m-d H:i:s'));
                      $diff = date_diff($date1, $date2);
                      ?>
                      <script type="text/javascript">
                        var date = new Date();
                        date.addMinutes(<?php echo $diff->format("%I"); ?>);
                        date.addSeconds(<?php echo $diff->format("%S"); ?>);
                        $("#countdowndeposit<?php echo $key; ?>").countdown(date)
                          .on('update.countdown', function(event) {
                            $(this).text(event.strftime('%H:%M:%S'));

                            sec = event.strftime('%S');
                            if (sec == "00") {
                              $.post("<?php echo LINK_OFFICE; ?>/deposit/verifystatus", {
                                id: <?php echo $value['bco_id']; ?>
                              }, function(data) {
                                if (data != "waiting") {
                                  $("#addressbtc<?php echo $key; ?>").html('');
                                  $("#qrcode<?php echo $key; ?>").html('');
                                  $("#countdowndeposit<?php echo $key; ?>").remove();
                                  $("#msgstatus<?php echo $key; ?>").html(data);
                                }
                              });
                            }

                          })
                          .on('finish.countdown', function(event) {
                            $(this).remove();
                            $.post("<?php echo LINK_OFFICE; ?>/deposit/verifystatus", {
                              id: <?php echo $value['bco_id']; ?>
                            }, function(data) {
                              if (data != "waiting") {
                                $("#msgstatus<?php echo $key; ?>").html(data);
                                $("#qrcode<?php echo $key; ?>").html('');
                              }
                            });
                          });
                      </script>
                    <?php } ?>
                    <!-- Contdow END -->

                    <h2 class="color-2"><?php echo "USDT " . number_format($value["bco_dollar_amount"] - $this->depositFee, 2, ',', '.'); ?></h2>
                    <h2><?php echo $value["bco_bitcoin_amount"]; ?></h2>
                    <?php if ($value['bco_status'] == 'W') { ?>
                      <div id="qrcode<?php echo $key; ?>">
                        <img src="https://chart.googleapis.com/chart?cht=qr&chs=300x300&chl=<?php echo urlencode('bitcoin:' . $value['bco_account_to'] . '?amount=' . $value['bco_bitcoin_amount']); ?>" width="220" height="220" id="<?= $value['bco_bitcoin_amount'] ?>">
                      </div>
                    <?php } ?>
                    <h2 id="addressbtc<?php echo $key; ?>"><?php echo $value["bco_account_to"]; ?></h2>

                  </td>
                </tr>
              <?php } ?>
            <?php } ?>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
<script type="text/javascript" src="/public/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {

    $('#amount').maskMoney({
      prefix: 'USDT '
    });

  });
</script>