<form class="form" id="login-form">
    <img id="logo" src="/public/assets/img/logo.png" alt="Logomarca">
    <div class="login center">
            <p class="title"><?php echo $this->tr->_("Nome de usuário alterado"); ?></p>
            <?php if ($this->status == "success") { ?>
                <p class="text"><?php echo $this->tr->_("Seu novo nome de usuário foi confirmado"); ?></p>
                <p class="pass"><a href="<?php echo LINK_OFFICE; ?>/login"><?php echo $this->tr->_("Clique aqui para fazer login"); ?></a></p>
            <?php } else { ?>	
                <p class="text" style="color: #c51b26; font-weight: 600;">
                    <?php echo $this->tr->_("Não foi possível confirmar seu novo nome de usuário. Tente novamente ou envie um email para"); ?> <?php echo EMAIL_SUPPORT; ?>!
                </p>
            <?php } ?>
        <p class="pass"><a href="<?php echo LINK_OFFICE; ?>/login"><?php echo $this->tr->_("Clique aqui para fazer login"); ?></a></p>
    </div>
</form>