<form class="form" id="login-form">
    <img id="logo" src="/public/assets/img/logo.png" alt="Logomarca">
    <div class="login center">
            <p class="title"><?php echo $this->tr->_("Email alterado"); ?></p>
            <?php if ($this->status == "success") { ?>
                <p class="text"><?php echo $this->tr->_("Sua mudança foi confirmada pelo seu novo e-mail"); ?>!</p>
                <p class="pass"><a href="<?php echo LINK_OFFICE; ?>/login"><?php echo $this->tr->_("Clique aqui para fazer login"); ?></a></p>
            <?php } else { ?>	
                <p class="text" style="color: #c51b26; font-size: 12px; font-weight: 600;">
                    <?php echo $this->tr->_("Não foi possível confirmar a alteração pelo seu novo email, por favor, tente novamente ou envie um email para"); ?> <?php echo EMAIL_SUPPORT; ?>!
                </p>
            <?php } ?>
    </div>
</form>