<form class="form" id="login-form">
    <img id="logo" src="/public/assets/img/logo.png" alt="Logomarca">
    <div class="login center">
            <p class="title"><?php echo $this->tr->_("novo"); ?> PIN</p>
            <?php if ($this->status == "success") { ?>
                <p class="text"><?php echo $this->tr->_("Seu novo PIN é"); ?>:</p>
                <p class="text" style="color: green; font-size: 22px; font-weight: 600;"><?php echo $this->newpin; ?></p>
                <p class="text"><?php echo $this->tr->_("Memorize seu número de PIN porque esta é a única vez que será mostrado a você"); ?>.</p>
            <?php } else { ?>	
                <p class="text" style="color: #c51b26; font-size: 12px; font-weight: 600;">
                    <?php echo $this->tr->_("Não podemos criar um novo PIN, por favor, tente novamente ou envie um email para"); ?> <?php echo EMAIL_SUPPORT; ?>!
                </p>
            <?php } ?>
            <p class="pass"><a href="<?php echo LINK_OFFICE; ?>/login">Clique para fazer login</a></p>
    </div>
</form>