@font-face {

  font-family: NexaSlab;

  src: url('NexaSlab-Regular.eot?#iefix') format('embedded-opentype'),  url('NexaSlab-Regular.otf')  format('opentype'),

	     url('NexaSlab-Regular.woff') format('woff'), url('NexaSlab-Regular.ttf')  format('truetype'), url('NexaSlab-Regular.svg#NexaSlab-Regular') format('svg');

  font-weight: normal;

  font-style: normal;

}

@font-face {font-family: "Nexa Book";

  src: url("52eb89866ed9b4eb9d7e0d1fb1a40a74.eot"); /* IE9*/

  src: url("52eb89866ed9b4eb9d7e0d1fb1a40a74.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

  url("52eb89866ed9b4eb9d7e0d1fb1a40a74.woff2") format("woff2"), /* chrome、firefox */

  url("52eb89866ed9b4eb9d7e0d1fb1a40a74.woff") format("woff"), /* chrome、firefox */

  url("52eb89866ed9b4eb9d7e0d1fb1a40a74.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/

  url("52eb89866ed9b4eb9d7e0d1fb1a40a74.svg#Nexa W01 Book") format("svg"); /* iOS 4.1- */

}

@font-face {

  font-family: NexaSlab-light;

  src: url('NexaSlab-Light.eot?#iefix') format('embedded-opentype'),  url('NexaSlab-Light.otf')  format('opentype'),

	     url('NexaSlab-Light.woff') format('woff'), url('NexaSlab-Light.ttf')  format('truetype'), url('NexaSlab-Light.svg#NexaSlab-Light') format('svg');

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family:NexaSlab-bold;

  src: url('NexaSlab-Bold.eot?#iefix') format('embedded-opentype'),  url('NexaSlab-Bold.otf')  format('opentype'),

	     url('NexaSlab-Bold.woff') format('woff'), url('NexaSlab-Bold.ttf')  format('truetype'), url('NexaSlab-Bold.svg#NexaSlab-Bold') format('svg');

  font-weight: normal;

  font-style: normal;

}

@font-face {

font-family: 'Montserrat Light';

font-style: normal;

font-weight: normal;

src: local('Montserrat Light'), url('Montserrat-Light.woff') format('woff');

}

@font-face {

  font-family: 'Myriad Pro';

  src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('MyriadPro-Regular.otf')  format('opentype'),

	     url('MyriadPro-Regular.woff') format('woff'), url('MyriadPro-Regular.ttf')  format('truetype'), url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'NexaBold';

  src: url('NexaBold.eot?#iefix') format('embedded-opentype'),  url('NexaBold.otf')  format('opentype'),

	     url('NexaBold.woff') format('woff'), url('NexaBold.ttf')  format('truetype'), url('NexaBold.svg#NexaBold') format('svg');

  font-weight: normal;

  font-style: normal;

}



@font-face {

  font-family: 'NexaLight';

  src: url('NexaLight.eot?#iefix') format('embedded-opentype'),  url('NexaLight.otf')  format('opentype'),

	     url('NexaLight.woff') format('woff'), url('NexaLight.ttf')  format('truetype'), url('NexaLight.svg#NexaLight') format('svg');

  font-weight: normal;

  font-style: normal;

}

