<script src="/public/js/jquery.form.js"></script>
<script type="text/javascript" src="/public/source/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="/public/source/jquery.fancybox.css?v=2.1.5" media="screen" />
<style>
  progress {
    display: none;
  }

  .porcentagem {
    display: none;
  }

  /* .arquivo {
    float: left;
  }

  .btUpload {
    float: left;
  }

  .resposta {
    float: left;
    width: 900px;
    } */
  </style>
  <h1 class="title"><?php echo $this->tr->_("documentacao"); ?></h1>
  <div class="card">
    <section class="group" id="details">
      <h2 class="subtitle"><?php echo $this->tr->_("validacao_de_documentos"); ?></h2>
      <?php if($this->DadosUser["usr_rede"]==1){ // Se for fazer rede ?>
        <p id="message"></p>
        <div class="table-striped-container-doc">
          <table >
            <tr><td></td> </tr>
            <tr>
              <td>
                <b><?php echo $this->tr->_("contrato_do_agente"); ?>:</b>
                <?php if($this->DadosUser["usr_documentation"]==2){ // Contrato ?>
                  <div id="idcompany">
                    <?php if($this->DadosUser["usr_contract"]==0){ // Contrato ?>
                      <form action="#" id="contract_agent" method="post" onsubmit="return generateContract()">
                        <button type="submit" class="btn-option"><?php echo $this->tr->_("gerar_contrato"); ?></button>
                      </form>
                    <?php }elseif($this->DadosUser["usr_contract"]==1){ ?>

                      <span class="btn-option"><?php echo $this->tr->_("aguardando_assinatura_digital"); ?></span>
                      <div id='signature-div'></div>
                      <?php //if($embed==1){ ?>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                        <script src='/public/assets/js/d4sign.js' type='text/javascript'></script>
                        <script>                      
                          d4sign.configure({
                            container: "signature-div",
                            key: "<?php echo $this->DadosUser["usr_contract_id"]; ?>",
                            protocol: "https",
                            host: "secure.d4sign.com.br/embed/viewblob",
                            signer: {
                              email: "<?php echo $this->DadosUser["usr_email"]; ?>",
                        display_name: "<?php echo $this->DadosUser["usr_name"]; ?>", //optional,
                        documentation: "<?php echo $this->DadosUser["usr_cpf"]; ?>", //optional,
                        birthday: "<?php echo implode('/',array_reverse(explode('-',$this->DadosUser["usr_birth"]))); ?>", //optional,
                        disable_preview: "0", //optional
                        key_signer: "<?php echo $this->DadosUser["usr_key_signer"] ?>"
                      },
                      width: '1025',
                      height: '400',
                      callback: function(event) {
                        if (event.data === "signed") {
                        //alert('Contrato assinado!');
                        location.reload();
                      }
                    }
                  });
                </script>
                <?php //} ?>

              <?php }elseif($this->DadosUser["usr_contract"]==2){ ?>
                <p id="fontpersonal" style="color:#47a447;"><?php echo $this->tr->_("assinado"); ?></p>
              <?php } ?>
            </div>
          <?php }else{ ?>
            <p style="color:#025E9B;"><?php echo $this->tr->_("Aguardando validação de documentos"); ?></p>
          <?php } ?>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
  </div>
  <table width="100%" border="0">
    <tr>
      <td valign="top" height="20">&nbsp;</td>
    </tr>
  </table>
<?php } //Rede ?>
<div class="table-striped-container-doc">
  <table >
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td valign="top">
        <p><b><?php echo $this->tr->_("Documento de identificação"); ?>*:</b></p>
        <p>
          <?php
          $statusPessoal = $this->Documentacao['doc_pessoal_status'];
          $msgPessoal = "";
          if (!empty($this->Documentacao['doc_pessoal_detalhes'])) {
            $msgPessoal = " - " . $this->Documentacao['doc_pessoal_detalhes'];
          }
          switch ($statusPessoal) {
            case 'P':
            echo '<font id="fontpersonal" style="color:#025E9B;">'.$this->tr->_("Processando").'</font>';
            break;
            case 'U':
            echo '<font id="fontpersonal" style="color:#025E9B;">'.$this->tr->_("Arquivo carregado").'</font>';
            break;
            case 'V':
            echo '<font id="fontpersonal" style="color:#47a447;">'.$this->tr->_("Verificado").'</font>';
            break;
            case 'I':
            echo '<font id="fontpersonal" style="color:#FF0000;">'.$this->tr->_("Inválido").' '. $msgPessoal . '</font>';
            break;
            default:
            echo '<font id="fontpersonal" style="color:#FF0000;">'.$this->tr->_("Não enviado").' <font style="font-size:10px; color:#000;">('.$this->tr->_("Tamanho máximo 3MB").')</font></font>';
            break;
          }
          ?>
        </p>
        <div id="idpersonal">
          <?php if ($statusPessoal == 'P' || $statusPessoal == 'U' || $statusPessoal == 'V' || $statusPessoal == 'I') { ?>
            <?php if ($statusPessoal != 'V') { ?>
              <button type="button" data-src="<?php echo $this->Documentacao['doc_pessoal_arquivo'] ?>" class="view"><?php echo $this->tr->_("Visualizar"); ?></button>
            <?php } ?>

            <?php if ($statusPessoal != 'P' && $statusPessoal != 'V') { ?>
              <button type="button" data-id="personal" class="delete"><?php echo $this->tr->_("Excluir"); ?></button>
            <?php } ?>
          <?php } else { ?>
            <form name="formpersonal" id="formpersonal" method="post" enctype="multipart/form-data">
              <input type="hidden" name="type" value="personal" />
              <p><input type="file" name="arquivo" class="arquivo" /></p>
              <p><button type="button" data-form="formpersonal" class="btUpload btn-option"><?php echo $this->tr->_("enviar"); ?></button></p>
              <progress value="0" max="100"></progress><span class="porcentagem">0%</span>
              <div class="resposta"></div>
            </form>
          <?php } ?>
        </div>
      </td>
    </tr>
    <tr>
      <td>*<?php echo $this->tr->_("Faça o envio da imagem do seu documento de identificação. Ex.: RG,CNH,Passaporte..."); ?></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<table width="100%" border="0">
  <tr>
    <td valign="top" height="20">&nbsp;</td>
  </tr>
</table>
<div class="table-striped-container-doc">
  <table >
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>

      <td valign="top">
        <p><b><?php echo $this->tr->_("Verso do documento de identificação"); ?>:</b></p>
        <p>
          <?php
          $statusBack = $this->Documentacao['doc_pessoal_verso_status'];
          $msgBack = "";
          if (!empty($this->Documentacao['doc_pessoal_verso_detalhes'])) {
            $msgBack = " - " . $this->Documentacao['doc_pessoal_verso_detalhes'];
          }

          switch ($statusBack) {
            case 'P':
            echo '<font id="fontbackdocument" style="color:#025E9B;">'.$this->tr->_("Processando").'</font>';
            break;
            case 'U':
            echo '<font id="fontbackdocument" style="color:#025E9B;">'.$this->tr->_("Arquivo carregado").'</font>';
            break;
            case 'V':
            echo '<font id="fontbackdocument" style="color:#47a447;">'.$this->tr->_("Verificado").'</font>';
            break;
            case 'I':
            echo '<font id="fontbackdocument" style="color:#FF0000;">'.$this->tr->_("Inválido").' '. $msgBack . '</font>';
            break;
            default:
            echo '<font id="fontbackdocument" style="color:#FF0000;">'.$this->tr->_("Não enviado").' <font style="font-size:10px; color:#000;">('.$this->tr->_("Tamanho máximo 3MB").')</font></font>';
            break;
          }
          ?>
        </p>
        <div id="idbackdocument">
          <?php if ($statusBack == 'P' || $statusBack == 'U' || $statusBack == 'V' || $statusBack == 'I') { ?>
            <?php if ($statusBack != 'V') { ?>
              <button type="button" data-src="<?php echo $this->Documentacao['doc_pessoal_verso_arquivo'] ?>" class="view"><?php echo $this->tr->_("Visualizar"); ?></button>
            <?php } ?>
            <?php if ($statusBack != 'P' && $statusBack != 'V') { ?>
              <button type="button" data-id="backdocument" class="delete"><?php echo $this->tr->_("Excluir"); ?></button>
            <?php } ?>
          <?php } else { ?>
            <form name="formbackdocument" id="formbackdocument" method="post" enctype="multipart/form-data">
              <input type="hidden" name="type" value="backdocument" />
              <p><input type="file" name="arquivo" size="45" class="arquivo" /></p>
              <p><button type="button" data-form="formbackdocument" class="btUpload btn-option"><?php echo $this->tr->_("enviar"); ?></button></p>
              <progress value="0" max="100"></progress><span class="porcentagem">0%</span>
              <br />
              <div class="resposta"></div>
            </form>
          <?php } ?>
        </div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<table width="100%" border="0">
  <tr>
    <td valign="top" height="20">&nbsp;</td>
  </tr>
</table>
<div class="table-striped-container-doc">
  <table >
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>

      <td valign="top">
        <p><b><?php echo $this->tr->_("Selfie"); ?>*:</b></p>
        <p>
          <?php
          $statusSelfie = $this->Documentacao['doc_selfie_status'];
          $msgSelfie = "";
          if (!empty($this->Documentacao['doc_selfie_detalhes'])) {
            $msgSelfie = " - " . $this->Documentacao['doc_selfie_detalhes'];
          }
          switch ($statusSelfie) {
            case 'P':
            echo '<font id="fontbackdocument" style="color:#025E9B;">'.$this->tr->_("Processando").'</font>';
            break;
            case 'U':
            echo '<font id="fontbackdocument" style="color:#025E9B;">'.$this->tr->_("Arquivo carregado").'</font>';
            break;
            case 'V':
            echo '<font id="fontbackdocument" style="color:#47a447;">'.$this->tr->_("Verificado").'</font>';
            break;
            case 'I':
            echo '<font id="fontbackdocument" style="color:#FF0000;">'.$this->tr->_("Inválido").' '. $msgSelfie . '</font>';
            break;
            default:
            echo '<font id="fontbackdocument" style="color:#FF0000;">'.$this->tr->_("Não enviado").' <font style="font-size:10px; color:#000;">('.$this->tr->_("Tamanho máximo 3MB").')</font></font>';
            break;
          }
          ?>
        </p>
        <div id="idselfie">
          <?php if ($statusSelfie == 'P' || $statusSelfie == 'U' || $statusSelfie == 'V' || $statusSelfie == 'I') { ?>
            <?php if ($statusSelfie != 'V') { ?>
              <button type="button" data-src="<?php echo $this->Documentacao['doc_selfie_arquivo'] ?>" class="view"><?php echo $this->tr->_("Visualizar"); ?></button>
            <?php } ?>

            <?php if ($statusSelfie != 'P' && $statusSelfie != 'V') { ?>
              <button type="button" data-id="selfie" class="delete"><?php echo $this->tr->_("Excluir"); ?></button>
            <?php } ?>
          <?php } else { ?>
            <form name="formselfie" id="formselfie" method="post" enctype="multipart/form-data">
              <input type="hidden" name="type" value="selfie" />
              <p><input type="file" name="arquivo" size="45" class="arquivo" /></p>
              <p><button type="button" data-form="formselfie" class="btUpload btn-option"><?php echo $this->tr->_("enviar"); ?></button></p>
              <progress value="0" max="100"></progress><span class="porcentagem">0%</span>
              <div class="resposta"></div>
            </form>
          <?php } ?>
        </div>
      </td>
    </tr>
    <tr>

      <td>*<?php echo $this->tr->_("Faça o envio de uma selfie com seu documento de identificação em mãos"); ?>.</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<table width="100%" border="0">
  <tr>
    <td valign="top" height="20">&nbsp;</td>
  </tr>
</table>
<?php if($this->DadosUser["usr_type"]==1){ // Se for empresa ?>
  <div class="table-striped-container-doc">
    <table >
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>

        <td valign="top">
          <p><b><?php echo $this->tr->_("Contrato social"); ?>*:</b></p>
          <p>
            <?php
            $statusCompany = $this->Documentacao['doc_company_status'];
            $msgCompany = "";
            if (!empty($this->Documentacao['doc_company_detalhes'])) {
              $msgCompany = " - " . $this->Documentacao['doc_company_detalhes'];
            }
            switch ($statusCompany) {
            case 'P':
            echo '<font id="fontbackdocument" style="color:#025E9B;">'.$this->tr->_("Processando").'</font>';
            break;
            case 'U':
            echo '<font id="fontbackdocument" style="color:#025E9B;">'.$this->tr->_("Arquivo carregado").'</font>';
            break;
            case 'V':
            echo '<font id="fontbackdocument" style="color:#47a447;">'.$this->tr->_("Verificado").'</font>';
            break;
            case 'I':
            echo '<font id="fontbackdocument" style="color:#FF0000;">'.$this->tr->_("Inválido").' '. $msgCompany . '</font>';
            break;
            default:
            echo '<font id="fontbackdocument" style="color:#FF0000;">'.$this->tr->_("Não enviado").' <font style="font-size:10px; color:#000;">('.$this->tr->_("Tamanho máximo 3MB").')</font></font>';
            break;
            }
            ?>
          </p>
          <div id="idcompany">
            <?php if ($statusCompany == 'P' || $statusCompany == 'U' || $statusCompany == 'V' || $statusCompany == 'I') { ?>
              <?php if ($statusCompany != 'V') { ?>
                <button type="button" data-src="<?php echo $this->Documentacao['doc_company_arquivo'] ?>" class="view"><?php echo $this->tr->_("Visualizar"); ?></button>
              <?php } ?>
              <?php if ($statusCompany != 'P' && $statusCompany != 'V') { ?>
                <button type="button" data-id="company" class="delete"><?php echo $this->tr->_("Excluir"); ?></button>
              <?php } ?>
            <?php } else { ?>
              <form name="formcompany" id="formcompany" method="post" enctype="multipart/form-data">
                <input type="hidden" name="type" value="company" />
                <p><input type="file" name="arquivo" size="45" class="arquivo" /></p>
                <p><button type="button" data-form="formcompany" class="btUpload btn-option"><?php echo $this->tr->_("enviar"); ?></button></p>
                <progress value="0" max="100"></progress><span class="porcentagem">0%</span>
                <div class="resposta"></div>
              </form>
            <?php } ?>
          </div>
        </td>
      </tr>
      <tr>

        <td>*<?php echo $this->tr->_("Faça o envio do contrato social da empresa"); ?>.</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
  <table width="100%" border="0">
    <tr>
      <td valign="top" height="20">&nbsp;</td>
    </tr>
  </table>
<?php } //Company ?>
<div class="table-striped-container-doc">
  <table >
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>

      <td valign="top">
        <p><b><?php echo $this->tr->_("Comprovante de endereço"); ?>:</b></p>
        <p>
          <?php
          $statusEndereco = $this->Documentacao['doc_endereco_status'];
          $msgEndereco = "";
          if (!empty($this->Documentacao['doc_endereco_detalhes'])) {
            $msgEndereco = " - " . $this->Documentacao['doc_endereco_detalhes'];
          }
          switch ($statusEndereco) {
            case 'P':
            echo '<font id="fontbackdocument" style="color:#025E9B;">'.$this->tr->_("Processando").'</font>';
            break;
            case 'U':
            echo '<font id="fontbackdocument" style="color:#025E9B;">'.$this->tr->_("Arquivo carregado").'</font>';
            break;
            case 'V':
            echo '<font id="fontbackdocument" style="color:#47a447;">'.$this->tr->_("Verificado").'</font>';
            break;
            case 'I':
            echo '<font id="fontbackdocument" style="color:#FF0000;">'.$this->tr->_("Inválido").' '. $msgEndereco . '</font>';
            break;
            default:
            echo '<font id="fontbackdocument" style="color:#FF0000;">'.$this->tr->_("Não enviado").' <font style="font-size:10px; color:#000;">('.$this->tr->_("Tamanho máximo 3MB").')</font></font>';
            break;
          }
          ?>
        </p>
        <div id="idaddress">
          <?php if ($statusEndereco == 'P' || $statusEndereco == 'U' || $statusEndereco == 'V' || $statusEndereco == 'I') { ?>
            <?php if ($statusEndereco != 'V') { ?>
              <button type="button" data-src="<?php echo $this->Documentacao['doc_endereco_arquivo'] ?>" class="view"><?php echo $this->tr->_("Visualizar"); ?></button>
            <?php } ?>
            <?php if ($statusEndereco != 'P' && $statusEndereco != 'V') { ?>
              <button type="button" data-id="address" class="delete"><?php echo $this->tr->_("Excluir"); ?></button>
            <?php } ?>
          <?php } else { ?>
            <form name="formaddress" id="formaddress" method="post" enctype="multipart/form-data">
              <input type="hidden" name="type" value="address" />
              <p><input type="file" name="arquivo" size="45" class="arquivo" /></p>
              <p><button type="button" data-form="formaddress" class="btUpload btn-option"><?php echo $this->tr->_("enviar"); ?></button></p>
              <progress value="0" max="100"></progress><span class="porcentagem">0%</span>
              <div class="resposta">
              </div>
            </form>
          <?php } ?>
        </div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<table width="100%" border="0">
  <tr>
    <td valign="top" height="20">&nbsp;</td>
  </tr>
</table>
<div id="sendverification">
  <?php 
  $dps = $this->Documentacao["doc_pessoal_status"];
  $des = $this->Documentacao["doc_endereco_status"];
  $dbs = $this->Documentacao["doc_pessoal_verso_status"];
  $dss = $this->Documentacao["doc_selfie_status"];
  $dsc = $this->Documentacao["doc_company_status"];
  $envia = 0;

        //Envio de documentos
        if($this->DadosUser["usr_type"]==0) // Se for PF
        {
          if (($dps == 'U' || $dps == 'V' || $dps == 'P') 
            && ($des == 'U' || $des == 'V' || $des == 'P') 
            && ($dbs == 'U' || $dbs == 'V' || $dbs == 'P')
            && ($dss == 'U' || $dss == 'V' || $dss == 'P')
            && ($dps == 'U' || $des == 'U' || $dbs == 'U' || $dss == 'U')) 
          {
            $envia = 1;
          }

        }
        else //Se for PJ
        { 
          if (($dps == 'U' || $dps == 'V' || $dps == 'P') 
            && ($des == 'U' || $des == 'V' || $des == 'P') 
            && ($dbs == 'U' || $dbs == 'V' || $dbs == 'P')
            && ($dss == 'U' || $dss == 'V' || $dss == 'P')
            && ($dsc == 'U' || $dsc == 'V' || $dsc == 'P')
            && ($dps == 'U' || $des == 'U' || $dbs == 'U' || $dss == 'U' || $dsc == 'U')) 
          {
            $envia = 1;
          }
        } ?>
        <?php if($envia==1){ //Se for pra enviar ?>
          <button type="button" class="btn-option" id="btsend"><?php echo $this->tr->_("Enviar documentos para validação"); ?></button>
        <?php } ?> 
      </div>
    </section>
  </div>

  <script>
    $(document).on('click', '#btsend', function() {
      if (confirm("<?php echo $this->tr->_("Confirmar envio? Após o envio, você não pode alterar os arquivos até que sejam verificados."); ?>")) {
        $.post("<?php echo LINK_OFFICE; ?>/documentation/verification", {}, function(data) {
          if (data == 1) {
            alert("<?php echo $this->tr->_("Arquivos enviados para validação."); ?>");
            location.reload();
          } else {
            alert("<?php echo $this->tr->_("Erro ao enviar arquivos. Por favor, tente novamente."); ?>");
          }
        });
      }
    });
    $(document).on('click', '.view', function() {
      src = $(this).data('src');
      if (src.indexOf(".pdf") < 0) {
        $.fancybox.open({
          padding: 0,
          href: "https://documentation.<?php echo SITE_DOMAIN; ?>/" + src,
          type: 'image'
        });
      } else {
        window.open("https://documentation.<?php echo SITE_DOMAIN; ?>/" + src);
      }
    });

    $(document).on('click', '.delete', function() {
      id = $(this).data('id');
      if (confirm("<?php echo $this->tr->_("Deletar arquivo?"); ?>")) {
        $("#id" + id).html("<?php echo $this->tr->_("loading"); ?>...");
        $.post("<?php echo LINK_OFFICE; ?>/documentation/delete", {
          id: id
        }, function(data) {
          if (data == 1) {
            alert("<?php echo $this->tr->_("Arquivo excluído com sucesso!"); ?>");
            $('#sendverification').html('');
            $("#font" + id).html('<?php echo $this->tr->_("Não enviado"); ?>  <font style="font-size:10px; color:#000;">(<?php echo $this->tr->_("Tamanho máximo de 3MB"); ?>)</font>');
            $("#font" + id).attr("style", "color:#FF0000;");
            $("#id" + id).html('<form name="form' + id + '" id="form' + id + '" method="post" enctype="multipart/form-data"><input type="hidden" name="type" value="' + id + '" /><input type="file" name="arquivo" size="45" class="arquivo" /><button type="button" data-form="form' + id + '" class="btUpload"><?php echo $this->tr->_("enviar"); ?></button><br /><progress value="0" max="100"></progress><span class="porcentagem">0%</span><div class="resposta"></div></form>');
          } else if (data == 3) {
            alert("<?php echo $this->tr->_("Você não pode excluir o arquivo enquanto estiver processando."); ?>");
            location.reload();
          } else {
            alert("<?php echo $this->tr->_("Erro! Por favor tente novamente."); ?>"+data);
          }
        });
      }
    });

  //$(document).on('click', '.btUpload', function() {
    $(document).on('click', '.btUpload', function() {
      form = $(this).data('form');
      $('#' + form).ajaxForm({
        beforeSubmit: function() {
          $('#' + form + ' .arquivo').hide();
          $('#' + form + ' .btUpload').hide();
          $('#' + form + ' progress').show();
          $('#' + form + ' .porcentagem').show();
        },
        uploadProgress: function(event, position, total, percentComplete) {
          $('#' + form + ' progress').attr('value', percentComplete);
          $('#' + form + ' .porcentagem').html(percentComplete + '%');
        },
        success: function(data) {
          $('#' + form + ' progress').attr('value', '100');
          $('#' + form + ' .porcentagem').html('100%');
          if (data.sucesso == true) {
            alert("<?php echo $this->tr->_("Arquivo carregado com sucesso!"); ?>");
            id = form.replace('form', '');
            $("#font" + id).html("<?php echo $this->tr->_("Arquivo carregado"); ?>");
            $("#font" + id).attr("style", "color:#025E9B;");
            $('#id' + id).html('<button type="button" data-src="' + data.msg + '" class="view"><?php echo $this->tr->_("Visualizar"); ?></button> <button type="button" data-id="' + id + '" class="delete"><?php echo $this->tr->_("Excluir"); ?></button>');
            if (data.last == true) {
              $('#sendverification').html('<button type="button" id="btsend"><?php echo $this->tr->_("Enviar arquivos para validação."); ?></button>');
            }
          } else {
            $('#' + form + ' .arquivo').show();
            $('#' + form + ' .btUpload').show();
            $('#' + form + ' progress').hide();
            $('#' + form + ' .porcentagem').hide();
            $('#' + form + ' .resposta').html('<font style="color:#FF0000;">' + data.msg + '</font>');
          }
        },
        error: function() {
          $('#' + form + ' .arquivo').show();
          $('#' + form + ' .btUpload').show();
          $('#' + form + ' progress').hide();
          $('#' + form + ' .porcentagem').hide();
          $('#' + form + ' .resposta').html('<font style="color:#FF0000;"><?php echo $this->tr->_("Erro! Por favor, tente novamente."); ?></font>');
        },
        dataType: 'json',
        url: '<?php echo LINK_OFFICE; ?>/documentation/send',
        resetForm: true
      }).submit();
    });

  //Generate contract
  function generateContract() {

    if (confirm("<?php echo $this->tr->_("Gerar contrato?"); ?>")) {

      //$("#message").html('<img src="/public/images/loading-icon.gif" style="border:none;" class="loading">');
      $("#contract_agent").html('<img src="/public/images/loading-icon.gif" style="border:none;" class="loading">');

      $.post('<?php echo LINK_OFFICE; ?>/documentation/generatecontract', {
        act : 1
      },

      function(data) {

        if (data == 1) {

          //$("#message").hide();
          $("#contract_agent").hide();

          alert("<?php echo $this->tr->_("contrato_gerado_assine"); ?>");

          location.reload();

        } else {

          $("#message").html("<p style='color:red'>" + data + "</p>");

          $("#message").show();

        }



      });

    }
    return false;

  }
</script>
