  <?php

  $account = $this->account;
  $availableBalance = $this->availableBalance;
  $lockedBalance = $this->lockedBalance;
  $balanceProcess = $this->balanceProcess;

  ?>
  <h1 class="title"><?php echo $this->tr->_("Painel de Controle"); ?></h1>

  <!-- Widget BEGIN -->
  <div class="widget-container" style="margin-bottom:10px">
    <script type="text/javascript" src="https://widget.coinlore.com/widgets/ticker-widget.js"></script><div class="coinlore-priceticker-widget" data-mcurrency="usd" data-bcolor="#fff" data-scolor="#333" data-ccolor="#428bca" data-pcolor="#428bca"></div>
  </div>
  <!-- Widget END -->
  <div class="cards-container">
    <div class="cards">
      <div class="d-lg-flex justify-space-between">
        <section id="income" class="card">
          <h2 class="card__title"><?php echo $this->tr->_("Rendimentos"); ?></h2>
          <h3 class="money"><?="USDT ".number_format($this->balanceEarnings + $this->balanceComissions, 2, '.', ','); ?> <span class="color-success"><i class="mdi mdi-chevron-up-box"></i></span></h3>
          <h4 class="card__subtitle"><?php echo $this->tr->_("Saldo disponível"); ?>:<?="USDT ".number_format($this->availableBalance, 2, '.', ','); ?></h4>
            <h4 class="card__subtitle"><?php echo $this->tr->_("saque"); ?>: <?="USDT ".number_format($this->balanceProcess, 2, '.', ','); ?> 
              <span class="badge"><?php echo $this->tr->_("Processando"); ?></span></h4>
              <!--h4 class="card__subtitle">BTC/USDT: <?/*="".number_format($this->btc_usd, 2, '.', ','); */?></h4-->
              <!--a href="./ewallet" class="btn">Ver tudo <i class="mdi mdi-arrow-right"></i></a-->
            </section>
            <section id="buy" class="card">
              <h2 class="card__title"><?php echo $this->tr->_("Locação de ativos"); ?></h2>
              <div class="d-sm-flex justify-space-between">
                <form method="post" action="<?php echo LINK_OFFICE; ?>/buy" onsubmit="return confirm('<?php echo $this->tr->_("Confirmar pedido?"); ?>');">
                  <input type="hidden" value="1" name="order">
                  <h3 class="card__subtitle"><?php echo $this->tr->_("Fazer locação"); ?></h3>
                  <select name="period_income" required="required" class="input">
                    <option value="12" selected>12 <?php echo $this->tr->_("meses"); ?> -> <?php echo $this->tr->_("5% a.m."); ?> +2%</option>
                  </select>
                  <div class="d-flex">
                    <input type="text" name="value" id="value" placeholder="<?php echo $this->tr->_("Valor"); ?>(USDT)" class="numbersOnly input" maxlength="10" required="required" pattern="[0-9]+$">
                    <button class="btn" type="submit"><?php echo $this->tr->_("locar"); ?><i class="mdi mdi-arrow-right"></i></button></div>
                    </form>
                    <form>
                      <h3 class="card__subtitle"><?php echo $this->tr->_("Simulador"); ?></h3>
                      <select name="period_income" required="required" class="input">
                        <option value="12">12 <?php echo $this->tr->_("meses"); ?> -> <?php echo $this->tr->_("5% a.m."); ?> +2%</option>
                      </select>
                      <div class="d-flex">
                        <input type="text" id="valueSimulate" placeholder="<?php echo $this->tr->_("Valor"); ?>(USDT)" class="numbersOnly input" min="100" maxlength="10" pattern="[0-9]+$">
                        <p class="btn" style="cursor: pointer;" id="simulate"><?php echo $this->tr->_("Simular");
                          ?>
                        </p></div>
                      </form>
                      <form>
                        <div id="result" style="display:none">
                          <h3 class="card__subtitle color-success"><?php echo $this->tr->_("Resultado de ganhos"); ?></h3>
                          <div id="message"></div>
                          <select id="rst" class="rst input"></select>
                          <div id="d-flex" class="d-flex">
                            <p class="btn close" style="cursor: pointer;"><?php echo $this->tr->_("Fechar"); ?></p>
                          </div>
                        </div>
                        <div id="promotional">
                          <h3 class="card__subtitle"><?php echo $this->tr->_("Promoção"); ?>
                          </h3>
                          <p class="color-success"><?php echo $this->tr->_("+ 2% a.m."); ?></p>
                          <p class="color-purple"><?php echo $this->tr->_("rentabilidade extra"); ?>
                          </p>
                          <div id="d-flex" class="d-flex">
                            <p style="font-size: 12px;" class="color-purple">*<?php echo $this->tr->_("Campanha válida até 31 de julho"); ?>
                            </p>
                          </div>
                        </div>
                      </form>
                    </div>
                  </section>
                </div>
                <div class="d-md-flex justify-space-between">
                  <section id="transactions">
                    <!-- TradingView Widget BEGIN -->
                    <div class="tradingview-widget-container">
                      <div class="tradingview-widget-container__widget"></div>
                      <!--div class="tradingview-widget-copyright"><a href="https://br.tradingview.com/symbols/BINANCE-BTCUSDT/" rel="noopener" target="_blank"><span class="blue-text">BTCUSDT Cotação</span></a> por TradingVie</div-->
                      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                        {
                          "symbol": "BINANCE:BTCUSDT",
                          "width": "100%",
                          "height": "100%",
                          "locale": "br",
                          "dateRange": "1m",
                          "colorTheme": "light",
                          "trendLineColor": "#37a6ef",
                          "underLineColor": "#E3F2FD",
                          "isTransparent": false,
                          "autosize": true,
                          "largeChartUrl": ""
                        }
                      </script>
                    </div>
                    <!-- TradingView Widget END -->
                  </section>
                  <section id="contracts" class="card">
                    <div class="d-sm-flex d-md-block d-lg-flex align-center justify-space-between">
                      <div>
                        <h2 class="card__title"><?php echo $this->tr->_("Seus contratos"); ?></h2>
                      </div><a href="./contracts" class="btn"><?php echo $this->tr->_("Ver tudo"); ?>
                        <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                    <div class="table-striped-container">
                      <table>
                        <thead>
                          <tr>
                            <th><?php echo $this->tr->_("data"); ?>
                            </th>
                            <th><?php echo $this->tr->_("contrato"); ?>
                            </th>
                            <th><?php echo $this->tr->_("Valor"); ?>
                            </th>
                            <th><?php echo $this->tr->_("Vencimento"); ?>
                            </th>
                            <th><?php echo $this->tr->_("Status"); ?>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <?php
                          $i = 0;
                          foreach ($this->plans as $item)
                          {

                            if($i<7 && $item["uplan_status"]==1){

                              $date		= $item["uplan_day_start"];
                              $date		= explode(" ", $date);
                              $date		= explode("-", $date[0]);
                              $date		= $date[2]."/".$date[1]."/".$date[0];

                              $valorUSDT = $item["uplan_value"];
                              $name_plan = $item["prod_titulo"];
                              $balance = $item["uplan_saldo_acumulado"];

                              $date_end	= $item["uplan_day_end"];
                              $date_end	= explode(" ", $date_end);
                              $date_end	= explode("-", $date_end[0]);
                              $date_end	= $date_end[2]."/".$date_end[1]."/".$date_end[0];

                              ?>
                              <tr>
                                <td><?php echo $date; ?></td>
                                <td><?php echo $this->tr->_("$name_plan"); ?></td>
                                <td><?= "USDT " . number_format($valorUSDT, 2, ',', '.'); ?></td>
                                <td><?php echo $date_end; ?></td>
                                <td><i class="mdi mdi-check-bold <?php if($item["uplan_status"]==1){ echo "color-success"; }else{ echo "color-danger"; } ?>"></i></td>
                              </tr>
                            <?php  }
                            $i++;
                          } ?>
                        </tbody>
                      </table>
                    </div>
                  </section>
                </div>
              </div>
              <div class="cards">
                <div class="d-sm-flex justify-space-between">
                  <section class="card card--variant"><svg viewBox="0 0 469.333 469.333">
                    <path d="M277.333,89.144V52.607C277.333-17.536,0-17.536,0,52.607v213.706c0,27.574,43.163,44.763,95.089,50.874 C76.096,325.705,64,337.211,64,351.795v64.112c0,35.072,69.76,53.426,138.667,53.426s138.667-18.355,138.667-53.426v-32.233 c65.254-1.794,128-19.988,128-53.249V138.09C469.333,93.808,358.837,77.515,277.333,89.144z M138.667,21.333 c75.917,0,117.333,21.135,117.333,32c0,10.865-41.417,32-117.333,32s-117.333-21.135-117.333-32 C21.333,42.469,62.75,21.333,138.667,21.333z M21.333,83.016c25.883,15.578,71.73,23.651,117.333,23.651 S230.117,98.594,256,83.016v10.6c-37.069,8.221-64,23.234-64,45.051v6.311c-16.717,2.682-34.762,4.355-53.333,4.355 c-75.917,0-117.333-21.135-117.333-32V83.016z M213.333,296.349c2.03,1.221,4.142,2.408,6.409,3.536 c-2.135-0.089-4.266-0.176-6.409-0.232V296.349z M21.333,147.016c25.883,15.578,71.73,23.651,117.333,23.651 c18.464,0,36.411-1.658,53.333-4.186v53.164c-16.717,2.682-34.762,4.355-53.333,4.355c-75.917,0-117.333-21.135-117.333-32 V147.016z M21.333,266.667v-44.984c25.883,15.578,71.73,23.651,117.333,23.651c18.464,0,36.411-1.658,53.333-4.186v53.164 c-16.717,2.682-34.762,4.355-53.333,4.355C62.75,298.667,21.333,277.531,21.333,266.667z M320,416c0,10.865-41.417,32-117.333,32 S85.333,426.865,85.333,416v-34.318c25.883,15.578,71.73,23.651,117.333,23.651c43.652,0,87.587-7.378,113.971-21.669 c1.108,0.042,2.249,0.047,3.362,0.081V416z M202.667,384c-75.917,0-117.333-21.135-117.333-32c0-10.865,41.417-32,117.333-32 S320,341.135,320,352C320,362.865,278.583,384,202.667,384z M448,330.667c0,10.324-37.796,29.708-106.667,31.63V352 c0-13.327-10.085-24.099-26.353-32.353c5.216,0.211,10.448,0.353,15.686,0.353c45.603,0,91.451-8.073,117.333-23.651V330.667z M448,266.667c0,10.865-41.417,32-117.333,32s-117.333-21.135-117.333-32v-34.318C239.216,247.927,285.064,256,330.667,256 c45.603,0,91.451-8.073,117.333-23.651V266.667z M448,202.667c0,10.865-41.417,32-117.333,32s-117.333-21.135-117.333-32v-34.318 C239.216,183.927,285.064,192,330.667,192c45.603,0,91.451-8.073,117.333-23.651V202.667z M330.667,170.667 c-75.917,0-117.333-21.135-117.333-32s41.417-32,117.333-32S448,127.802,448,138.667S406.583,170.667,330.667,170.667z" /></svg>
                    <div>
                      <h2 class="card__title"><?php echo $this->tr->_("Saques"); ?>
                      </h2>
                      <h3 class="card__subtitle"><?php echo $this->tr->_("Faça o saque de seus rendimentos"); ?>
                      </h3><a href="<?php echo LINK_OFFICE; ?>/withdraw" class="btn btn--variant"><?php echo $this->tr->_("Sacar"); ?>
                        <i class="mdi mdi-arrow-right"></i></a>
                      </div>
                    </section>
                    <section id="quotations">
                      <!-- TradingView Widget BEGIN -->
                      <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget"></div>
                        <!--div class="tradingview-widget-copyright"><a href="https://br.tradingview.com/markets/cryptocurrencies/" rel="noopener" target="_blank"><span class="blue-text">Preços de Bitcoin e Altcoin</span></a> por TradingView</div-->

                        <?php $visaoGeral = $this->tr->_("Visão Geral"); ?>

                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                          {
                            "title": "Criptomoedas",
                            "title_raw": "Cryptocurrencies",
                            "tabs": [
                            {
                              "title": "<?php echo $visaoGeral; ?>",
                              "title_raw": "Overview",
                              "symbols": [
                              {
                                "s": "BITSTAMP:BTCUSD"
                              },
                              {
                                "s": "BITSTAMP:ETHUSD"
                              },
                              {
                                "s": "BITSTAMP:XRPUSD"
                              },
                              {
                                "s": "COINBASE:BCHUSD"
                              },
                              {
                                "s": "COINBASE:LTCUSD"
                              },
                              {
                                "s": "BITFINEX:IOTUSD"
                              }
                              ],
                              "quick_link": {
                                "title": "Mais Criptomoedas",
                                "href": "/markets/cryptocurrencies/prices-all/"
                              }
                            },
                            {
                              "title": "Bitcoin",
                              "title_raw": "Bitcoin",
                              "symbols": [
                              {
                                "s": "BITSTAMP:BTCUSD"
                              },
                              {
                                "s": "COINBASE:BTCEUR"
                              },
                              {
                                "s": "COINBASE:BTCGBP"
                              },
                              {
                                "s": "BITFLYER:BTCJPY"
                              },
                              {
                                "s": "CEXIO:BTCRUB"
                              },
                              {
                                "s": "CME:BTC1!"
                              }
                              ],
                              "quick_link": {
                                "title": "Mais pares de Bitcoin",
                                "href": "/markets/cryptocurrencies/prices-bitcoin/"
                              }
                            },
                            {
                              "title": "XRP",
                              "title_raw": "XRP",
                              "symbols": [
                              {
                                "s": "BITSTAMP:XRPUSD"
                              },
                              {
                                "s": "KRAKEN:XRPEUR"
                              },
                              {
                                "s": "KORBIT:XRPKRW"
                              },
                              {
                                "s": "BITSO:XRPMXN"
                              },
                              {
                                "s": "BINANCE:XRPBTC"
                              },
                              {
                                "s": "BITTREX:XRPETH"
                              }
                              ],
                              "quick_link": {
                                "title": "Mais pares de Ripple",
                                "href": "/markets/cryptocurrencies/prices-xrp/"
                              }
                            },
                            {
                              "title": "Ethereum",
                              "title_raw": "Ethereum",
                              "symbols": [
                              {
                                "s": "COINBASE:ETHUSD"
                              },
                              {
                                "s": "KRAKEN:ETHEUR"
                              },
                              {
                                "s": "KRAKEN:ETHGBP"
                              },
                              {
                                "s": "KRAKEN:ETHJPY"
                              },
                              {
                                "s": "POLONIEX:ETHBTC"
                              },
                              {
                                "s": "KRAKEN:ETHXBT"
                              }
                              ],
                              "quick_link": {
                                "title": "Mais pares de Ethereum",
                                "href": "/markets/cryptocurrencies/prices-ethereum/"
                              }
                            },
                            {
                              "title": "Bitcoin Cash",
                              "title_raw": "Bitcoin Cash",
                              "symbols": [
                              {
                                "s": "COINBASE:BCHUSD"
                              },
                              {
                                "s": "BITSTAMP:BCHEUR"
                              },
                              {
                                "s": "CEXIO:BCHGBP"
                              },
                              {
                                "s": "BITSTAMP:BCHBTC"
                              },
                              {
                                "s": "HITBTC:BCHETH"
                              },
                              {
                                "s": "KRAKEN:BCHXBT"
                              }
                              ],
                              "quick_link": {
                                "title": "Mais pares de Bitcoin dinheiro",
                                "href": "/markets/cryptocurrencies/prices-bitcoin-cash/"
                              }
                            }
                            ],
                            "title_link": "/markets/cryptocurrencies/prices-all/",
                            "width": 258,
                            "height": 300,
                            "showChart": false,
                            "locale": "br",
                            "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                            "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                            "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
                            "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
                            "gridLineColor": "#F0F3FA",
                            "scaleFontColor": "rgba(120, 123, 134, 1)",
                            "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
                            "colorTheme": "light"
                          }
                        </script>
                      </div>
                      <!-- TradingView Widget END -->
                    </section>
                  </div>
                  <div class="d-sm-flex justify-space-between align-center">
                    <section id="talk-to-us" class="card"><a href="<?php echo LINK_OFFICE; ?>/contact" class="d-flex justify-space-between align-center"><svg class="color-1" viewBox="0 0 512.000000 512.000000">
                      <g fill="currentColor" transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)">
                        <path d="M2062 4629 c-231 -28 -487 -130 -677 -271 -90 -66 -236 -213 -302 -302 -156 -212 -250 -460 -275 -726 -14 -155 -8 -193 41 -241 60 -60 149 -65 212 -12 41 35 59 79 59 145 1 269 127 565 325 763 179 179 400 289 650 325 39 5 248 10 465 10 217 0 427 -5 465 -10 250 -36 469 -145 645 -320 175 -176 284 -395 320 -645 5 -38 10 -195 10 -347 l0 -278 -108 0 c-65 0 -131 -6 -167 -15 -172 -45 -305 -179 -350 -352 -22 -86 -22 -1102 0 -1188 47 -178 197 -321 374 -355 70 -13 432 -13 502 0 184 35 345 196 379 379 6 31 10 272 10 580 0 571 -1 585 -56 693 -35 70 -135 168 -206 202 l-56 27 -5 347 c-4 298 -8 361 -25 442 -108 512 -469 921 -957 1085 -193 66 -216 68 -730 71 -258 1 -503 -2 -543 -7z m2184 -2255 c15 -11 37 -33 48 -48 21 -27 21 -38 21 -566 0 -528 0 -539 -21 -566 -51 -68 -53 -69 -294 -69 -241 0 -243 1 -294 69 -20 27 -21 40 -24 539 -2 282 0 526 3 544 3 18 18 47 32 64 47 55 67 59 295 56 191 -2 209 -4 234 -23z" />
                        <path d="M841 2704 c-169 -45 -301 -180 -346 -351 -22 -86 -22 -1102 0 -1188 47 -178 197 -321 374 -355 30 -5 104 -10 165 -10 l112 0 27 -56 c59 -120 197 -226 330 -254 35 -7 226 -10 584 -8 519 3 532 3 559 24 53 39 69 71 69 134 0 63 -16 95 -69 134 -27 20 -42 21 -565 26 -492 5 -539 6 -564 23 -15 9 -27 19 -27 21 0 1 22 17 49 35 62 39 135 120 167 183 53 104 54 121 54 689 0 316 -4 548 -10 580 -34 177 -177 327 -355 374 -81 21 -475 20 -554 -1z m525 -330 c15 -11 37 -33 48 -48 21 -27 21 -38 21 -566 0 -528 0 -539 -21 -566 -51 -68 -53 -69 -294 -69 -241 0 -243 1 -294 69 -20 27 -21 40 -24 539 -2 282 0 526 3 544 3 18 18 47 32 64 47 55 67 59 295 56 191 -2 209 -4 234 -23z" />
                      </g>
                    </svg>
                    <h2 class="card__title"><?php echo $this->tr->_("Fale conosco"); ?>
                    </h2><i class="mdi mdi-arrow-right color-1"></i>
                  </a></section>
                  <!--section id="safebux" class="card bg-1 color-2"><a href="./safebux.html" class="d-flex align-center justify-space-between"><img src="/public/assets/img/safebux.png" alt="Logomarca da Safebux"> <i class="mdi mdi-arrow-right"></i></a></section-->
                </div>
              </div>
            </div>

            <script>

              jQuery('.numbersOnly').keyup(function () { 
                this.value = this.value.replace(/[^0-9]/g,'');
              });

              $(document).ready(function() {
                $('#simulate').click(function() {
                  val = $('#valueSimulate').val();

                  if(val>=100){

                    profit = val * 0.84;
                    $('#result').show();
                    $('#promotional').hide();
                    $('#message').hide();
                    $('#rst').show();
                    $('#d-flex').show();
                    $(".rst").html("<option style='color:green'>USDT " + profit + ".00</option>");

                  }else{
                    $('#result').show();
                    $('#message').show();
                    $('#rst').hide();
                    $('#d-flex').hide();
                    $("#message").html("<span style='font-size: .725rem;' class='color-danger'>Valor simulado deve ser maior ou igual USDT 100.00</span>");
                    $('#valueSimulate').focus();
                  }

                });
                $('.close').click(function() {
                  $('#result').hide();
                  $('#promotional').show();

                });
              });

            </script>