<?php

$msg                  = $this->msg;
$msgSucess             = $this->msgSucess;
$msgPlan              = $this->msgPlan;
$msgSucessPlan         = $this->msgSucessPlan;
$descricaoPkg          = $this->descricaoPkg;
$tituloPag             = $this->tituloPag;
$descricaoPkgPlan       = $this->descricaoPkgPlan;
$tituloPagPlan         = $this->tituloPagPlan;
$user                = $this->User;
$sqlPed                = $this->sqlPed;
$sqlPedPlan            = $this->sqlPedPlan;
$package               = $this->package;
$valorPkg              = $this->valorPkg;
$prodPkgMax            = $this->prodPkgMax;
$ordemPkg              = $this->ordemPkg;
$invoiceNotCanceled      = $this->invoiceNotCanceled;
$invoice          = $this->invoice;
$qtdePlanos          = $this->qtdePlanos;

?>


<h1 class="title"><?php echo $this->tr->_("locar"); ?></h1>
<div class="card">
  <section class="group" id="details">
    <div>
      <?php if (!empty($msgPlan)) { ?>
        <p style="color: #FF0000"><strong><?php echo $this->tr->_("ERRO:"); ?> <?= $msgPlan ?></strong></p>
      <?php } ?>
      <?php if (!empty($msgSucessPlan)) { ?>
        <p style="color: #00A00D"><strong><?= $msgSucessPlan ?></strong></p>
      <?php } ?>
    </div>
    <h2 class="subtitle"><?php echo $this->tr->_("Faça seu pedido"); ?></h2>
    <div class="d-sm-flex justify-space-between">
      <form method="post" action="<?php echo LINK_OFFICE; ?>/buy" onsubmit="return confirm('<?php echo $this->tr->_("Confirmar pedido?"); ?>');">
        <input type="hidden" value="1" name="order">
        <h3 class="card__subtitle"><?php echo $this->tr->_("Locação de ativos"); ?></h3>
        <select name="period_income" required="required" class="input">
          <option value="12" selected="selected"><?php echo $this->tr->_("12 meses"); ?> -> <?php echo $this->tr->_("5% a.m."); ?> +2%</option>
        </select>
        <div class="d-flex">
          <input type="text" name="value" id="value" placeholder="<?php echo $this->tr->_("Valor"); ?> USDT" class="numbersOnly input" maxlength="20" required="required" pattern="[0-9]+$">
          <button class="btn" type="submit"><?php echo $this->tr->_("locar"); ?> <i class="mdi mdi-arrow-right"></i></button></div>
      </form>
      <form>
        <div id="promotional">
          <h3 class="card__subtitle"><?php echo $this->tr->_("Promoção"); ?></h3>
          <p class="color-success"><?php echo $this->tr->_("+ 2% a.m."); ?></p>
          <p class="color-purple"><?php echo $this->tr->_("rentabilidade extra"); ?></p>
          <div id="d-flex" class="d-flex">
            <p style="font-size: 12px;" class="color-purple">*<?php echo $this->tr->_("Campanha válida até 31 de julho"); ?></p>
          </div>
        </div>
      </form>
      <form></form>
    </div>
  </section>
  <section class="group">
  <?php 
    if($this->userCountry == 'KR')
    {
      $termos = LINK_OFFICE.'/public/docs/termos-e-condicoes-de-uso-korea.pdf';
      $cessao = LINK_OFFICE.'/public/docs/contrato-de-cessao-temporaria-korea.pdf';
    }
    elseif($this->userCountry == 'BR')
    {
      $termos = LINK_OFFICE.'/public/docs/termos-e-condicoes-de-uso.pdf';
      $cessao = LINK_OFFICE.'/public/docs/contrato-de-cessao-temporaria.pdf';
    }
    else
    { 
      $termos = LINK_OFFICE.'/public/docs/termos-e-condicoes-de-uso-international.pdf';
      $cessao = LINK_OFFICE.'/public/docs/contrato-de-cessao-temporaria-international.pdf';
      
    } 
  ?>
    <div>
    <p><?php echo str_replace('$termos', $termos, str_replace('$cessao', $cessao,$this->tr->_('Ao clicar no botão "Locar" acima'))); ?></p>
    </div>
  </section>
</div>


<script>
  jQuery('.numbersOnly').keyup(function() {
    this.value = this.value.replace(/[^0-9]/g, '');
  });
</script>