<?php

$msg                  = $this->msg;
$msgSucess             = $this->msgSucess;
$msgPlanMiner           = $this->msgPlan;
$msgSucessPlan         = $this->msgSucessPlan;
$msgPlan              = $this->msgPlan;
$msgSucessPlan         = $this->msgSucessPlan;
$descricaoPkg          = $this->descricaoPkg;
$tituloPag             = $this->tituloPag;
$descricaoPkgPlan       = $this->descricaoPkgPlan;
$tituloPagPlan         = $this->tituloPagPlan;
$user                = $this->User;
$sqlPed                = $this->sqlPed;
$sqlPedPlanMiner       = $this->sqlPedPlanMiner;
$sqlPedPlanTrader       = $this->sqlPedPlanTrader;
$package               = $this->package;
$valorPkg              = $this->valorPkg;
$prodPkgMax            = $this->prodPkgMax;
$ordemPkg              = $this->ordemPkg;
$invoiceNotCanceled      = $this->invoiceNotCanceled;
$invoice          = $this->invoice;
$qtdePlanosMiner      = $this->qtdePlanosMiner;
$qtdePlanosTrader      = $this->qtdePlanosTrader;

?>

<h1 class="title"><?php echo $this->tr->_("faturas"); ?></h1>
<div class="card">
  <section class="group">
    <h2 class="subtitle"><?php echo $this->tr->_("Saldo"); ?></h2>
    <div id="total">
      <h3 class="card__subtitle"><?php echo $this->tr->_("Saldo disponível"); ?></h3>
      <h6 class="value"><?= "USDT " . number_format($this->availableBalance, 2, ',', '.'); ?></h6>
    </div>
  </section>
  <section class="group" id="details">
    <h2 class="subtitle"><?php echo $this->tr->_("faturas"); ?></h2>
    <div class="table-striped-container">
      <p id="message"></p>
      <table>
        <thead>
          <tr>
            <th><?php echo $this->tr->_("fatura"); ?></th>
            <th><?php echo $this->tr->_("descricao"); ?></th>
            <th><?php echo $this->tr->_("Expira em"); ?></th>
            <th><?php echo $this->tr->_("Confirmado em"); ?></th>
            <th><?php echo $this->tr->_("Valor"); ?></th>
            <th><?php echo $this->tr->_("Pagamento"); ?></th>
            <th><?php echo $this->tr->_("Cancelar"); ?></th>
          </tr>
        </thead>
        <tbody>
          <?php

          foreach ($invoice as $rowFinanceiro) {

            $dataPagamento  = substr($rowFinanceiro["fat_dataPagamento"], 0, 10);
            $dataVencimento = $rowFinanceiro["fat_dataVencimento"];
            $descricao = $rowFinanceiro['fat_descricao'];

            echo "<tr>";

            //Se a fatura estiver paga
            if ($rowFinanceiro["fat_status"] == "2") {

          ?>
                <td><?php echo $rowFinanceiro["fat_id"]; ?></td>
                <td><?php echo $this->tr->_("$descricao"); ?></td>
                <td><?php echo implode('/', array_reverse(explode('-', $dataVencimento))); ?></td>
                <td><?php echo implode('/', array_reverse(explode('-', $dataPagamento))); ?></td>
                <td><?php echo "USDT  " . number_format($rowFinanceiro["fat_valor"], 2, ',', '.'); ?></td>
                <td>
                  <font style="color:#090;">
                    <?php if ($rowFinanceiro["fat_produto"] == 6) { ?>
                      <?php echo $this->tr->_("Automatico"); ?>
                    <?php } else { ?>
                      <?php echo $this->tr->_("Confirmado"); ?>
                    <?php } ?>
                  </font>
                </td>
                <td></td>

              <?php
            } //Se a fatura foi cancelada
            elseif ($rowFinanceiro["fat_status"] == "0") {
              ?>
                <td><?php echo $rowFinanceiro["fat_id"]; ?></td>
                <td><?php echo $this->tr->_("$descricao"); ?></td>
                <td><?php echo implode('/', array_reverse(explode('-', $dataVencimento))); ?></td>
                <td><?php echo $this->tr->_("Cancelado"); ?></td>
                <td><?php echo "USDT  " . number_format($rowFinanceiro["fat_valor"], 2, ',', '.'); ?></td>
                <td><?php echo $this->tr->_("Cancelado"); ?></td>
                <td><?php echo $this->tr->_("Cancelado"); ?></td>
              <?php
            } //Se a fatura não foi paga e nem cancelada, a fatura está aberta
            else {
              ?>
                <td><?php echo $rowFinanceiro["fat_id"]; ?></td>
                <td><?php echo $this->tr->_("$descricao"); ?></td>
                <td><?php echo implode('/', array_reverse(explode('-', $dataVencimento))); ?></td>
                <td></td>
                <td>
                  <div><?php echo "USDT  "; ?><span id="value"><?php echo number_format($rowFinanceiro["fat_valor"], 2, ',', '.'); ?></span></div>
                </td>
                <td>
                  <?php

                  //Se o contrato naõ foi gerado
                  if ($rowFinanceiro["fat_contrato"] == 0 && $this->userCountry == 'BR') {
                  ?>
                    <form action="#" id="contract_invoice_<?php echo $rowFinanceiro["fat_id"]; ?>" method="post" onsubmit="return generateContract(<?php echo $rowFinanceiro["fat_id"]; ?>)">
                      <button type="submit" class="btn-option"><?php echo $this->tr->_("Gerar contrato"); ?></button>
                    </form>
                  <?php
                  } //Se foi gerado e falta assinar
                  elseif ($rowFinanceiro["fat_contrato"] == 1 && $this->userCountry == 'BR') {
                  ?>
                    <span class="btn-option"><?php echo $this->tr->_("Aguardando assinatura do contrato por email"); ?></span>
                
                      <?php if($embed==1){ ?>
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
                      <script src='/public/assets/js/d4sign.js' type='text/javascript'></script>
                      <script>                      
                      d4sign.configure({
                          container: "signature-div",
                          key: "<?php echo $rowFinanceiro['fat_contrato_id'] ?>",
                          protocol: "https",
                          host: "secure.d4sign.com.br/embed/viewblob",
                          signer: {
                              email: "<?php echo $this->email; ?>",
                              display_name: "<?php echo $this->name; ?>", //optional,
                              documentation: "<?php echo $this->cpf; ?>", //optional,
                              birthday: "<?php echo $this->birth; ?>", //optional,
                              disable_preview: "0", //optional
                              key_signer: "<?php echo $rowFinanceiro['fat_key_signer'] ?>"
                          },
                          width: '1025',
                          height: '400',
                          callback: function(event) {
                            if (event.data === "signed") {
                              alert('<?php echo $this->tr->_("Contrato assinado, sua fatura será paga automaticamente!"); ?>');
                              payInvoice(<?php echo $rowFinanceiro["fat_id"]; ?>);
                            }
                          }
                      });
                      </script>
                      <?php } ?>
                  <?php
                  } //Se o contrato já foi assinado ou o usuário é da Korea
                  elseif ($rowFinanceiro["fat_contrato"] == 2 || $this->userCountry == 'KR') {
                  ?>
                    <form action="#" id="pay_invoice_<?php echo $rowFinanceiro["fat_id"]; ?>" method="post" onsubmit="return payInvoice(<?php echo $rowFinanceiro["fat_id"]; ?>)">
                      <button type="submit" class="btn-option"><?php echo $this->tr->_("Pagar"); ?></button>
                    </form>
                  <?php
                  } //Se o contrato já foi assinado
                  elseif ($rowFinanceiro["fat_contrato"] == 4) {
                  ?>
                  <span class="btn-option"><?php echo $this->tr->_("Erro ao gerar contrato, contate o suporte!"); ?></span>

                  <?php } ?>
                </td>
                <td>
                  <?php

                  if ($rowFinanceiro["fat_limite"] == 1) {
                  ?>
                    &nbsp;
                  <?php
                  } else {
                    $idfatura = $rowFinanceiro["fat_id"];

                  ?>
                    <form name="<?php echo 'formCancel' . $rowFinanceiro["fat_id"]; ?>" id="<?php echo 'formCancel' . $rowFinanceiro["fat_id"]; ?>" action="" method="post" onsubmit="return confirm('<?php echo $this->tr->_("Cancelar pedido?"); ?>');">
                      <input type="hidden" value="<?php echo $rowFinanceiro["fat_id"]; ?>" name="cancIdFatura" />
                      <input type="hidden" value="<?php echo $user; ?>" name="cancUser" />
                      <input type="hidden" value="1" name="cancel" />
                      <button type="submit" class="btn-option color-danger"><?php echo $this->tr->_("Cancelar"); ?></button>
                    </form>
                  <?php } ?>
                </td>
              <?php } ?>
              </tr>
        <?php } ?>
        </tbody>
      </table>
    </div>
  </section>
  <section class="group">
    <div>
    <p><a href="<?php echo LINK_OFFICE; ?>/public/docs/<?php if($this->userCountry == 'KR'){ echo 'termos-e-condicoes-de-uso-korea.pdf'; }elseif($this->userCountry == 'BR'){ echo 'termos-e-condicoes-de-uso.pdf';}else{ echo 'termos-e-condicoes-de-uso-international.pdf'; } ?>" target="_blank" style="color:blue"><?php echo $this->tr->_('Termos e Condições'); ?></a> | <a href="<?php echo LINK_OFFICE; ?>/public/docs/<?php if($this->userCountry == 'KR'){ echo 'contrato-de-cessao-temporaria-korea.pdf'; }elseif($this->userCountry == 'BR'){ echo 'contrato-de-cessao-temporaria.pdf';}else{ echo 'contrato-de-cessao-temporaria-international.pdf'; } ?>" target="_blank" style="color:blue"><?php echo $this->tr->_("Contrato de Cessão Temporária de Protocolos Digitais Criptoativos"); ?></a>.</p>
    </div>
  </section>
</div>

<script type="text/javascript" src="/public/js/jquery.maskMoney.min.js"></script>

<script type="text/javascript">

  function payInvoice(invoice) {

    if (confirm("<?php echo $this->tr->_("Você confirma o pagamento desta fatura?"); ?>")) {

      // if ($("#payInv_pin_"+invoice).val() != "") {

      $("#message").html('<img src="/public/images/loading-icon.gif" style="border:none;" class="loading">');

      $.post('<?php echo LINK_OFFICE; ?>/buy/payinvoice',

        {

          pay_invoice: invoice,

          payInv_pin: $("#payInv_pin_" + invoice).val()

        },

        function(data)

        {

          if (data == "paid") {

            $("#message").hide();

            alert("<?php echo $this->tr->_("Fatura paga!"); ?>");

            location.reload();

          } else {

            $("#message").html("<p style='color:red'>" + data + "</p>");

            $("#message").show();

          }

        });

    }
    return false;
  }

  //Generate contract
  function generateContract(invoice) {

    if (confirm("<?php echo $this->tr->_("Gerar contrato?"); ?>")) {

      //$("#message").html('<img src="/public/images/loading-icon.gif" style="border:none;" class="loading">');

      $("#contract_invoice_"+invoice).html('<img src="/public/images/loading-icon.gif" style="border:none;" class="loading">');

      $.post('<?php echo LINK_OFFICE; ?>/buy/generatecontract', {
          invoice: invoice
        },

        function(data) {

          if (data == 1) {

            //$("#message").hide();
            
            $("#contract_invoice_"+invoice).hide();

            alert("<?php echo $this->tr->_("contrato_gerado_assine"); ?>");

            location.reload();

          } else {

            $("#message").html("<p style='color:red'>" + data + "</p>");

            $("#message").show();

          }



        });

    }
    return false;

  }
</script>