<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <div class="row">
          <div class="col-xs-12">
            <div class="mini-breadcrumb color_gray text-white text-upper">
              <p>
                Tree View
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="padding-top:10px;padding-bottom:10px">
                <input type="button" onclick="javascript:tree('');" name="top" value="Top" class="btn" />
                <input type="button" onclick="#" name="uplevel" id="uplevel" value="Up Level" class="btn" />
                <div class="form" style="float:right">
                <input type="text" name="search" id="search" class="ui-autocomplete-input" placeholder="Search...[username,name,last name]"  />
                </div>

          </div>
        </div> 
        <div class="row"> 
			<div class="col-xs-12" style="min-height:400px">
                <div class="row">
                    <div id="message"></div>
                </div>
                <div class="row" id="rede">
                    <div id="chart_div" style="overflow-x:scroll"></div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="padding-top:10px; padding-bottom:10px;">
                <input type="button" onclick="#" name="bottom_left" id="bottom_left" value="Bottom Left" class="btn" />
                <input type="button" onclick="#" name="bottom_right" id="bottom_right" value="Bottom Right" class="btn" />
          </div>
        </div> 
        <div class="row">
          <div class="col-xs-12">
            <div class="mini-breadcrumb color_gray text-white text-upper">
              <p>
                Partner Information
              </p>
            </div>
          </div>
        </div> 
		<div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="color_lightlightgray retangle">
              <p>First Name:</p>
              <h3 id="name">&nbsp;</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="color_lightlightgray retangle">
              <p>Last Name</p>
              <h3 id="last_name">&nbsp;</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="color_lightlightgray retangle">
              <p>Sponsor</p>
              <h3 id="sponsor">&nbsp;</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="color_lightlightgray retangle">
              <p>Username</p>
              <h3 id="username">&nbsp;</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="color_lightlightgray retangle">
              <p>Account:</p>
              <h3 id="user">User</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="color_lightlightgray retangle">
              <p>Title:</p>
              <h3 id="title">&nbsp;</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <div class="color_lightlightgray retangle">
              <p>Email:</p>
              <h3 id="email">&nbsp;</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="color_lightlightgray retangle">
              <p>Cell Phone:</p>
              <h3 id="cell_phone">&nbsp;</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <div class="color_lightlightgray retangle">
              <p>Partners [Left]:</p>
              <div id="load" style="display:none;"><img src="/public/images/loading.gif" border="0"></div>
              <h3 id="leg_left"><a id="leg_left_lnk" href="javascript:void(0);" onclick="#">[Click Here]</a></h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <div class="color_lightlightgray retangle">
              <p>Partners [Right]:</p>
              <div id="load2" style="display:none;"><img src="/public/images/loading.gif" border="0"></div>
              <h3 id="leg_right"><a id="leg_right_lnk" href="javascript:void(0);" onclick="#">[Click Here]</a></h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="color_lightlightgray retangle">
              <p>Registered [dd/mm/yyyy]:</p>
              <h3 id="registered">&nbsp;</h3>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="color_lightlightgray retangle">
              <p>Country:</p>
              <h3 id="country">&nbsp;</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" >
          &nbsp;
          </div>
        </div> 
<script type="text/javascript"> 


function verifyCount(codeleg)
{

	$("#leg_right").hide();
	$("#leg_left").hide();
	$("#load").show();
	$("#load2").show();
	$.post('<?php echo LINK_OFFICE; ?>/treeview/countlegs',
	{
		code : codeleg
	},
	function(data)
	{
		var ret = data.split("|$|");
		$("#load").hide();
		$("#load2").hide();
		$("#leg_right").show();
		$("#leg_left").show();
		$("#leg_left").html(ret[0]);
		$("#leg_right").html(ret[1]);

	});
}

var TipoNavegador = navigator.appName;

function search(evento)
{
	if (TipoNavegador=="Netscape") { if (evento.which == 13) { $(".bt_search").click(); } } else { if (evento.keyCode == 13) { $(".bt_search").click(); } }
}

</script>


<script>
google.charts.load('current', {packages:["orgchart"]});
google.charts.setOnLoadCallback(tree);

function tree(id) {
	$('#chart_div').html('<img src="/public/images/loading-icon.gif" class="loading">');
	var data = new google.visualization.DataTable();
	var url = "";
	data.addColumn('string', 'Name');
	data.addColumn('string', 'Manager');
	data.addColumn('string', 'ToolTip');

	if ($(window).width() <= 992) {
    	max = 2;
	} else {
		max = 4;
	}
	var inf;
	$.ajax({
		url: "<?php echo LINK_OFFICE; ?>/treeview/downlineg",
		beforeSend: function(){
			$('#chart_div').html('<img src="/public/images/loading-icon.gif" class="loading">');
		},
		data: {'user': id, 'max': max},
		type:'post',
		async: false,
		dataType: 'json'
    }).done(function(json){
	    inf = json['arr'];
		
	    //$("#uplevel").prop("href", "javascript:tree('"+json['dad']+"')");
		$("#uplevel").attr('onclick', "javascript:tree('"+json['dad']+"')");
	    if (json['lastIdLegLeft'] > 0) {
	    	$("#bottom_left").attr('onclick', "javascript:tree('"+json['lastIdLegLeft']+"')");
	    } else {
	    	$("#bottom_left").attr('onclick', "#");
	    }

	    if (json['lastIdLegRight'] > 0) {
	    	$("#bottom_right").attr('onclick', "javascript:tree('"+json['lastIdLegRight']+"')");
	    } else {
	    	$("#bottom_right").attr('onclick', "#");
	    }

		
	    $.post('<?php echo LINK_OFFICE; ?>/treeview/userdata',{code : id},
		function(d)
		{

			$("#name").html(d.name);
			$("#last_name").html(d.last_name);
			$("#username").html(d.username);
			$("#sponsor").html(d.username_sponsor);
			$("#package").html(d.package);
			$("#title").html(d.title);
			$("#email").html(d.email);
			$("#cell_phone").html(d.cell_phone);
			$("#registered").html(d.registered);
			$("#country").html(d.country);
			$("#leg_right").html('<a id="leg_right_lnk" href="javascript:void(0);" onclick="#">[Click Here]</a>');
			$("#leg_left").html('<a id="leg_left_lnk" href="javascript:void(0);" onclick="#">[Click Here]</a>');
			$("#leg_left_lnk").attr('onclick', "verifyCount('"+d.id+"');");
			$("#leg_right_lnk").attr('onclick', "verifyCount('"+d.id+"');");
		});

		data.addRows(inf);
		// Create the chart.
		var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
		// Draw the chart, setting the allowHtml option to true for the tooltips.
		chart.draw(data, {allowHtml:true});
	});
}
tree('');
</script>
<script>
$(function() {


    // Dispara o Autocomplete a partir do segundo caracter
    $( "#search" ).autocomplete({
	    minLength: 3,
	    source: function( request, response ) {
	        $.ajax({
	            url: "<?php echo LINK_OFFICE; ?>/treeview/ajaxsearch",
	            dataType: "json",
	            data: {
	            	action: 'autocomplete',
	                src: $('#search').val()
	            },
	            success: function(data) {
	               response(data);
	            }
	        });
	    },
	    focus: function( event, ui ) {
	        //$("#search").val( ui.item.usr_login_id );
	        return false;
	    },
	    select: function( event, ui ) {
	        $("#search").val( ui.item.usr_login_id );
	        return false;
	    }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
		var name = '';
		var last_name = '';
		if(item.usr_name!=null){ var name = item.usr_name;}
		if(item.usr_last_name!=null){ var last_name = item.usr_last_name;}
		
      return $( "<li>" )
        .append( "<a href='javascript:tree(" + item.usr_id + ");'><b>[" + item.usr_login_id + "] " + name + " " + last_name + " </b></a>" )
        .appendTo( ul );
    };


});
</script>