<style>
* {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
#showResult {
	font-size: 11px;
}
#showResult a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}
.btn_search {
	width : 30px;
	height : 30px;
	background : url(/public/images/btn_search.jpg) no-repeat;
	position : absolute;
	left : 200px;
}
</style>


<div style="padding: 10px;min-height:320px; background-color:#FFF; border:1px solid #EEEEEE"> <strong>Search</strong><br>
  <input type="text" id="search" name="search" value="" class="search" size="30" >
  <a href="javascript:void(0);" class="btn_search"></a>
  <div id="showResult"> </div>
  <img src="/public/images/loading-icon.gif" style=" border: none; margin-left: 30px; float: left; margin-top: 50px; display:none; " class="loading2">
</div>

<script type="text/javascript" src="/public/js/jquery-1.8.2.js"></script>
<script type="text/javascript">

	var parentBody = window.parent.document.body;
	$(".btn_search").click(function()
	{
		if ($('#search').val() != "")
		{
			$("#showResult").empty();
			$(".loading2").show();
			$("#mask", parentBody).show();
			$.post('<?php echo LINK_OFFICE; ?>/treeview/ajaxsearch',
			{
				
				src : $('#search').val()
			},
			function(data)
			{
					var retorno = data.split("|$|");
					
					$(".loading2").css({"display":"none"});
					$("#mask", parentBody).hide();
					if (retorno[0] == "localizado")
					{
						searchCod(retorno[1]);
					}
					else
					{
						$("#showResult").html(data);
					}
			});
		}
		else
		{
			alert("Field blank!");
		}
	});
	
	function searchCod(cod)
	{
		$(".loading2", parentBody).show();
		$("#mask", parentBody).show();
		$.post('<?php echo LINK_OFFICE; ?>/treeview/downline',
		{
			code : cod,
			codeOfc : $("#codeOfc", parentBody).val()
		},
		function(data)
		{
			if (data != "cancelar")
			{
				$('#chatboxclose', parentBody).click();
				public(data);
			}
			else
			{
				$(".loading2").css({"display":"none"});
				$("#mask", parentBody).hide();
			}
		});
	}
	
	function public(data)
	{
		var retorno = data.split("|$|");
		$("#content_center", parentBody).html(retorno[0]);
		$("#content_listag", parentBody).html(retorno[1]);
		$("#information", parentBody).html(retorno[2]);
		$(".loading2").css({"display":"none"});
		$("#resniv2", parentBody).hide();
		$("#resniv1", parentBody).show();
		$('.pesqs', parentBody).hide();
		$("#mask", parentBody).hide();
	}

	function downline(codigo, e)
	{
		var parentBody = window.parent.document.body;
		if(e.button == 2)
		{
			$.post('<?php echo LINK_OFFICE; ?>/treeview/informacoes',
			{
				code : codigo,
				codeOfc : $("#codeOfc", parentBody).val()
			},
			function(data)
			{
				$("#informacoes", parentBody).html(data);
			});
		}
		else
		{
			//alert(codigo);
			$(".loading2", parentBody).show();
			$("#mask", parentBody).show();
			$.post('<?php echo LINK_OFFICE; ?>/treeview/downline',
			{
				code : codigo,
				codeOfc : $("#codeOfc", parentBody).val()
			},
			function(data)
			{
				
				if (data != "cancelar")
				{
					//alert(data);
					publico(data);
				}
				else
				{
					$(".loading2").css({"display":"none"});
					$("#mask", parentBody).hide();
				}
			});
		}
	}
	function publico(data)
	{
		var parentBody = window.parent.document.body;
		var retorno = data.split("|$|");
		$("#content_center", parentBody).html(retorno[0]);
		$("#content_listag", parentBody).html(retorno[1]);
		$("#information", parentBody).html(retorno[2]);
		$(".loading2").css({"display":"none"});
		$("#resniv2", parentBody).hide();
		$("#resniv1", parentBody).show();
		$('.pesqs', parentBody).hide();
		$("#mask", parentBody).hide();
	}
</script>