<form class="form" id="login-form">
    <img id="logo" src="/public/assets/img/logo.png" alt="Logomarca">
    <div class="login center">
        <?php if ($this->status == "nouser") { ?>
            <p class="title"><span>Usuário não encontrado!</span></p>
        <?php } else { ?>
            <p class="title">Bem vindo <span><?php echo $this->user ?></span>!</p>
            <?php if ($this->status == "confirmado") { ?>
                <p class="text">Sua conta foi confirmada!</p>
            <?php } else { ?>	
                <p class="text" style="color: #c51b26; font-size: 12px; font-weight: 600;">
                    Não foi possível confirmar sua conta. Tente novamente ou envie um email para <?php echo EMAIL_SUPPORT; ?>!
                </p>
            <?php } ?>
        <?php } ?>
        <p class="pass"><a href="<?php echo LINK_OFFICE; ?>/login">Clique aqui para fazer login</a></p>
    </div>
</form>