
<form action="<?php echo LINK_OFFICE; ?>/signup/promoter" method="post" class="form" id="login-form form i-recaptcha">
    <div id="message"><?php echo (!empty($this->error)) ? $this->error : ''; ?></div>
    <img id="logo" src="/public/assets/img/logo.png" alt="Logomarca">
    <h4 class="form__title color-1"><?php echo $this->tr->_("enter_your_agents_username"); ?>.</h4>
    <input type="text" name="sponsor" class="input login" placeholder="<?php echo $this->tr->_("your_agents_username"); ?>" value="<?php echo (!empty($this->sponsor)) ? $this->sponsor : ''; ?>" required>
    <button class="btn" type="submit"><?php echo $this->tr->_("ok"); ?></button>
    <select class="input" style="width:70%" onchange="changeLang()" id="lang">
        <option value="pt" <?php if($this->lang == 'pt'){ echo 'selected'; } ?> >Português</option>
        <option value="ko" <?php if($this->lang == 'ko'){ echo 'selected'; } ?> >한국어</option>
        <option value="en" <?php if($this->lang == 'en'){ echo 'selected'; } ?> >English</option>
    </select>
</form>

<script type="text/javascript">

  function changeLang(){

    var val = $("#lang").val();
    location.href = '/signup/lang?lang='+val+'&url=signup/promoter';

  }
</script>