<?php
$ac = addslashes($_GET["ac"]);
?>

<form method="post" class="form" id="login-form">
	<img id="logo" src="/public/assets/img/logo.png" alt="Logomarca">
	<h4 class="form__title color-1"><?php echo $this->tr->_("welcome"); ?> <?php echo $this->login; ?>!</h4>
	<p class="text"><?php echo $this->tr->_("confirm_your_account_link"); ?></p>
	<p class="text"><?php echo $this->tr->_("5 minutes for the message"); ?></p>
	<?php if($ac=="y"){?>
		<button type="button" id="sendEmail" class="btn"> <?php echo $this->tr->_("Send email again"); ?> </button>
	<?php }else{?>
		<a class="btn btn--variant" href="<?php echo LINK_OFFICE; ?>/login"><?php echo $this->tr->_("login"); ?></a>
	<?php }?>
	<div id="message" style="padding-left:10px;"></div>
</form>

<script type="text/javascript">
$(document).ready(function(){
  // this is the id of the form
	$("#sendEmail").click(function() {
		$("#message").hide();
		$("#sendEmail").html('<?php echo $this->tr->_("loading"); ?>...');
		$("#sendEmail").prop('disabled', true);
		$.ajax({
			 type: "POST",
			 url: "<?php echo LINK_OFFICE; ?>/signup/send?user=<?php echo $this->login; ?>",
			 success: function(a)
			 {
				data = JSON.parse(a);
				if (data.status == 'redirect') {
					window.location = data.message;
				} else {
					if (data.status == 'success') {
					  $("#message").addClass('success');
					} else {
					  $("#message").addClass('danger');
					}
					$("#message").html(data.message);
					$("#message").show();
				}
				$("#sendEmail").html('<?php echo $this->tr->_("Send email again"); ?>');
				$("#sendEmail").prop('disabled', false);
			 }
		   });
	});
});
</script>