<h1 class="title"><?php echo $this->tr->_("minha_conta"); ?></h1>
        <div class="card">
        <div id="message"></div>
            <section class="group" id="details">
                <h2 class="subtitle"><?php echo $this->tr->_("endereco_bitcoin"); ?></h2>
                <div class="table-striped-container">
                <?php if (empty($this->bankaccounts)) { ?>
                  <p><?php echo $this->tr->_("pagina_bitcoinaddress_texto_2"); ?></p>
                <?php } else { ?>
                    <table>
                        <thead>
                            <tr>
                                <th><?php echo $this->tr->_("descricao"); ?>:</th>
                                <th><?php echo $this->tr->_("endereco_bitcoin"); ?>:</th>
                                <th><?php echo $this->tr->_("acao"); ?>:</th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php foreach($this->bankaccounts as $key => $value) { ?>
                            <tr>
                                <td><?php echo $value['description']; ?></td>
                                <td><?php echo $value['account_number']; ?></td>
                                <td><a href="<?php echo LINK_OFFICE; ?>/bitcoinaddress/remove?id=<?php echo $value['id']; ?>" class="color-danger"><?php echo $this->tr->_("deletar"); ?></a></td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                  <?php } ?>
                  
                </div>

            </section>
            <section class="group" id="pass">
              <a class="btn pass" href="<?php echo LINK_OFFICE; ?>/bitcoinaddress/new" role="button"><?php echo $this->tr->_("pagina_bitcoinaddress_texto_1"); ?></a>
            </section>
        </div>