<h1 class="title"><?php echo $this->tr->_("minha_conta"); ?></h1>
      <div class="card">
	  	<form class="form" name="form" id="form" action="" method="post" onsubmit="return false;">
			<div id="message"></div>
            <section id="pass">
            <h2 class="subtitle"><?php echo $this->tr->_("novo"); ?> <?php echo $this->tr->_("endereco_bitcoin"); ?></h2>
            <p><?php echo $this->tr->_("pagina_bitcoinaddress_texto_3"); ?>:</p><br>
                <div>
                    <h3 class="card__subtitle-pass"><?php echo $this->tr->_("descricao"); ?>:<em>*</em></h3>
					          <input type="text" id="description" name="description" maxlength="255" class="input-pass" required>
                </div>
                <div>
                    <h3 class="card__subtitle-pass"><?php echo $this->tr->_("endereco"); ?>:<em>*</em></h3>
                    <input type="text" id="account" name="account" maxlength="255" class="input-pass" required>
                </div>
                <div>
                    <h3 class="card__subtitle-pass">Token 2FA<em>*</em></h3>
                    <input type="text" id="cod2fa" name="cod2fa" class="input-pass" required>
                </div>
                <input type="submit" name="" id="bt_save" value="<?php echo $this->tr->_("salvar"); ?>" class="btn" data-loading-text="<?php echo $this->tr->_("carregando"); ?>...">
            </section>
            </form>
        </div>

<script type="text/javascript">
$('#form').submit(function()
{
  var $btn = $("#bt_save").button('loading');
  $.post("<?php echo LINK_OFFICE; ?>/bitcoinaddress/save", { data : $('#form').serialize() }, function (a){
    data = JSON.parse(a);
    if (data.status == 'success') {
      window.location = "<?php echo LINK_OFFICE; ?>/bitcoinaddress";
    } else {
      $("#message").addClass('btn btn-danger');
      $("#message").html(data.message);
    }     
    $btn.button('reset');
  });
});
</script>