<?php

$ewallet_active = $this->ewallet_active;
$withdrawal_active = $this->withdrawal_active;
	
?>

<h1 class="title"><?php echo $this->tr->_("carteira"); ?></h1>
        <div class="card">
            <section id="groups">
                <div class="group">
                    <h2 class="subtitle"><?php echo $this->tr->_("saque"); ?></h2>
                    <div>
                        <h3 class="card__subtitle"><?php echo $this->tr->_("Saldo disponível"); ?></h3>
                        <h6 class="value"><?="USDT  ".number_format($this->availableBalance, 2, ',', '.'); ?></h6>
                    </div>
                    <div>
                        <h3 class="card__subtitle"><?php echo $this->tr->_("Saldo rendimentos"); ?></h3>
                        <h6 class="value"><?="USDT  ".number_format($this->balanceEarnings, 2, ',', '.'); ?></h6>
                    </div>
                    <div>
                        <h3 class="card__subtitle"><?php echo $this->tr->_("Saldo comissões"); ?></h3>
                        <h6 class="value"><?="USDT  ".number_format($this->balanceComissions, 2, ',', '.'); ?></h6>
                    </div>
                    <div>
                        <h3 class="card__subtitle"><?php echo $this->tr->_("Saldo processando"); ?></h3>
                        <h6 class="value"><?="USDT  ".number_format($this->balanceProcess, 2, ',', '.'); ?></h6>
                    </div>
                </div>
                <?php if (isset($this->mess)) { ?>
                  <div id="message" class="color-danger" style="padding: 0 .5rem;">
                  <?php echo $this->mess; ?>
                  </div>
                <?php } ?>
                <?php if (empty($this->bankaccounts)) { ?>
                  <div class="color-danger" style="padding: 0 .5rem;">
                  <?php echo $this->tr->_("Você não tem nenhum endereço Bitcoin cadastrado para sacar."); ?> <a href="<?php echo LINK_OFFICE; ?>/bitcoinaddress"><?php echo $this->tr->_("Clique aqui para adicionar um endereço."); ?></a>
                  </div>
                <?php } elseif($this->openDeposit>=2) { ?>
                  <div class="color-danger" style="padding: 0 .5rem;">
                  <strong style="color:#F00">Você tem faturas em aberto. <a href="<?php echo LINK_OFFICE; ?>/deposit">Clique aqui para visualizar</a></strong>
                  </div>
                <?php } else { ?>
                <div id="message" class="color-danger" style="padding: 0 .5rem; <?php if (empty($this->error)) { ?>display:none;<?php } ?>">
                <?php if (!empty($this->error)) { echo $this->error; } ?>
                </div>
                <form class="form" name="form" id="form" action="" method="post" autocomplete="off">
                  <div class="group">
                      <div>
                          <h3 class="card__subtitle">Saldo de</h3>
                              <select name="accountfrom" class="input" required>
                                <option value="">-- Selecione --</option>
                                <option value="r" <?php if ($this->accountfrom == "r") { ?>selected<?php } ?>>Rendimentos</option>
                                <option value="c" <?php if ($this->accountfrom == "c") { ?>selected<?php } ?>>Comissões</option>
                              </select>

                      </div>
                      <div>
                          <h3 class="card__subtitle">Enviar para</h3>
                          <select name="bankaccount" class="input" required>
                            <option value="">Selecione um endereço</option>
                            <?php foreach ($this->bankaccounts as $key => $value) { ?>
                            <option value="<?php echo $value['id']; ?>" <?php if ($value['id'] == $this->bankaccount) { ?>selected<?php } ?>><?php echo $value['description']; ?> [<?php echo $value['account_number']; ?>]</option>
                            <?php } ?>
                          </select>
                      </div>
                      <div>
                          <h3 class="card__subtitle">2FA (Obrigatório)</h3>
                          <input name="pin" type="text" id="pin" value="" size="4" maxlength="7" class="input" autocomplete="new-password" required>
                      </div>
                  </div>
                  <div class="group">
                      <div>
                          <h3 class="card__subtitle"><?php echo $this->tr->_("Valor"); ?></h3>
                          <input name="amount" type="text" id="amount" size="10" maxlength="25" value="<?php echo $this->amount; ?>" class="input" required>
                      </div>
                      <div>
                          <h3 class="card__subtitle">Taxa (%)</h3>
                          <h6 class="value" id="fee"><?php echo (!empty($this->returnFee)) ? $this->returnFee : "USDT  0,00"; ?></h6>
                      </div>
                      <div>
                          <h3 class="card__subtitle">Total</h3>
                          <h6 class="value" id="total"><?php echo (!empty($this->returnTotal)) ? $this->returnTotal : "USDT  0,00"; ?></h6>
                      </div><button class="btn">Sacar <i class="mdi mdi-arrow-right"></i></button>
                  </div>
                </form>
                <?php } ?>
            </section>
            <section id="history">
                <h2 class="subtitle"><?php echo $this->tr->_("Histórico de saques"); ?></h2>
                <div class="table-striped-container">
                <?php if (empty($this->withdrawals)) { ?>
                <div class="row" style="margin-top: 20px; margin-bottom:20px;">
                  <div class="col-xs-12">
                      Você não fez nenhum saque ainda.
                  </div>
                </div>
                  <?php } else { ?>
                    <table>
                        <thead>
                            <tr>
                                <th><?php echo $this->tr->_("data"); ?></th>
                                <th><?php echo $this->tr->_("Valor"); ?></th>
                                <th><?php echo $this->tr->_("Taxa"); ?></th>
                                <th><?php echo $this->tr->_("Total"); ?></th>
                                <!--th><?php echo $this->tr->_("Quantidade"); ?> BTC</th-->
                                <th><?php echo $this->tr->_("carteira"); ?></th> 
                                <th><?php echo $this->tr->_("endereco_bitcoin"); ?></th> 
                                <th><?php echo $this->tr->_("Status"); ?></th> 
                               <th><?php echo $this->tr->_("Ação"); ?></th> 
                            </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->withdrawals as $key => $reg) { ?>
                        <tr>
                          <td><?php echo date("d/m/Y", strtotime($reg['bco_date_insert'])); ?></td>
                          <td><?php echo "USDT  ".number_format($reg['bco_dollar_amount'] - $reg['bco_dollar_fee'], 2, ',', '.'); ?></td>
                          <td><?php echo "USDT  ".number_format($reg['bco_dollar_fee'], 2, ',', '.'); ?></td>
                          <td><?php echo "USDT  ".number_format($reg['bco_dollar_amount'], 2, ',', '.'); ?></td>
                          <!--td><?php echo $reg['bco_bitcoin_amount']; ?></td-->
                          <td>
                            <?php 
                            switch ($reg['bco_account_from']) {
                              case 'r':
                                echo "Rendimentos";
                                break;
                              case 'c':
                                echo "Comissões";
                                break;
                              default:
                                echo "";
                                break;
                            }
                            ?>
                          </td>
                          <td><?php echo $reg['bco_account_to']; ?></td>
                          <?php 
                            switch ($reg['bco_status']) {
                              case 'U':
                                echo '<td style="color:#025E9B;">Em processo</td>';
                                break;
                              case 'P':
                                echo '<td style="color:#47a447;">Completo</td>';
                                break;
                              case 'C':
                                echo '<td style="color:#FF0000;">Cancelado</td>';
                                break;
                              default:
                                echo '<td></td>';
                                break;
                            }
                            ?>
                            <td>
                            <?php 
                            //Se o saque estiver processando ainda pode cancelar
                            if ($reg['bco_status'] == 'U'){ 
                            ?>
                            <a href="<?php echo LINK_OFFICE; ?>/withdraw/cancel?id=<?php echo $reg['bco_id']; ?>">Cancelar</a>
                            <?php } ?>
                            
                            </td>
                        </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                  <?php } ?>
                </div>
            </section>
        </div>
<script type="text/javascript" src="/public/js/jquery.maskMoney.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('#amount').maskMoney({prefix:'USDT '});
  $("#amount").on('change keyup paste input', function(){
      value = $(this).maskMoney('unmasked')[0];
      if ($.isNumeric(value)) {
        fee = value * <?php echo $this->taxaSaque; ?>;
        total = value + fee;
        $("#fee").html("USDT  " + fee.toFixed(2));
        $("#total").html("USDT  " + total.toFixed(2));
      }
  });
});
</script>